"child-parentpledge
"kid-safesitesdivided
(PCs
(WBWhttp://sunsite.unc.edu/btbin/birthdayProvides
(and
(for
(freeand
(if
(of
(only
(or
(remember
*Crayolahttp://www.crayola.com/crayola/home.htmlProvides
-Home
8-Ball
8-BallThehttp://www.resort.com:80/~banshee/Misc/8ballAsk
8-ballFroggy
Adventures
Adventures
Alice's
Allison's
America
AmericaHull's
Americahttp://www.scouting.org/scoutingProvides
American
Animationhttp://winnie.acsu.buffalo.edu/potatoe/potatoe.htmlOffers
Annie's
ArtGoodieshttp://gagme.wwa.com/~boba/otherascii.htmlContains
Ask
Bert's
Best
Birthday
Bob's
Book
Boy
Burlingame
Canadaand
Carroll's
Cat's
Center
Chicken
Child
ChildrenAdoptee
ChildrenLists
Childrenhttp://www.cochran.com/theosite/KSites.htmlCategorizes
Classifiedshttp://www.law.cornell.edu/~shelden/adoption.htmlProvides
Club
Collectors
Coloring
Corporation
Cradle
Craft
Crayola
Day
Did
Division's
Dollsand
Dr.Internethttp://ipl.sils.umich.edu/youth/DrInternetPresents
English
Exploited
FTP
Fashion
Fatehttp://www.dtd.com/skullsLets
Head
Head
Home
Home
Home
Home
Home
Home
Home
Home
HomePagehttp://www.kidscom.comPresents
Homehttp://robot0.ge.uiuc.edu/~carlosp/colorOffers
Homehttp://www.mtlake.com/cyberkidsOnline
Homepagehttp://www.tyrell.net/~admark/chicken.htmlOffers
Indexhttp://www.delphi.com/young-america/edref/edmenu.htmlOffers
Information
Information
Information
Internet
Internet
Internetand
Internethttp://www.digimark.net/iatech/booksSports
Internetschoolsand
Investment
JapanKidPub
JapaneseAccepts
KidoPedia[md]an
Kids
KidsCom
KidsPagehttp://gagme.wwa.com/~boba/kidsi.htmlLists
Kidshttp://www.webfeats.com/illusion/index.htmlContains
Kite
LEGO
LEGO
Labor
Learn
List
List
Lite-Brite-style
MS-DOS-based
Macintosh
MacsTrove
Mailing
Mailing
Marmaduke's
Master-MindMarmadukerhttp://www.unitedmedia.com/comics/marmadukeContains
Mindhttp://einstein.et.tudelft.nl/~mvdlaan/WebMind/WM_intro.htmlOnline
Missing
Mountain
MrPotato
National
Netscapeits
Network
Networkhttp://ericps.ed.uiuc.edu/npin/npinhome.htmlProvides
Nowhttp://www.dnai.com:80/~childrenNonprofit
On-Line's
Origami
PCC
PCs
PEZ
PEZExhibithttp://www.spectrumnet.com/pezProvides
PageThehttp://www.dsu.edu/projects/word_of_day/word.htmlOffers
PageThehttp://www.onramp.ca/~lowens/107kids.htmLists
PageUncle
Pagehttp://mineral.galleries.com/annie/auntannie.htmFeatures
Pagehttp://www.cs.yale.edu/HTML/YALE/CS/HyPlans/loosemore-sandra/froggy.htmlProvides
Pagehttp://www.dcn.davis.ca.us:80/~bang/peanutsProvides
Pagehttp://www.hipark.austin.isd.tenet.edu/home/teachers/grade.k/hull/main.htmlExhibits
Pagehttp://www.kidscom.com:80/kidscomServes
Pagehttp://www.manymedia.com/show-n-tellLets
Pagehttp://www.netnanny.com/netnanny/home.htmlOffers
Pagehttp://www.xmission.com/~wwwads/sharware.htmlHouses
Parent
Peanuts-related
Peter's
Presentshttp://I-site.on.caA
Programs
Rocky
Safety
Sciencehttp://www.ed.gov/pubs/parents/Science/index.htmlProvides
Scouts
Scouts
SeriesRachel's
Servicehttp://www.hal.com/services/juggleProvides
Servicehttp://www.rhein.de/Mailing-Lists/teddy-bearsProvides
Show-n-Tell
Sitehttp://www.latrobe.edu.au/Glenn/KiteSite/Kites.htmlProvides
Sites
Skulls
Software
Spirographhttp://juniper.tc.cornell.edu:8000/spiro/spiro.htmlPresents
StarchyTuber
Superhighwayhttp://www.compuserve.com/new/news_rel/chldsfty.htmlContains
TexasThe
Thishttp://sln.fi.edu/tfi/hotlists/kids.htmlContains
Trivia
Voice
WWW
WWWPublishinghttp://www.en-garde.com/kidpubOffers
WarbirdsProvides
Web
Web
Web
Web
Web
Web
Whyhttp://www.eng.auburn.edu/~rudolmc/why.htmlPresents
Wonderlandhttp://www.cs.indiana.edu/metastuff/wonder/wonderdir.htmlLewis
WonderlandonlineAlphabethttp://www.klsc.com/childrenOffers
Word
Wu's
Yahtzee
Your
Youthhttp://rmii.com/~pachecod/kidsnet/ckids.htmlProvides
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
about
about
about
about
about
about
about
about
about
about
about
about
about
about
according
account
activitiesAlso
activitiesChallenges
activitiesincluding
add
addressesIncludes
adoptionIncludes
adultsaround
advocacy
agesMagic
all
all
allSciTechInchttp://scitech.lm.comPresents
allowing
alphabet
also
also
an
an
an
an
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and/or
animation
answer
answer
answer
answerJason's
any
archive
are
art
art
art
articles
artsand
as
as
as
as
ask
asother
atoryThe
available
bears
being
being
best
birthdayWorld-wide
book
books
books
brain-teasergames
briefly
brochure
by
by
by
by
by
by
can
can
can
can
can
candies
candiscuss
catalog
categorized
chicken
child
childContains
children
children
children's
children's
children's
children's
children's
childrenConcertinaBooks
childrenKidsCom
childrenKidscrossing:the
childrendrew
childrenin
childrenupdated
choose
class
click
collectorsTotwarehttp://www.het.brown.edu/people/mende/totware.htmlOffers
color
coloring
computer
computer
connected
considered
contact
cookiehttp://hci.ise.vt.edu/~kelso/fortune.htmlProvides
copy
could
could
counselorsOUDPSKidSafetyhttp://www.uoknor.edu/oupd/kidsafe/start.htmProvides
countingPlans
craft
craft
craftsIncludes
crayonsAlso
create
create
created
created
creation
creationsAlso
creationsJuggling
current
dayCrayolaCrayolaCrayola
describes
designspatterns
details
different
dinosaurs
directions
discussion
dispensersWhy
distance
diverse
documents[md]similar
doing
done
download
download
downloadCraft
drawn
draws
each
educational
educational
educationhealthwelfareand
encyclopediaIPL
every
every
exhibitseducational
experiencesWWW
experimentsHotlistKids
extremesTeddy-Bears
familiesas
far
few
fightsand
find
find
find
food
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
forthKidsCom
fortune
fortunes







forum
free
frogsGlobal
from
from
full
full
fun
fun
funBob
funLinks
further
game
gameCYBERKID'SCLUBhttp://mack.rt66.com/kidsclub/home.htmOffers
games
gamesASCII
gamesCyberKids
gamesWWW
gamesfictionand
geography
getMarcel's
graphic-heavyhassoundsoriginates
groupProvides
guys
hands-on
hands-on
hard
harmon
have
have
have
having
help
humor
hundred
icons
ideas
illustrated
images
in
in
in
in
in
in
in
includes
includes
information
information
information
information
information
information
information
information
information
information
information
information
information
information
information
informationServes
informationand
informationlinks
innovative
inputYour
instructionsand
integrate
interactive
interactive
interactively
international
international
into
is
is
is
ithttp://gs213.sp.cs.cmu.edu/prog/distEnables
join
joining
jugglingKid's
just
just
keypal
kid-related
kids
kids
kids
kids
kids
kids
kids
kids
kids
kids
kids
kids
kidsIncludes
kidsIncludes
kidsInternet
kidsKidsPlaceThehttp://www.islandnet.com/~bedford/kids.htmlLinks
kidsbooksAnother
kidssitesBoy
kidssitesKidsSpacehttp://www.interport.net/kids_spaceExhibits
kidsthe
kindergarten
kite-flyingJoseph
kites
knows
laid
learn
learning
learningcreativityand
legal
lessonsBerit's
letters
lifeWierenga
lifeand
like
link
link
links
links
links
links
links
links
links
links
links
linksNational
list
list
listAdoptees
lists
lists
literature
locally
long
lucky
lucky
madeAunt
magazine
magic
mail
mailing
main
make
make-your-own-adventurestoriesServes
making
many
many
material
math
meet
meeting
model
monthlyReferences
more
more
more
more
morePeanuts
mouseRequires
moviesa
multiauthor
named
network
new
new
new
newspaper
newspapersSearchableHow
non-fictionEdible
numbers
numbers
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
offer
offers
offers
offers
on
on
on
on
on
on
on
on
on
on
on
onCarlosColoring
online
online
online
online
online
online
online
online
onlineCanadian
onlineWelcome
only
onlyWeb-Yahtzeehttp://wwwcgi.umr.edu/cgi-bin/cgiwrap?user=nneul&script=webyahtzee.plLets
option
or
or
or
or
or
order
origamiOffers
other
other
other
other
other
other
other
otherreadshopand
out
out
out
out
own
own
own
own
pagecomplete
pagehttp://psy.ucsd.edu/jhartung/adoptees.htmlProvides
pagehttp://www.cs.ubc.ca/spider/jwu/origami.htmlPresents
pages
pages
pagesCanadian
pagesPsychic
parentingIncludes
parentingfamily
parents
parents
parentsteachersand
parentstooLEGOInformationhttp://legowww.homepages.comProvides
passwordand
people
personal
pictureanddescribed
pictures
pictures
pictures
place
place
place
play
play
play
play
playground
playing
poems
poemsI-Site.on.Canada
polygonic
possible
post
posting
prepared
presents
problem-solvingwhile
products
productsT.W.I.N.K.I.E.SprojectThehttp://www.rice.edu/~gouge/twinkies.htmlPresents
programavailable
programsAlsooffers
project
project
projecthere
projects
projects
projectsinteractive
protect
psychic
purpose
put
put
question
question
question
questionAlso
questions
rates
readingas
reason
register
registered
related
related
resources
resourcesAlice's
reveal
reviews
rulesChildren
safe
safety
safety
safetyavoiding
safetyfire
school
science
science
science
scienceeducation
sciencelanguage
screen
section
sections
see
see
serve
serversHelping
set
seven
several
shareware
short
show
simple
site
site
siteChild
sites
sites
sites
sites
sitesOffers
sitesand
skull
so
so
software
software
software
softwareWorld
some
special
spirograph
stories
stories
strange
string
stripsmentor5.htmlhttp://shasta-co.k12.ca.us/www/telementors/mentor5.htmlLists
submissions
suggested
suggested
symbolsAsylum'sLite-BriteThehttp://www.galcit.caltech.edu/~ta/lb/lb.htmlAllows
teach
teachers
teddy
ten
text
text
thanentries
thanlinks
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
their
their
their
them
themselvesIncludes
then
these
they
think
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
together
togetherFellowbug's
took
toprintand
torelated
trivia
troops
two
two-week
typed
types
typewriter
unwanted
urban/minority
usage
use
used
usersamong
using
using
variety
various
version
versions
versions
versionsCool
way
ways
web
web
webshttp://www.ece.ucdavis.edu/~darsie/string.htmlTeaches
weekEmphasizes
well
well
what
what
what
where
whether
which
which
which
which
who
who
windowhttp://kiku.stanford.edu:80/KIDS/kids_home.htmlTeaches
with
with
with
with
word
work
work
work
work
worldConsists
written
you
you
you
you
you
you
you
you
you
you
your
your
your
your