


Clients



Land



Newport
001


Charter
10


Smoking
100


Telephone
100


Water
103


Tort
106


Official
11


Container
134


Alcohol
174


School
200


Hospital
200


Maricopa
201


Insurance
218Right
300


Transportation
302


M.LKing
44Oregon
6


Scottsdale
A


Container
A


International
A


Land
A


Land
A


Oil
A


Transportation
A


Zoning
Airport


San
Annexation


Fort
Application


Seal
B
BTransient
BarbaraCA


1985





No
BeachCA


1979





No
BeachCA


1979




Yes
BeachCA


1982




No
BeachCA


1985





Yes
BeachCA


1986





Yes
BeachCA
About
C


Growth
CDeep
Campaigns











A
CampaignsAwardsFeedback




CityAZ


1986




Yes
ClementeC


1986





No
Clients







Measure

Issue
Jurisdiction
Year

No
CollinsCO


1984




Yes
Communications
Contact
Control


RiversideCA


1987




No
CountyAZ


1985





No
CountyCA


1984





No
CountyCA


1989




Yes
CountyCA1996
No
CountyNJ


1988




Yes
CovinaCA


1981





No
D


Election
D


Land
Deposits


California


1982





No
Deposits


Mercer
DiegoCA


1994





No
DiegoIrvine


















Political
District
District


Pinal
English


Arizona


1988





No
Excise
Finance


Maricopa
Finance


Orange
Firm
SacramentoSan
FranciscoCA


1983





No
G


Land
GazetteHow
Government


Bullhead
GroupThe
Holiday


Arizona


1990





Yes
Housing


Huntington
Initiative


California


1993





No
InitiativeOregon1996
Yes
K


Toxic
L


Affordable
Land
Meet
MiningYolo
N


General
N


Zoning
NCGNelsongroup
Nelson
Occupancy
P


Workplace
People
Pit
Plan
Processing


Santa
Professional
Public
Rate
Referendum


Indian
Reform


Arizona


1986





Yes
Reform


Newport
Reform


Newport
Reform


SurpriseAZ


1985





Yes
Regulatio


Arizona


1986




Yes
Regulation


Arizona


1984




No
Relations
Restriction


San
Restrictions


Newport
Road
Rollback


Arizona


1990





Yes
Sections


California


1980




Yes
Smoking


San
SpecialtiesCase
Stadium


ScottsdaleAZ


1989




Yes
StudiesClients
Tax


California


1990




No
TaxAnaheimCA1996


Yes
TaxesCalifornia1996
No
Tobacco
UsAgency
Use
Use
Use
Use
Use


West
Vote
Voucher
Waste
WellsCA


1987





No
You
Zoning


OceansideCA


1994




No
and
and
at
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
to
to