


A

Earthsave

and

next

peeler

pumpkin

sections

slice

very
&ampSoup
&ampViews

The
(85gOriental
(dried
(if
(maple
(or
(preferably
(reserve
(roastedsalted
(seaweed
squaresabout
(use
12.4gcarbohydrates15gfibre3.5g.
Sweet
1996


Earthsave
2-to-3-quart
4-inch
731-5885.



JuneIssue
Shared
Balsamic
Bzinccalcium
Canada
Canadian
Choy
Choy
Cliff&#146;s
Cole
Cran-Orange
DWith
Dash
Pinch
Dijon
Dinner.
Oriental
Dressing
The
EarthSave&#146;s
Flax
June
Kitchen:
California
Kitchen:
Zingy
Library
Shared
McIntyre
Mix
vegetable
Mrs
News
Noodles
NovemberEarthSave
Potluck
Oil
Oils
On-line
Recipes

Shared
Recipes
Summer
Salad
Salad


Here&#146;s
Salad


The
Salads


Extra
Salads
What
Savoy
Slaw


The
Soups/Salads/Appetizers
Sour
Soy&#151;which
Sui
Sushi
Tanya&#146;s
Valerie
Vegetable
Village






Vinegar
Vision
Vision's
Vision's
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
boil
a
plateful
aboutcupOlive
acids
acids
add
after
ahead,
cover
allow
allow
this
almond
also
alternative
always
among
amounts
an
an
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
vitamin
andtbsp
anti-oxidantsDoes
apart
appetizer.
Seaweeds
appetizing
are
are
are
likely
as
as
as
as
as
as
as
as
asked
asmain
asparagus
at
at
autumn.
This
available)



Dressingcup
axinch
be
be
be
be
be
bean
beansor
become
being
best
best
best
best
bestAllother
beta
bite&#151;about
blenderPuree
boiling
bought
bowl
bowlSui
bowlcup
broccoli
butter
by
by
by
cabbage
cabbage
thinly
cabbageshreddedcup
calcium
calories
can
can
can
be
canola
carrot
peeled
carrots
carrotscup
category
celerydicedcup
centrepotlucks,
and
chemicals
or
choose
chopped
chopped
cider
clove
cloves
cold
cold-pressed
oils
colourcups
colourful
company&#151;
Pacific
condiment
platter
condiments
condiments):
caloriesprotein4gfat0.4gcarbohydrates41.2gpercentage
of
container
should
conveniently
cook
cooked
cool
coolMix
cooled;
pickled
could
be
cow&#146;s
cran-raisins
cranberries
preferably
cranberriestry
crispcolourful
crisped
Aboutdozen
crumble
crunchy
cucumber
cucumbercup
cumin
cup
currently
curry
dabs
dairy
dark
day
day
delicate
dicedstalk
dipcup
dipped
dishesthey
distinct.)
ServesPer
don&#146;t
don&#146;t
have
drainedcanned
dressing
dressing
dressing
dressing,
addtbsp
dressingIf
dressingsWhen
used
dried
dried
each
eat
eat.

Condiments:

Avocadopeeledpittedsliced
endive,
French
entr&eacute;e
in
essential
essential
eventstelephone
excessivelyand
expiry
date
extra
extra
extra
fat2%.

The
favourite
favourite
fine
pinch
finecup
finely-chopped
finely-diced
fishAvailable
five
five
flavour
flavour
flavour
flavourAdd
flavourContains
flavoured
flavouring
flax
flax
flax
flax
oil
flaxcanolasoybean
floretscut
following
food
for
for
for
for
for
for
for
for
for
for
for
for
vegans
form
fortified
fortified
freeze
fresh
fresh
fresh
fridge
for
from
full-bodiedfirst
fun
garlicpressedtsp
garlictsp
ginger
ginger
gingerfresh
gingerpeeled
gingerslice
gives
gives
goes
government
grainsThe
gratedan
great
great
way
green
green
greens
greenskaleDutch
ground
ground
has
have
heat
heat
heatReduce
heated
herb
herbs.

From
here
high
hot
hot
hours.

Divide
hoursAllow
in
in
in
in
in
in
in
in
in
in
in
in
include
included
incorporating
incup
industriesThey
industry
industrysupporting
info
ingredients
ingredients
into
into
into
ironcalcium
is
is
is
is
is
it
it
judged
juicepackets
juicerice
juicetsp
kept
kettle-full
large
leaf
least
leavesrinsed
lemon
lemon
lemon
let
lettuce
lettuceadd
lettucetorncups
light
light
light
lighter
little
mayonnaise
longer
low
magnesium.
To
make
making
mandarins)
peel
manoeuvre
maple
market
match-stick
medium
medium-grain
milk
milk
milk
milk.

Prepare
milkto
minced
minerals
minimize
minutes.

Sprinkle
minutesStir
misotsp
mix.



Combine
more
more
more
more
much
mustard
mustard



Optionaltsp
natural
natural
natural
food
need
new
noodle
noodles
nori
nori
not
not
not
novel
nutrients

For
nuts
nutty
obtain
adequate
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
proteinsuch
ofan
off
offer
often
oil
oil
oil
can
oilA
oilThe
oilTo
oilcup
oiltbsp
oiltbsp
oiltsp
old
olive
olive
olive
olive
omegafatty
omegafatty
on
on
on
on
on
one
one
one
onesthinly
onion
onionchopped
onionorlarge
onionpeeled
opportunity
or
or
or
or
or
or
or
or
or
or
or
or
or
or
orange
orange
orangelarge
organiccup
ortsp
other
other
other
soy
others
over
over
over
over
packaged
packages



Stir
packets
panTurn
panrinse
paprika





ServesPer
particularly
pecanscup
peeled
pepitas
pepper



(NoteThis
peppertsp
periodsCold-pressed
oils
peroxidationLook
pickle
piece
piecesand
pink
place
plates.
Spoon
poorer
pour
powder





Place
powerhouse
press
pressedThe
producing
products
provide
quality
raisins
recipe
recipe
recipe
recipe)
Pour
recipecalories159;
protein2.7gfat
recipecaloriesprotein11.3gfat18gcarbohydrate19.3gfibre4g.

EarthSave
recipecaloriesprotein:
6.3gfat7.3gcarbohydrates19gfibre4.4g.

From
red
refrigerate
for
refrigerate.
It
refrigerateor
refrigerationFound
in
requestwe
resource
rice
rice
rice
rice
rice
rice
rice
rice
rice
rice
riceCookcovereduntil
riceCoverbring
riceIf
ricecup
richest
runs
cleardrainAddcups
salad
salad
salad
salad(Spike
salads
composed
saltSpike
salttsp
sauce
saucetsp
sea
sea
seasoned
seasoned
seasoned
rice
seasoning.)
ServesPer
see
seeds



Break
seeds)



Dressingtbsp
seeds.
Selecting
servingof
servingof
servingof
servingof
sesame
sesame
shave
shortor
should
shreddedlarge
sievepackages
sistosterolvitamin
Eand
sixlettuce-lined
size



In
slawmedium-sized
sliced.

Saladhead
slices
slightlyDrain
sliverscup
small
small
smallred
smoothCover
sorrel
soup
source
source
soy
soy
soy
soy
soy
spatula,
then
spinachdrainedsqueezed
and
spread
out
sprinkled
sprouted
sprouts
sproutsbite-sized
sproutscup
steamed
steamed
step
stores.

Flax
storesthe
stripscup
substituted
such
such
such
such
sugarcup
summer&#146;s
sunflower
supermarkets
supply
supplying
as
sushi
sweetener
syruphoneytsp
syruptsp
tamari
taste
sensation.

Cole
tasteand
wrap
tastes
ten
tender
to
than
that&#146;s
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
then
these
these
thin
thin.

Basic
thinly
thinly-sliced
this
this
this
this
those
who
three
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
soften
toasted
toasted
toasted
together
toothpick-thin
turns
two
two
types
unsulphuredcup
until
until
up
up
use
use
used
used
using
vegansor
vegetable
vegetables
vegetablesSalads
very
very
vinegar
vinegar
vinegar
vinegar
(orcup
vinegar
juice
vinegar;
your
vinegarGarnish
vinegartbsp
vinegartbsp
virgin
virgin
virgin
virgin
walnut
was
wasabi.

ServesorPer
water
water
water
water
watercress&#151;sliced
watertomedium
weekMakes
well
white
who
whole
wide
will
with
with
with
with
with
with
with
with
with
saladsand
without
without
wonderful
you
young
zingy