



Space
(23.5cm
(3cm
(5.8cm
wavelengthand
(ASIIt
(ASIThe
(DARAand
(DARAand
(EOSSAR
(EOSimaging
(MRSEflown
(NASAthe
(NASAthe
(SARinand
(SIR-C/X-SAR)
is
(SIRprogram
(Vertically-transmitted,
Vertically-receivedHVand
([[lambdacm).
These
([[lambdacmand
([[lambdacmwith
(at
(e.gERS-1,
JERSand
(groundtrackThe
(linearcircular
(orbitsper
+/-23degfrom
3.7
meters
60degin
8
bits
ASI
About
Administration
Aeronautics
Aeronautics
Agency
Agency
Agency
Airborne
Altitudekm
Resolution	typicallyxm
Amazondesertification
AngelesCaliforniaNorth
Angle
Aperture
Aperture
RadarSIR-C/X-SAR
Ball
Communication
C-band
C-band
C-band
C-band
C-band
antennas
C-band
measurements
C-bandEach
CharacteristicsPARAMETER	L-BAND	C-BAND	X-BAND
Wavelengthmmm	
Swath
ConsumptiontoW



SIR-C
DARA
Data

	During
Datahours/channel/mission
Total
Description


	The
Description
What
Division
Dornier
EOS
Earth
Earth
Earth
Earth
orbitthe
Earth's
Earth's
Experimentand
Floating
Formatbits/wordbits/wordbits/wordBFPQBFPQBFPQ


BFPQBlock
German
German
HHVVVHand
HV
Home
Home
Image
Imaging
Imaging
Imaging
Instrument
Instrument
Instrumentation

	SIR-C
Italian
Italian
Space
Italy
JPL
JPL
Jet
L-band
L-band
L-band
L-band
L-band
L-band
Laboratoryand
Lengthususus
Data
Los
Magellan
Mission
Masskg
DC
Microwave
Mid-West.

Deploying
NASA
NASA's
Spaceborne
National
National
Objectives

	SIR-C/X-SAR's
Observing
Observing
PARAMETERS:


Orbital
Page




Page
Imaging
Point
Power
Project

	SIR-C/X-SAR
Propulsion
Quantizationa
RTF
Radar
Radar
Radar
Radar
Radar-C
Radar-C/X-band
Rangetodegrees
RateMbits/sMbits/sMbits/s
Data
Ratetopulses
Remote
Remote
Repetition
SAR
SAR
(AIRSAR).

	SIR-C
SAR
processorThe
SEASAT
SEASAT
SEASATInvestigators
SEASATSIR-Aand
SIR
SIR-A
SIR-AGermany's
Microwave
SIR-B
SIR-B
SIR-BIt
SIR-C
SIR-C
SIR-C
SIR-C
SIR-C
SIR-C
SIR-C
instrument
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR
SIR-C/X-SAR

	The
SIR-C/X-SAR?

SIR-C/X-SAR
SIR-C/X-SARantenna


The
SPACELAB
Saharaand
Science
Science
Seasat
Sensing
Sensing
Experiment
Shuttle
Shuttle
Shuttle
Shuttle
Shuttle
Shuttle
Shuttle
ShuttleThis
Space
Space
Space
Space
Space
Administration
Space
Agency
Space
Shuttle's
Synthetic
Synthetic
Synthetic
Aperture
System
System
System
Systems
TOPSATa
This
VHand
VV
VV
Venusother
Widthtokmtokmtokm
Pulse
X-Band
X-SAR
X-SAR
X-SAR
X-SAR
X-SARfor
X-SARinstrument
X-band
X-band
X-band
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
summary
a
three-frequency
a
total
a
traveling
aboard
aboard
about
acquired
acquired
activity
Soil
actually
adjusted
electronicallyThe
affect
aircraft
allow
allows
allows
alone
alone

	Germany's
also
also
an
an
an
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
Space
and
associated
and
one
andAlenia
Spazio
angles
betweenand
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna
antenna



	Unlike
antenna.
This
antennas
antennas
are
are
are
are
area
area
area
area
shown
array
array
arraysone
arraythe
transmitterthe
as
as
as
as
as
as
as
as
assembled
at
at
at
at
at
at
at
at
at
at
two
automatic
backscatter
basisFrom
bay
bay
bayOn
be
be
be
be
be
be
be
be
be
be
be
be
deployedand
beam
beam
beam
beam
beams
beams
beams.


	Both
began
begin
behind
bemegabits
benefits
between
between
both
built
built
by
by
by
by
by
by
by
by
by
by
by
by
acquiring
bymetersThe
can
can
can
be
capability
capability
capability
cargo
cargo
cargo
channelsso
characteristics.

TableSIR-C/X-SAR
closed
closed




Space
collected
combinationsHH
(Horizontally-transmittedHorizontally-receivedVV
companies
comparable
complete
components
composed
composed
composed
compression
configuration
consists
consists
consists
constructed
content
Ocean
continued
continued
contributions
cooperation
cooperative
corresponds
coverand
created
data
data
data
data
data
data
data
data
data-handling
dataThe
dataThe
datain
decade

Science
decade.



This
deforestation
deforestation
Soil
derivation
desertification



SIR-C/X-SAR
designed
detailed
develop
development
diagram
different
different
digital
direction
direction
direction
direction


SIR-C/X-SAR
directions
Volcanism
discernible
discontinuities
divided
document
doors
doors
doors
doors
dual-polarized
microstrip
during
dynamicswave
each
each
earth's
earth's
either
either
side
electronically
embedded
employ
phased
enable
end
energy
environmentsuch
erosion
eventually
exciterreceiverand
experience
experiment
experiment
experiments.

SIR-C/X-SAR
extracting
information
feature
fed
feed
fit
flightSIR-C/X-SAR
flown
following:


Vegetation
for
for
for
for
for
for
for
for
for
for
for
forSpaceborne
form
formed
forward
forwardThe
four
four
frequencyX-band.
The
from
from
from
from
from
from
from
from
from
fromtokilometersdepending
fromtokilometerstomilesdepending
fromtometersThe
gained
generated
geometric
structurevegetation
globallyand
grid
ground
ground
groundand
handling
subsystemA
hardware
hardware
has
help
help
horizontal
and
horizontally-polarized
how
hundreds
illuminating
image
image
image
image
image
image
image
image
brightness
imaged
images
images
images
images
images
images
generated
images
with
imaging
imaging
imaging
in
in
in
in
in
in
in
in
in
in
in
the
in
the
inIt
inThe
inThe
inand
incidence
angles

	X-SAR
include
incontinuing
increased
individual
antennasone
influenced
information
information
about
initiatedX-SARwill
inside
instrument
international
into
into
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
isx
its
capability
its
state-of-the-art
joint
just
kilometers
large
later
later
in
launch
lead
leaves
low
magnitude
make
make
measurements
maneuvers
mapped
out
mapping
massive
matrix
matrixevery
measure
measure
topography
measurefrom
measurements
measuresmeters
measuringxmetersOther
mechanical
mechanicaltilt
mechanism
microwave
mission
mission
mission
missionsthe
modeTablepresents
moisture
moisture
monitoring
more
most
most
moves
moving
multi-frequency
multi-frequencymulti-polarization
nadir
nadir
nadir
BandwidthandMHz
Pulse
networkThe
next
next
next
nominal
40degoff
not
objects
observation
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
radar
of
small
of
the
of
the
of
the
of
the
of
the
ofhours
ofkilogramsever
on
on
on
on
on
on
on
on
on
on
on
the
one
wavelength/polarizationsuch
onto
openedthe
openshowing
operate
at
operated
operatedand
operates
operating
operational
or
or
ellipticalcan
out
over
over
over
overall
pageAfter
panels
passive
peak
per
per
per
phase
difference
phasing
phenomena
physically
piece
pixel
pixel
planar
planned
point
pointing
pointing
pointingData
from
polarimetric
data
polarization
polarization
polarization
polarization
polarizationresulting
polarizations
polarizations.



	The
polarizationsThe
port
position
power
precursor
to
preparation
previous
processed
processes
processingThe
produced
program
program
program
program
programs
project
properly
prototype
provide
provide
provide
provide
provide
provides
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
radar
antennaBy
radar
backscatter
radar
is
radars
radars,
beginning
radiatorswith
range
range
range
rate
reached
received
on
receiversthe
relative
resolution
retention
returnsThis
right
roughlymillion
rtftohtml
same
sample
sample.

SYSTEM
scales
scattering
scene
scheduled
schematic
scientists
scientists
second
Total
secondThe
seen
seen
selectable
sensors
separate
separate
separate
corporate
series
several
shown.

More
shows
shuttle
shuttle
shuttle
signature
simultaneously
single
single-wavelength
size
size
slotted
slotted
soil
solid
some
some
source
south
space
spaceborne
spaceborne
spacethe
speeds
square
stable
stand
stands
started
state
steered
step
step
strongly
structure
structure
structure
subpanels

Model
subsurface
subsystemand
subsystemsthe
such
surface
surface
surface
surface
surface
surface
Look
surfaceRadar
surfaceThis
swath
swath
switched
system
system
system
system
systemBecause
take-offthe
team
techniques
technology
technologywhich
tectonic
than
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
NASA
the
SIR-C/X-SAR
the
first
the
graphic
the
ground
the
orientation
the
physics
the
radar
these
third
this
decadeThe
this
scattering
those
those
three
three
three
different
tilt
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
change
tobits
together.
Roll
total
total
transmitted
transmitteran
transmitters
transmittersthe
tube
two
two
two
typeextent
typewhich
understand
understand
uniform
unique
use
used
used
uses
using
using
varies
vary
version-->SIR-C
vertical
verticallyand
was
was
was
was
was
wave
waveguide
waveguide
antenna
wavelengthThe
wavelengthone
wavelengths
([[lambdaLband
wavelengthsSIR-C
wavelengthsand
wavelengththis
waves
week-long
which
which
which
wide
wide
width
width
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
wind
with
with
with
with
with
with
with
with
previous
without
yaw
yield