







SERVICES
-SAS70-
&quot;criteria&quot;


services

mean
&copyAshland
Accounting
ERISA
ServicesP.C.
info@aascpa.com















a
accordance
accordance
account
advisory
advisory
agreement
agreement
amendmentsthat
and
and
and
and
and
and
and
are
are
are
are
are
are
are
audit
background
checks
basisAgreements
be
be
cash/security
acceptance
checks
closureincluding
complaints
controls

other

home





&quot;SAS70&quot;
The
document
documented
doing
what
doing.



Procedures
each
clientTransactions
employees




Copyright
ensure
ensure
compliance
ensure
customer
ensure
proper
established
criteriaProcedures
executed
executed
for
fund
if
in
in
in
in
including
investment
guidelines/provisions
investmentsEmployee
is
maintained
maintained
manager
monitored
necessary
new
objectives

client
obtainedmaintained
of
of
of
on
on
or
performs
place
to
properly
prospectusPortfolios
regularly
relationshipare
reporting

system
requirements
resolved
see
set
should
should
signed
suitability
of
supervisedPersonnel
taxregulatory
tell
terms
that
that
the
the
the
the
the
the
the
the
scope
they
they
timely
to
to
to
to
to
trained
transactions
transferProcedures
underlying
upmodification
with
with
with
the
you
you?

control