04:26:56:
I've
Bruce
Cincinnatti
Cincinnatti
Dovidio
EnglandUSA.



Optional
EnglandUSA.


Follow
Followup






Name
E-Mail
Subject
CommentsI've
FollowupWorkspace
FollowupWorkspace
GroupFAQ
GroupFAQ
Image
Link
Milacron
Milacron
New
New
Octoberat
Title
Optional
Tthat
Tthat
URL
Link
URLFollow
Ups:

ReWho
UpsPost
UpsPost
User
User
Who
]


]

Posted
a
a
a
a
a
a
a
a
a
a
an
an
and
and
and
and
by
clean
clean
duty.I
dutyI
for
for
for
for
got
got
home.I'm
home.It's
homeI'm
homeIt's
in
in
it
it
it
it
it's
it's
light
light
like
like
located
located
needs
needs
new
new
new
new
nice
nice
offer
offer
on
onlyhrs
onlyhrs
recieve
recieve
robotFollow
robotWho
robotwalter
send
send
to
to
to
to
unit
unit
used
used
wants
wants
wants
weisel11/04/96
(0)




Post
with
with
would
would