



Medicine
&ampSupportWhat's
&quot;exaggerated&quotthree-dimensional
field
&quot;in&quotand
&quot;normal&quotthree-dimensional
field
&quot;out&quot;
positions
&quot;performance
&quot;stop&quot;.
Furtherthe
&quot;stop&quotde-activated
&quot;trade-off&quot;
is
(88
casesThe
(HMDthe
Harmonic
(LCSadds
(MISTISt.
Joseph
(a
(along
(cholecystectomy)
or
(most
(nissen
(subtotal
colectomiesgastric
(surgeon
(with
1.4
compared
100%
effective
200
Consecutive
21204


ABSTRACT-
Resource
24
patients
3-D
3-D
3-D
3-D
3-D
3-D
3-D
3-D
3-D
image
3-D
monitor
60-minute
60-minute
60-minute
60-minute
60-minute
interval
ACCOMMODATE
IMPROVED
AND
ARM
Abdominal
Access
Activated
ActivationThe
Advanced
Minimally
AgeFuture
Applied
Assistant
Assisted
Author:


WPeter
CMCAFEEM.D.

from

Minimally
COMPLEX
MINIMALLY
Camera
Center

BaltimoreMD
Center

BaltimoreMaryland


Corresponding
Cholecystectomy
Concept
Concept
Cumulative
Sophisticated
DECREASED
Developers
DevelopmentSurg
DiegoCaliforniaJanuary


ROBOTIC
Display
Display,
3-D
DisplayAESOPthe
EFFICIENCY
ENHANCEMENT
Endosc1995.






Company
EndoscAmaralJFLaparoscopic
EndoscGeisWPHead-Mounted
EndoscSatavaRM3-D
EndoscWangYThe
Este-McDonaldJ:
A
Expo
CambridgeMAJuneGeisWP
Fourth
GEISM.DHCHARLES
Gastrointestinal
GeisM.DFACS

DirectorMinimally
Global
Visual
HMD
HMD
HMD
HMD
HMD
HMD
HMD,
3-D
HMDThe
Harmonic
Harmonic
Harmonic
Harmonic
Harmonic
Harmonic
Scalpel
Head-Mounted
Head-Mounted
Head-Mounted
I
I
II
IIIThe
IITo
IN
INVASIVE
IWe
In
Information
Information
InformationProduct
Initial
Institute
Institute

Department
International
Syposium
Invasive
Invasive
Invasive
JBRENNANJRM.DPAUL
KIMM.D.

EDWARD
KimHCUse
LCS
LCS
LCS
Laparosc
Laparoscope
Laparoscopic
Laparoscopic
Surgeryfrom
Laparoscopy
Lens.

The
Lensthe
Medical
Medical
Medicine
Medicine
Medicine.
San
Meets
Meets
Mini-Invasive
Monitor
Need
New
New
Opticsthe
PROCEDURES


by

WPETER
Patients
Patients
Phase
Physician's
PressBirkettDHJosephsLG
Procedures
RESOURCE
Reality
Reality










Accepted
RealityHealth
Care
ReportSurg
Endosc
SURGICAL
Scalpel
Scalpel
Scalpel
Scalpel.
Surg
Scalpeland
Scalpeland
the
Scalpelthe
Sepsis.
Surg
Solo-Surgery.
Proceedings
SurgeryAn
SurgerySt.
Joseph
SurgerySurg
Surgical
Surgical
Surgical

Training
SystemsSurg
TO
TechnologiesOf
Technology
The
Tools
Tracking
Training
Transforming
Treatment
UTILIZATION
Ultrasonically
Using
Using
Video
Virtual
Virtual
Virtual
Vision
Voice
WangYRobotically
Zoom
Zoom
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
abdomen
ability
ability
ability
access
access
access
accommodate
accommodate
accomplish
accomplish
accomplish
movement
accomplished
accomplished
accomplished
accomplished
by
accomplishes
accrue
activated
activated
the
activation
activation
activation
activation
activation
activation
activation
activation
activation
activation
activation
activation
activation
activation
activation
and
activation
terminologyandthe
active
active
active
adapt
added
added
addition
addition
addition
of
additional
additional
additional
additive
additive
additive
address
address
adds
adds
adds
adhesions
advancements
adverse
affixed
aforementioned
technologies
again
aid;
the
all
all
all
all
all
all
circumstances
allocationincluding
allowed
allowing
allowing
allowing
allowing
allows
allows
allows
allows
the
along
along
with
also
also
also
also
also
enhances
alteration
alternative
always
always
amenable
to
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
also
and
does
and
efficiency.

Three-dimensional
and
for
and
minimize
and
outwere
and
the
and/or
resource
another
anotherThe
anterior
anterior
any
appliermonopolar
cauterycautery
approach
approach
all
approachThere
appropriate
appropriate
are
are
are
are
are
are
are
areas
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
arm
and
arm.

The
armThese
armand
armthe
armthe
armto
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
assess
assistant
assistant
assistant
assistant
assistanta
associated
associated
associated
with
at
at
attempt
attempted
attention
authors
available
to
average
average
avoiding
inefficient
axis
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
used
because
because
been
been
been
been
been
been
being
being
being
believe
believe
this
beneficial
beneficial.

To
benefit
benefit
benefit
benefit
benefit
of
benefited
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefitsThere
between
between
binocular
binocular
binocular
binocular
binocular
visionproviding
blue
blue
blue
blunt
bluntly
brings
burdennot
but
by
by
by
by
by
by
by
by
by
by
by
by
camera
camera
cameraIt
can
cannot
care
care
care
cases
cases
cases
cases
casesrequire
casessolo-surgery
casesthe
category
cautery
cautery
cauteryThe
changeable
changing
operative
cholecystectomy
cholecystectomy
cholecystectomy
patientsThe
cholecystectomylaparoscopic
cholecystectomyor
chosen
to
circumstance
circumstances
circumstances
circumstances
circumstances,
there
clean
clean
clean
the
cleaned
cleaning
cleaning
cleaning
maneuvers
clearly
clearly
is
clip
close
clues
coagulate
colectomy
collected
colon
color
color
color-coded
color-coded
combination
combination
combination
combination
command
command
command
command
command
command
command
command
commandThe
commands
commands.


RESULTS


Solo-SurgeryThepatients
commensurate
communication
comparable
comparable
comparable
comparable
comparable
comparable
data
compared
compared
compared
compared
compared
compared
to
compete
completion
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
complex
minimally
complex
minimally
complexity
complexity
to
complication
complications
complications
computerized
concentrated
concentration
concentration
concentrationdecreased
concentrationreduces
concept
conceptand
conclude
concluded
concomitant
conjunction
consciousnessThe
considered
consistent
continue
continuity
control
control
control
control
control
control
control
control
control
control
control
control
control
and
controlThese
controlled
by
controlled
by
cost
cost
cost
cost
cost
cost
cost
of
cost-benefit
cost.

INTRODUCTION


Surgical
costThe
costs
costs
costsThe
coupled
with
create
a
crystal
cumulative
cumulative
cumulative
current
current
currently
cut
cutscoagulates,
retractsgraspsand
cutscoagulatesacts
dangerous
data
data
data
data
data
de-activate
de-activated
and
de-activated.
Complex
de-activation
using
deactivate
deactivation
decrease
decrease
decreased
decreased
defined
defocuses
defocusing
defogging
degree
of
degreeNissen
delicate
delineate
delineated
delineated
depth
depth
depth
depthAs
described
by
designed
detailed
details
determine
detracts
developing
tactile
development
developmentFurtherwe
device
device&quot;in&quot;,
&quot;out&quot&quot;left&quot&quot;right&quot&quot;up&quot;,
&quot;down&quot&quot;stop&quotThe
deviceThe
devices
did
did
did
did
did
diminish
diminish
diminish
diminished
diminished
diminished
diminished
diminishes
diminishes
diminishes
diminishes
diminishes
diminishes
diminishes
the
diminishes
the
diminishing
diminishing
diminishing
diminishing
patient
diminution
diminution
direct
direct
direct
direct
direction
direction,
or
directionHoweverthe
disparity
disparity
display
display
displays
dissecting
dissectorIts
use
dissectorand
dissectsTherefore,
its
distant
down.
Howevera
downas
downward
dramatically
dual
liquid
due
due
due
due
due
to
during
during
during
during
during
during
during
during
during
during
during
during
during
performance
during
the
duringelective
each
each
each
each
each
easeHowevertwo
voice
economic
educational
educational
investment
effect
on
effective
effectiveness
effectivenessTherefore,
we
efficiency
efficiency
efficiency
efficiency
efficiency
efficiency
and
efficiency
and
efficiency
and
efficiency
of
efficiencyeffectivenessand
efficiencyoperative
efficient
effort
either
either
either
either
either
the
electively
eliminated
the
eliminates
eliminates
the
elimination
of
elucidated
endoscopic
endwe
energy
enhance
enhance
enhance
enhance
enhance
efficiency
enhanced
enhancement
enhancement
enhancement
enhancement
enhancement
enhancement
enhancement.

Phase
enhancement.

The
enhancementas
enhancementthe
enhances
enjoyed
improved
entirely
entirely
environment
environment,
howevertends
environmentAs
environmentImprovement
equipment
equivalent
ergonomic
ergonomic
ergonomically
error
error
inherent
error.

The
errors
eventsBoth
eventually
evolution
evolving
exactly
excess
exchange
exchange
exchange
two
exchanges
exchanges
exchanges
maintains
exchangesLastlythe
exchangewith
expenseshave
limited
experience
experienceAt
experienced
experiences
experiences
experiences
experiences
experiences
that
extrememany
eye
eye
eyeThis
eyes
factors
fatigue
fatigueWhen
fatigueaccommodated
a
fatigueand
a
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
field
appropriately
field
by
field
during
field.

Voice
field.

We
fieldFurtherthe
surgeon
fieldPrototype
voice
fieldThe
fieldTracking
fields
fields
fine
first
first
first
first
fish-eye
fish-eye
five
fix
focal
focus
focus
focus
focus
foot
foot
foot
foot
foot
foot
foot
foot
foot
foot
foot
pedal
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
improvement
for
non-solo
for
space
for
the
forms
four
four
free
from
from
from
from
from
from
from
front
fundoplication
fundoplication
and
fundoplication.
In
fundoplicationFurtherthere
fundoplicationIn
fundoplicationhoweverrequires
five
fundoplications
with
further
further
further
further
further
further
further
gastric
gastric
gives
the
glasses
glasses
grounding
had
had
had
hand-eye
hand-eye
axis
hand-held
handmany
handshas
has
has
has
has
has
has
has
hashoweverhistorically
have
have
have
have
have
have
have
have
have
delineated
have
other
have
used
health
care
healthcare
healthcare
help
help
help
heretofore
hernia
hernia
hernia
repairlaparoscopic
herniorrhaphy
herniorrhaphy
highly
highly
his
his
his
his/her
visual
hold
holderAs
holding
holds
the
human
humanism
identified
image
image
imageThe
imageThus,
the
immediately
imminently
important
issues
imprinted
improve
improve
improve
improve
improve
improve
improve
improve
efficiency
improve
the
improved
improved
improvements
for
improves
improves
improves
improving
improving
improving
improving
efficiency
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
complex
in-depth
inability
inactivated.
Howeverif
incidents
include
included
including
including
incomplex
increase
increase
increased
increased
increased
increased
increases
increasing
increasing
increments
individual
individuals
induced
inefficiencies
inlaparoscopic
hernia
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
instrument
tracking
instrument
tracking
instrument
tracking
instrument
tracking
instrument
tracking
instrument
tracking
instrumentation
all
instrumentation,
then
instruments
instruments
instruments
instruments.


DISCUSSION


The
instrumentsWe
instrumentsit
instrumentthe
intense
interfere
intermittently
interruptionThe
interval
interval
interval
interval
for
interventions
into
into
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
invasive
operative
invasive
proceduresThe
invasive
surgery
invasive
surgical
investigate
investigations
involve
involved
involving
involving
inward
inward
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
issueswe
issuewe
it
it
its
its
tip
itself
itself
key
lack
laparoscope
laparoscope
laparoscope
laparoscope
laparoscope
laparoscope
laparoscope,
and
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
laparoscopic
colon
laparoscopic
instrument
laparoscopically
latter
latter
circumstanceThe
least
left
left
left-sided
leftto
leftup
length
length
of
lengthen
lens
less
successfulFurtherthe
lineand
location
location
location
locations
long
longer
loss
magnitude
maintain
maintained
maintains
major
manpower
maximize
may
may
may
actually
measurable
measured
by
mechanism
mechanism
mechanism
mechanism
medical
medical
medical
medical
medical
method
method
methods
might
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimally
minimize
minimized
minimizing
mishap
mishaps
mishaps
mishapsFurtherthe
reduction
mishapsand
mishapsno
mobility
model
moderate
modified
modified
monitor
or
monitorIt
monopolar
monopolar
more
stable
most
most
most
most
motion
(either
motionIt
motionless
motionless
motionless
motionless
providing
motions
motions
move
move
move
move
move
move
move
the
moved
movement
movement
movement
movement
of
movement
of
movements
movements
moves
much
multiple
multiple
multiple
multiple
personnelThe
multiple
sophisticated
must
must
must
nearly
necessary
necessary.


REFERENCESSackierJ
necessaryespecially
necessarythe
necessity
of
necessity.

Phase
need
need
need
need
for
new
new
new
nissen
nissen
nissen
nissen
nissen
no
no
no
no
no
no
no
technical
non-paradoxical
non-solo
normal
normal
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
being
not
using
noted
noted
number
number
number
number
number
number
number
of
number
of
nurse
nurse,
or
observed
occasion
occasions
occasions
that
occurred
occurs
occurs
occurs
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
the
of
the
ofminutes
ofminutes
ofminutes
ofminutes
for
often
often
often
on
on
on
on
on
on
on
on
a
one
one
only
only
only
operating
operating
operating
operating
operating
operating
operating
operating
room
operating
time
operating
times.

The
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
operative
field
operative
field
operative
field
operative
procedureThese
operative
procedureoperative
operative
procedures
operative
proceduresThe
opportunity
opportunity
opportunity
for
opposed
optical
optical
optical
or
or
or
or
or
or
or
or
or
order
order
order
order
order
other
other
other
other
other
other
other
other
other
other
patientsIt
our
our
our
our
our
study
outcome.

The
outcomes
outward
outward.
It
padElimination
panoramic
paradoxic
paradoxical
part
participant
participate
participating
patient
patient
careThe
patient.
The
patients
patients
patients
patients
patients
patients.
Robotic
patientsFurthercontrol
patientsHoweverthe
patientsTo
pedal
pedal
pedal
pedal
pedalFurthermost
pedalOn
pedalThe
potential
pedalWhile
pedals
pedals
per
per
per
perceived
perceived
perceived
perception
perfectly
perform
perform
perform
performance
performance
performance
performance
performance
of
performance
of
performed
performed
performed
performed
performed
by
performedThis
personnel
personnel
personnel
personnel
personnel
and
personnel
invariably
personnel
to
personnel
utilization
personnel.

In
phenomenon
phenomenon
physician's
assistant
physician's
assistant
placing
plane
plus
plus
point
porcine
portion
ports
ports
ports
ports
portscholecystectomy
occasionally
position
position
position
position
position
position
and
positioning
possibleIn
practical
precision
precision
and
preoperative
presentation
presents
primary
procedural
procedural
procedural
procedural
procedure
procedure
procedure
procedure
procedure
procedure
procedure
being
procedure,
and
procedureFurthersince
procedureIn
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
procedures
(solo-surgeryusing
procedures
had
procedures
to
procedures
to
procedures
when
procedures
will
procedures,
a
procedures,
we
procedures.

These
procedures.
Each
procedures.
The
procedures.
The
procedures.
The
procedures.
The
procedures.
There
procedures;
the
proceduresDuring
proceduresPhase
proceduresThe
proceduresThe
proceduresand
proceduresand
proceduresandminutes
proceduresminutes
for
process
product
for
productivity
productivity
progress
proper
proposed
prototype
prototype
prototype
proved
provide
provide
provides
provides
provides
provides
a
provides
a
provides
reasonable
providing
quality
quality
quality
quality
raised
rather
rather
unique
reactivate
the
recorded
recorded.
To
recordedThe
recordedThese
reduce
reduce
reduce
reduce
cost
reduced
reduction
reduction
related
related
related
related
or
relationship
relationship
relaxed
removal
removed
removed
removed
removed
repair
repair,
and
repairscholecystectomiesand
require
required
required
required
required
required
required
requirement
requires
requiring
resection
resectioncasesThe
resectionstrauma
resource
resource
resource
resource
resource
resource
resource
resource
resource
resources
respective
benefits
result
result
result
resulta
resultant
resultant
cumulative
resulting
resultnew
resultthese
retractorgrasper,
pointersharp
right
right
right
right-sided
rightin
risk
risk
risk
risk
risk
risk
risk
risk
risk
risk
risk
risk
risk,
resource
risk.

The
riskand
risks
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
robotic
arm
robotic
arm
robotic
arm
robotic
arm
robotically
robotics
room
room
running
safety
safety
safety,
improved
safetydiminish
same
savings
scissorsendoscopic
scope
scope
scope
screen
and
scrub
scrub
nurse
seamless
second
second
seem
seem
sensor
separate
sequential
sophisticated
seriesthe
setup
shaft
shaft
shaft
shaft
of
shorten
operating
shortened
shortened
operating
shortening
shorter
should
should
similar
similar
similar
simultaneous
simultaneously
simultaneously
simultaneously
decrease
sitting
sitting
sitting
size
skill
skills
skills
skills
skills
with
skillsprovided
slow
small
small
solo-surgeon
solo-surgeon
solo-surgeon
solo-surgeon
solo-surgeon
solo-surgeon
solo-surgeon
methodologythe
solo-surgeon.

During
solo-surgeoni.ethe
solo-surgery
solo-surgery
solo-surgery
solo-surgery
solo-surgery
solo-surgery
laparoscopic
solo-surgery
using
solo-surgerythus
solution
to
sophisticated
sophisticated
sophisticated
sophisticated
sophisticated
sophisticated
technology
specific
specifically
spend
spine
spine
spine
stability
stable
stable
stable
stablemotionless
start
stationaryit
steadyIn
additiononce
sterile
strongly
studies
in
study
study
study
the
study
using
study,
there
subsequent
subsequent
subsequent
subsequent
subsequently
control
successful
successful
successful
utilizing
successful.
Motions
successfully
successfully
successfully
successfully
successfully
completed
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
surgeon
as
surgeon
during
surgeon
in
surgeon
is
surgeon's
surgeon's
surgeon's
surgeon's
surgeon's
surgeon's
surgeon's
attention
surgeon-first
surgeon.&quotThe
surgeonAreas
surgeonFor
surgeonMoreover,
the
surgeonand
surgeondiminishes
surgeonincreases
surgeonis
surgeonother
surgeons
surgeonthe
surgeonthen
surgery
surgery
surgery
surgery
surgery,
we
surgerycasesand
surgerycasesand
surgerycaseslaparoscopic
surgerycaseslaparoscopic
gastric
surgical
surgical
surgical
surgical
surgical
surgical
surgical
surgical
surgical
surgical
surgical
surgical
surgical
field
surgical
proceduresmoreoversafetyversatilityand
surgical
taskThereforean
switchThis
synergistic
synergistic
synergistically
improve
system
system
system
allows
system
on
systemFinallythe
tape
task
task(sA
task,
the
tasks
tasks
tasksFurtherthis
tasksOther
team
team
team.

In
technical
technical
technical
technical
technical
technical
technical
technical
technical
technical
technical
technical
mishapsthe
technical
task
techniques
arethe
technological
technologically
technologies
technologies
technologies
technologies
technologies
technologies
technologies
technologies
technologies
technologies
technologies
contributed
technologies
described
technologies
requires
technologies.

Phase
technologies.
Operating
technologiesThe
average
technology
technology
technology
technology
technology
technology
technology
technology
technology
technology
carries
technology.

Instrument
technologyand
technologythe
tends
tested
than
than
using
that
that
that
that
that
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
Diagnosis
the
absence
the
bowelsuturingtyingand
the
concentration
the
efficiency
the
focus
the
following
the
instrument
the
motion
the
number
the
operating
the
operative
the
robot
the
robotic
the
solo-surgeonrobotic
the
surgeon
the
surgeon
the
surgeonThusone
the
surgical
the
tip
the
tipSince
the
use
the
use
the
visual
the
visual
the
visual
theater
theater.

In
theaterOther
their
their
their
thepatients
thereby
thereby
these
these
these
these
these
these
these
these
these
these
these
these
these
these
these
these
items
third
phase
this
this
this
this
this
three
three
three
three
three
minimally
three-part
studythe
throughout
thus
thus
thus
time
time
time
time
time
time
time
time
time
time
as
time,
patient
timeincreased
times
times
times
times
times
times
tip
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
continuous
to
the
to
the
together
tominutes
tominutes
toper
torso
tracking
tracking
tracking
tracking
tracking
tracking
tracking
tracking
tracking
tracking
and
tracking
and
tracking
in
tracking
of
tracking
the
tracking,
computer
trackingFirstthe
trackingSecondly,
an
translate
translated
translated
to
turn
two
two
two
two
two-dimensional
two-dimensional
fieldThis
ultimate
ultrasonic
unable
under
under
undergoing
undergoing
undergoing
undergoing
undergoing
underwent
unit
unrelated
unrelatedThis
up
upward
urgent
usable
synergistically
use
use
use
use
use
use
use
use
use
use
use
use
use
use
use
use
use
use
use
use
of
use
of
use
of
used
used
used
used
used
used
used
used
used
used.

Complex
usedOnce
the
uses
uses
using
using
using
using
using
using
using
the
usually
utilization
utilization
utilization
utilization
by
utilization
in
utilization.

The
utilization.
The
utilizationimprove
efficiency
utilizationinclude
utilize
utilize
utilized
utilizedthus
utilizing
utilizing
utilizing
utilizing
utilizing
utilizing
utilizing
utilizing
utilizing
variety
variety
versatile
versatile
versatile
versatility
versatility
versatility
versatility
for
versatility
in
versatility
to
versatilityand
versus
a
very
very
viable
video
view
view
view
view
view
view
view
view
view
view
view
view
view
view
motionless
view.


METHODS


Phase
viewComplex
laparoscopic
vision
vision
vision
vision
and
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
visual
field
visual
field
visual
surgical
voice
voice
voice
voice
voice
voice
voice
voice
voice
voice
voice
voice
voice
vsphysician's
assistantand
was
was
was
was
was
was
was
was
was
was
was
was
was
was
was
was
was
was
was
was
required
wascompared
toper
waste
way
waysUse
waysit
well
well
well
well
well
well
were
were
were
were
were
were
were
were
were
were
were
were
were
were
were
were
were
were
were
were
no
were
statistically
wereminutes
when
when
when
when
when
when
when
when
when
the
which
which
which
which
which
which
which
which
which
which
while
while
while
while
performing
who
who
will
will
will
will
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
further
with
sophisticated
with
the
within
without
without
without
words
work
work
work.
This
work7).

A
working
would
would
zoom
|
Home





|
PublicationsEndorsementsTraining