




Cooling
"chunkingreplace
ALT="AUTOSHOP
BORDERALT="Maintenance
Care
Care
Checklist







<IMG
Communications.
Last
CouncilMaintenance
DepartmentHome
Information
Marketing
MastheadWIDTHHEIGHT=60
LOWSRC="images/maintips-low.gifSRC="images/maintips480x60.gif">





Cooling
ModifiedJanuary1996.




NewsCar
OK
Page
Periscope
QuizService
System
System

"Tune-upChecklist

Flush
SystemsInc.
Site
Tips
TipsIndustry
Tuneup
V-ribbed
a
a
accessoriesIf
after
all
all
all
amixture
an
and
and
and
and
and
and
and
and
anti-freeze.
Inspect
are
as
at
be
belt
belt
belt.
Check
belts
beltsNoteSome
bolts
brokendried
out
brush
by
by
can
capReplace
check
the
clampsReplace
clogged.
Inspect
condition
coolTighten
coolant
coolantIf
coolthey
core
could
cracked
cracksReplace
created
dashReplace
dirt
dirtbugs
engine
engine
engine
engine
engine
engine.
Clean
enginecausing
engines
enginethrough
ethylene
excessive
cracks
exteriorExcessive
feel
firewallto
the
for
for
for
forminutes.
Generallyit's
from
from
front
garden
hose.
Inspect
gasket
glycol
grooves
have
heater
heater
heaterIf
hide
hose
hose.
Beware
hoses
hoses
hosesTo
hosesstart
hot
hotCar
housing
if
if
if
is
is
it
it
it
leakscracks
leaksor
insulate
leaves
level
logoWIDTHHEIGHT52
SRC="images/Autoshop_Logo_Small.gif">











CopyrightAutomotive
loose
loose
mini
minutes
missing.
Check
needed.
Look
of
of
of
of
of
oil
on
on
operation
or
or
or
or
or
or
or
glazedAdjust
radiator
radiator
radiator
radiator
replace
rubber
run
running
running
runs
rustyclean
show
softmushy
conditionTighten
some
surging
swollen
system
and
ten
that
that
drives
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
hoses
the
thermostat
thermostat
through
to
too
too
turn
under
upper
warm
water
wear
will
with
with
worncracked
you
|






<IMG