










United







Return

Westward

operational
AAmerican
ARigStaysail
Aand
Aand
AreaSqFtSqFtAuxiliary
Association
Association
BilbaoSpainLength
Bureau
Bureau
Corwith
Corwith
Corwith
Cramer
Cramer
Cramer



The
CramerOwner
Cummins
Cummins
DeckfeetfeetDraftfeetinchesfeetBeamfeetinchesfeetSail
Education
Education
Enginehorsepower
Flag
Guard
Guard's
regulations
HoleMA
	Sea
HoleMADisplacementtonstonsConstruction
	SteelbuiltAbeking
Of
On
OperationWorld
Operator
	Sea
OverallfeetfeetLength
P.OBoxWoods
P.OBoxWoods
RasmussenLemwerderGermanySteelbuiltASTACE
SEA
SSV
SSV
Sailing
Sailing
Sailing
School
School
School
SchoonerBrigantine
Shipping
Shipping
Shipyard
States
U.SCoast
U.SCoast
U.Sflag
Vessels
Vessels.

Return
VesselsThey
Westward
WestwardSSV
a
a
all
and
and
and
and
and
and
are
are
are
as
built
by
certificated
classFor
comparable
dieselComplementpersonspersonsArea
dieselhorsepower
document






equipped
exceed
first
fly
for
for
from
fully
home
inspected
meet
meet
modern
navigational
equipment.

The
oceansClassificationAmerican
oceansWorld
of
of
of
of
on
or
pageSSV
passenger
required
requirements
route.
Both
safety
safety
safetythey
ships
standards
that
differ
the
the
the
the
the
the
the
their
this
those
to
to
to
top
using
vessel
vessel
was
with