


(BMRC)&nbsp;

DrBryant
#500

DorvalQu&eacute;bec
(NOAA)

P.OBox
(NOAA)&nbsp;

Princeton
(see
05&nbsp;

France
08540

Fax987-5063

emailwfs@GFDL.GOV



(DNM)

DrVener
08540

Fax987-5063&nbsp;

emailrw@gfdl.gov



(GISS)

DrKenneth
1

DrJulia
10

ProfStefano
100&nbsp;

Japan

Fax3211-8407&nbsp;

email/PN=N.SATO/O=JMA/ADMD=ATI/C=JP@sprint.com



(LLNL)

DrMichael
100080

P.RChina&nbsp;

Fax86-1-2562347&nbsp;

emailwhj@sgi50s.iap.ac.cn



(JMA)

DrNobuo
10025&nbsp;

Fax212-678-5552&nbsp;

emailcdkkl@nasagiss.giss.nasa.gov



(GLA)&nbsp;

DrWilliam
109017&nbsp;

MoscowRussia&nbsp;

Fax1652&nbsp;

emailroot@iaph.msk.su&nbsp;





ProfBryan
109017&nbsp;

Russia&nbsp;

Fax1652&nbsp;

emailifaran@rinarostra.msk.su&nbsp;



Subproject
11

ProfAlan
117334

Russia&nbsp;

Fax095-938-1808

emailgalin@inm.ras.ru&nbsp;



(ECMWF)

DrLaura
11794-5000&nbsp;

Fax8379&nbsp;

emailhameed@atmsci.sunysb.edu&nbsp;



Subproject
12

ProfAnn
12205

Fax442-3360&nbsp;

emailwang@climate.ASRC.Albany.edu



(UCLA)

DrCarlos
12205&nbsp;

Fax442-3360&nbsp;

emailwang@climate.ASRC.Albany.edu&nbsp;



Subproject
1289K

MelbourneVictoria
1289K13th
13

DrIgor
13&nbsp;

Germany&nbsp;

Fax368

emailroeckner@dkrz.d400.de



(MRI)

DrAkio
14

DrGerald
15

DrRaymond
153

Japan&nbsp;

Tel81-3-5453-3950

Fax81-3-5453-3964

emailsumi@ccsr.u-tokyo.ac.jp



(CNRM)

DrMichel
16

ProfCarlos
17

DrDonald
18

DrValentin
19

ProfJohn
194018&nbsp;

Russia&nbsp;

Fax7-812-247-01-03&nbsp;

emailvmeleshk@mgo.spb.su


&nbsp;





Subproject
194018&nbsp;

Russia&nbsp;

Fax7-812-247-0103

emailvmeleshk@mgo.spb.su



(MPI)

DrErich
1J3&nbsp;

Canada&nbsp;

Fax421-2106

emailhritchie@rpn.aes.doe.ca



(SUNYA)

DrWei-Chyung
2

DrFrancis
2&nbsp;

MontereyCA
20

DrBruce
20705-3106&nbsp;

Fax595-9793&nbsp;

emailstraus@cola.iges.org&nbsp;



(CSIRO)

DrBarrie
20742-2425&nbsp;

Fax314-9482

emailalan@atmos.umd.edu



Subproject
20748

Fax301-763-8395

emmailwd51hd@sgi45.wwb.noaa.gov



(NRL)&nbsp;

DrTom
20771

Fax301-286-1759&nbsp;

emaillau@climate.gsfc.nasa.gov&nbsp;



(GSFC)

DrWei
20771&nbsp;

Fax286-1754&nbsp;

emailmin@dao.gsfc.nasa.gov



(IAP)

DrQing-cun
20771&nbsp;

Fax301-286-1759&nbsp;

emaillau@climate.gsfc.nasa.gov&nbsp;



Subproject
21

DrPhil
2109&nbsp;

Australia&nbsp;

Fax9671&nbsp;

emailann@mgmet.cic.mq.edu.au&nbsp;


&nbsp;





Subproject
22

DrHiroshi
23

ProfSultan
238-232&nbsp;

Jet
239

Reading
24

DrGeorge
25

DrWei-Chyung
26
DrSulochana
2718

Beijing
2Y2&nbsp;

Canada&nbsp;

Fax363-8247

emailgboer@uvic.bc.doe.ca&nbsp;



(CCSR)

DrAkimasa
2Y2&nbsp;

Canada&nbsp;

Fax363-8247&nbsp;

emailslambert@uvic.bc.doe.ca


&nbsp;





Subproject
2YCANADA&nbsp;

Fax363-8247

emailfzwiers@uvic.bc.doe.ca&nbsp;



Subproject
3

DrSteven
3000&nbsp;

Australia&nbsp;

Fax61-3-669-4660&nbsp;

emailbma@bom.gov.au



Subproject
3000&nbsp;

BoulderCO
3001&nbsp;

Australia

Fax669-4660

emailbma@bom.gov.au

(CCC)&nbsp;

DrGeorge
302&nbsp;

CalvertonMD
305&nbsp;

Japan&nbsp;

Fax81-298-55-2552&nbsp;

emailkitoh@mri-jma.go.jp



(NCAR)

DrDavid
308

PrincetonNew
308&nbsp;

PrincetonNJ
3195&nbsp;

Australia&nbsp;

Fax3586-7600&nbsp;

emailbgh@atmos.dar.CSIRO.AU&nbsp;



(CSU)&nbsp;

DrDavid
3339

VictoriaBC
3339&nbsp;

VictoriaBC
35812

Fax544-5760&nbsp;

email:&nbsp;



Subproject
35899&nbsp;

Fax895-6970&nbsp;






ProfBryan
4

DrPDuvel&nbsp;

Laboratoire
5

ProfDavid
55

DHamburg
6

DrTimothy
6/2&nbspBologna&nbsp;

Italy&nbsp;

Fax3951247244&nbsp;

emailTibaldi@astbol.bo.cnr.it



Subproject
604&nbsp;

Camp
61801

Fax244-4393&nbsp;

emailschlesin@uiatma.atmos.uiuc.edu



(UKMO)

DrVicky
61801&nbsp;

Fax244-4393&nbsp;

emailwalsh@wx.atmos.uiuc.edu



Subproject
680&nbsp;

New
7

DrWilliam
7700&nbsp;

Cape
8

ProfJohn
80307-3000

Fax303-497-1324&nbsp;

emailwmson@ncar.ucar.edu



(NMC)

DrHuug
80523&nbsp;

Fax491-8428&nbsp;

emailrandall@redfish.atmos.colostate.edu&nbsp;



(DERF)

MrWilliam
80523-1371&nbsp;

Fax491-8428&nbsp;

emailrandall@redfish.atmos.colostate.edu&nbsp;



Subproject
9

DrBryant
90024

Fax206-5219&nbsp;

emailmechoso@atmos.ucla.edu



(UGAMP)

DrMichael
90024

Fax206-5219&nbsp;

emailmechoso@atmos.ucla.edu



Subproject
910.3&nbsp;

NASA
91109&nbsp;

Fax393-6890&nbsp;



Subproject
913&nbsp;

Goddard
913&nbsp;

GreenbeltMD
93943-5502

Fax408-656-4769&nbsp;

emailrosmond@nrlmry.navy.mil&nbsp;



(NTU)

ProfWen-Shung
94550&nbsp;

Fax510-422-7675&nbsp;

emailgpotter@llnl.gov&nbsp;



Subproject
94550&nbsp;

Fax510-422-7675&nbsp;

emailsperber@space.llnl.gov






Subproject
95616&nbsp;

Fax752-1552&nbsp;

emailbcweare@ucdavis.edu&nbsp;





&nbsp;


Subproject
95616&nbsp;

Fax752-1552&nbsp;

emailbcweare@ucdavis.edu&nbsp;





&nbsp;


Subproject
A-11&nbsp;

The
AMIP
AMIP
AMIP
AMIP
AMIP
AMIP
ARandall&nbsp;

Department
ARandall&nbsp;

Deptof
Academy
Academy
Academy
Address
Africa&nbsp;

Fax3791&nbsp;

emailhewitson@enviro.uct.ac.az&nbsp;



Subproject
Agency&nbsp;

Meteorological
Agency&nbspOte-machi,Chiyoda-ku&nbsp;

Tokyo
Alabama
Albany&nbspFuller
Albany&nbspFuller
Amip
Analysis
Analysis

Atmospheric
Analysis

Atmospheric
Angeles&nbspHilgard
AngelesCA
AngelesCA
AngelesHilgard
Anglia&nbsp;

Norwich
Applications
Assimilation
Astronomy
Atmospheres&nbsp;

Marine
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
Atmospheric
AveStop
Avenue

Los
Avenue

UrbanaIL
Avenue&nbsp;

Los
Avenue&nbsp;

UrbanaIL
Bag
Berti
Blackburn

Department
BolognaDepartof
Box
Box
BranchClimate
BrookNY
CWeare&nbsp;

Department
CWeare&nbsp;

Department
CaliforniaDavis&nbsp;

DavisCA
CaliforniaDavis&nbsp;

DavisCA
CaliforniaLos
CaliforniaLos
Campus&nbsp;

Fort
Cape
Carlo
Cedex
Cedex&nbsp;

France&nbsp;

Fax05&nbsp;

emailfred@jungle.polytechnique.fr





&nbsp;


Subproject
Cedex&nbsp;

France&nbsp;

Fax10&nbsp;

emailmichel.deque@meteo.fr&nbsp;



(COLA)

DrDavid
Cedex&nbsp;

France&nbsp;

Fax49&nbsp;

emailduvel@lmdx12.polytechnique.fr






DrFCheruy&nbsp;

Laboratoire
Celsius
Center
Center

Code
Center&nbsp;

GreenbeltMD
Center&nbsp;

GreenbeltMD
Center&nbsp;

National
Center&nbsp;

State
Center&nbsp;

State
Center&nbsp;

State
Center&nbspWWB
Centre
Centre
Centre
Centre
Centre

GPO
Centre&nbsp;

GPO
Centre&nbsp;

School
Centre&nbsp;

University
Change
Climate
Climate
Climate
Climate
Climate
CollinsCO
CollinsCO
Coriolis&nbspToulouse
DJones&nbsp;

Climatic
Deque

Centre
Diagnostic
Diagnostic
Division&nbsp;

National
Dool&nbsp;

Prediction
DrJean
Drive&nbsp;

PasadenaCA
Dynamics
Dynamics
Dynamics
Dynamics
Dynamique

Ecole
Dynamique

Ecole
Dynamique&nbsp;

Ecole
ESchlesinger

Department
EWalsh&nbsp;

Department
Earth
East
Education

HuntsvilleAL
Environment
Environment
Environment
Environmental
Environmental
Extended-Range
FWehner&nbsp;

Lawrence
Fax:-33-1-43368392&nbsp;

emailpolcher@lmd.ens.fr&nbsp;



(MGO)

DrValentin
FebruaryFor
Ferranti&nbsp;

European
Flight
Flight
Flight
Floor
Fluid
Fluid
Forecasting

Geophysical
Forecasts&nbsp;

Shinfield
GHunt&nbsp;

Division
Gadgil&nbsp;

Centre
Galin&nbsp;

Department
GateWhiteknights

P.OBox
GateWhiteknights&nbsp;

Reading
Geodetic
Geographical
Geophysical
Geophysical
Geoscience&nbsp;

University
Global
Global
Global
Global
Goddard
Gregory
Group&nbsp;

Mail
Group&nbsp;

P.OBoxL-256&nbsp;

LivermoreCAUSA

Fax422-6388&nbsp;

emailmwehner@llnl.gov&nbsp;



(LMD)&nbsp;

DrJan
Group&nbsp;

University
Grove
H9P
Hameed&nbsp;

Institute
Head
Henderson-Sellers&nbsp;

Climatic
Hewitson&nbsp;

Department
Hide&nbsp;

c/o
Highway
House&nbspLonsdale
Huntsville&nbsp;

HuntsvilleAL
Illinois
Illinois
Impacts
Institute
Institute
Institute
Institute
Institute&nbsp;

NagamineTsukuba&nbsp;

Ibaraki
JBoer&nbsp;

Canadian
JMcAvaney&nbsp;

Bureau
JMcAvaney&nbsp;
Bureau
Jersey
K.MLau&nbsp;

NASA/Goddard
Kau&nbsp;

Department
Kim

Department
Kingdom

Fax1344-854898

emailvdpope@meto.govt.uk



(YONU)

ProfJeong-Woo
Kingdom&nbsp;

Fax07-34-318-316&nbsp;

emailswssling@met.reading.ac.uk&nbsp;





DrKenneth
Kingdom&nbsp;

Fax318316

emailM.Blackburn@reading.ac.uk



(UIUC)

DrMichael
Kingdom&nbsp;

Fax44-1734-869450&nbsp;

emailLaura.Ferranti@ecmwf.int



(GFDL)

DrRichard
Kingdom&nbsp;

Fax44-603-507-784&nbsp;

emailFO28@EAST-ANGLIA.AC.UK&nbsp;



Subproject
Kingdom&nbsp;

Fax44-734-869450&nbsp;

emailtim.palmer@ecmwf.co.uk



Subproject
Kitoh&nbsp;

Japan
LPotter&nbsp;

PCMDI&nbsp;

Lawrence
LTanaka&nbsp;

Institute
LWilliamson

Climate
Lab

Climate
Laboratory
Laboratory
Laboratory

P.OBoxL-264&nbsp;

LivermoreCA
Laboratory

P.OBoxL-264&nbsp;

LivermoreCA
Laboratory&nbsp;

Research
Laboratory&nbspGracehopper
Laboratory&nbspOak
Lambert

Canadian
LandAir
LandAir
Lau&nbsp;

Code
Leader
Leader's
Leaders
Leaders
List&nbsp;
Return
Leaders
List&nbsp;
Return
Lhomond&nbspParis
List
List







Subproject
List
Go
List&nbsp;
Go
Lists




&nbsp;AMIP
Modeling
Livermore
Livermore
Livermore
Lo&nbsp;

Goddard
M&eacute;t&eacute;orologique
M&eacute;t&eacute;orologique
Maryland&nbsp;

College
Mathematics

Russian
McCravy.&nbsp;
&nbsp;and&nbsp;LLNL
Disclaimers




Medium-Range
Meteorological
Meteorological
Meteorological
Meteorologie
Meteorologiques&nbspAvenue
Meteorology
Meteorology
Meteorology

University
Meteorology&nbsp;

Bundesstrasse
Meteorology&nbsp;

University
Meteorology&nbsp;

University
Mill
Min

Data
Modeling
Modeling
Modeling
Modeling
Modeling
Modelling
Modelling
Modelling&nbsp;

Department
Mokhov&nbsp;

Institute
NPalmer&nbsp;

ECMWF&nbsp;

Shinfield
NR7TJ&nbsp;

United
National
National
National
National
New
New
New
No1&nbsp;

MordiallocVictoria
Normale
Numerical
ODickey&nbsp;

Space
Observatory&nbspKarbyshev
Observatory&nbspKarbyshev
Ocean-Land-Atmosphere
Of
Office

London
OfficeCode
PCMDI
PCMDI
PMeleshko

Main
PMeleshko&nbsp;

Main
Park&nbsp;

ReadingBerks
Park,

Reading
ParkMD
Participants
Participants
List&nbsp;
Return
Participants
List&nbsp;
Return
Participants&nbsp;Address
Participants/Subproject
Perkey

Institute
Physics&nbsp;

Academy
Physics&nbsp;

Chinese
Physics&nbsp;

Russian
Physics&nbsp;

Viale
Pichat
Planck
Planetary
Polcher&nbsp;

Laboratoire
Polytechnique&nbspPalaiseau
Polytechnique&nbspPalaiseau
Pope

Hadley
Prediction
Prediction
Propulsion
ProspectA

Moscow
RChristy&nbsp;

Earth
RG2AU

United
RG2AU

United
RG2SY

United
RG9AX&nbsp;

United
RG9AX,&nbsp;

United
RMechoso

Department
RMechoso&nbsp;

Department
RSperber

PCMDI&nbsp;

Lawrence
Rd.&nbsp;

AlbanyNY
Rd.&nbsp;

AlbanyNY
Rd10772&nbsp;

TaipeiTaiwan&nbsp;

R.O.C.&nbsp;

Fax886-02-363-3642

emailwen@wen.asalpha1.as.ntu.tw



(RPN)

DrHarold
RdSuite
Reading&nbspEarley
ReadingEarly
Recherches
Research
Research
Research
Research
Research
Research
Research
Research
Research
Research

U.KMeteorological
Research

University
Research&nbsp;

P.OBox
ResearchCSIRO

Private
Resources

Atmospheric
Resources

Atmospheric
Ritchie

Recherche
Road&nbsp;

BracknellBerkshire
Road)

VictoriaBC
Robock&nbsp;

Department
Roeckner

Max
Room
Room
Rosmond&nbsp;

Naval
RydeNSW
SGolitsyn&nbsp;

Institute
SUNYA/NCAR)



(SUNYA/NCAR)

DrWei-Chyung
Sato&nbsp;

Numerical
Science
Science
Science
Science
Science&nbsp;

Bangalore012&nbsp;

India&nbsp;

Fax1683&nbsp;

e-mailsulo@cas.iisc.ernet.in


&nbsp;


Return
Science&nbsp;

Colorado
Science&nbsp;

Colorado
Science&nbsp;

University
Science&nbspPhzhevsky
Sciences
Sciences
Sciences
Sciences

University
Sciences

University
Sciences&nbsp;

Indian
Sciences&nbsp;

Leninsky
Sciences&nbsp;

Macquarie
Sciences&nbsp;

National
Sciences&nbsp;

P.OBox
Sciences&nbsp;

University
Sciences&nbsp;

University
Sciences&nbsp;

University
Sciences&nbsp;

Yonsei
Sciences&nbspPyzhevskyMoscow
Section&nbsp;

Japan
Section&nbsp;

University
Section&nbsp;

University
Service&nbsp;

University
Service&nbsp;

University
Slingo&nbsp;

Centre
SocietyInc.&nbspPowder
Space
Space
Space
Space
SpringsMD
State
State
Stern

Dynamical
Stop
Straus&nbsp;

Center
Street&nbsp;

MelbourneVictoria
Street&nbsp;

StPetersburg
Street&nbsp;

StPetersburg
Studies&nbsp;

Institute
Studies&nbspBroadwayRoom
Subproject
Subproject
Subproject
Subproject
Sumi

Center
Superieurerue
System
System
Systems
TWetherald&nbsp;

Geophysical
Taiwan
Terrestrial
Tibaldi&nbsp;

ADGBN
TokyoKomabaMeguro-ku

Tokyo
Town&nbsp;

Randebosch
TownSouth
Tsukuba&nbsp;

Tsukuba305&nbsp;

Japan&nbsp;

Fax9764

emailtanaka@atm.geo.tsukuba.ac.jp&nbsp;



Subproject
Unit&nbsp;

School
University
University
University
University
University&nbsp;

Foothills
University&nbsp;

Fort
University&nbsp;

North
University&nbsp;

P.OBox
University&nbspLnSecKeelung
University&nbspShinchon-DongSeodamoon-Ku&nbsp;

SeoulKOREA&nbsp;

Fax82-2-365-5163&nbsp;
emailjwkim@atmos.yonsei.ac.kr&nbsp;



Return
Urbana-Champaign&nbspSouth
Urbana/ChampaignSGregory
V8W
V8W
V8W
Victoria&nbsp;

P.OBoxMS
Victoria&nbsp;

P.OBoxMSGordon
Victoria&nbsp;

P.OBoxMs
Wang
Wang&nbsp;

Atmospheric
Wang&nbsp;

Atmospheric
Water
Water
Weather
York
York
York&nbsp;

Stony
YorkNY
Zeng&nbsp;

Institute
Zwiers&nbsp;

Canadian
address
and
and
and
and
and
and
and
and
and
and
and
and
at
at
at
at
changescontact
Anna
de
de
de
de
den
en
for
for
for
for
for
for
for
for
for
for
for
for
for
for
home
home
home
home
page&nbsp;
Return
in
numeriqueTrans-Canada
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
page&nbsp;


Last
page&nbsp;
Return
page&nbsp;&nbsp;


AMIP
Diagnostic
pr&eacute;vision
to
to
to
to
to
to
to
to
to
to
update
van