
AprilThe

Jet

Mountain

Radar

September

SeptemberFor

area

by

conditions

correspond

critical

dataThe

discontinuous

dryfine-grained

effort

elevations

experiments

facilitycentered

glaciers

imagejust

imagered

in

is

latitude

missionCrowley

missionall

missionsThe

moderate

other

powerful

produce

receivedpolarization

seasonal

ski

the

the

the

transmitted

upcoming

were

with
(e.gthe
(horizontally
(horizontally
(horizontally
03/30/95
bruce.chapman@jpl.nasa.gov

67th
67th
Aperture
April
April
C-band
C-band
Cray
CreekOn
Divide
Endeavour
Endeavour's
Home
Imaging
L-band
Laboratory's
Lake
LandsatIn
Long
Mammoth
Mammoth
Mammoth
Mountain
Mountain
Mountain
Mountain
MountainsCalifshow
Nevada
Octoberon
Octoberonly
Page


Updated
Propulsion
Radar
Radar-C
Research
Rock
SAR
SAR
SAR
SIR-C
SRC="../../../../gif/icons/back-yellow.gif"
ALIGN=BOTTOMImaging
SRLMammoth
Sierra
Silver
Spaceborne
Synthetic
T3DThese
ValleyThe
X-band
a
a
a
a
abilities
aboard
about
kilometers
above
acquired
acquired
alpine
and
and
and
and
and
and
and
and
and
and
and
anddegrees
appears
are
are
are
area
area
area
areafrom
areas
areas
areas
around
as
as
assess
at
at
at
at
at
at
atdegrees
balancesSIR-C/X-SAR
bare
because
being
between
blue
blue
brushThe
by
bykilometersmiles
bymilesIn
center
centered
change
Mammoth
change
These
changes
changes
changes
climatologyseasonal
color
composite
conditions
conducted
cover
cover
cover
coverThe
dark
dark
data
data
data-intensive
dataand
datagreen
distinct
effort
POctober




<IMG
elevations
evolved
except
experimental
experimental
false-color
few
first
following
following
for
for
foreststhe
from
glaciers
green
green-blue
has
headwaters
here
high
high
higher
hydrology
ice
image
image
image
images
imges
immediately
in
in
in
in
in
in
in
in
inclusionsSince
influenced
instrumentssuch
investigations
is
is
is
is
is
is
is
is
is
it
its
land-
surface
large
layers
left
left
less
longitudeThe
massively
melted
mission
mission
missionsThe
most
multiple
near
north
occurred
of
of
of
of
of
of
of
of
of
of
on
on
on
on
on
operational
or
orbit
orbit
pack
parallel
parallel
part
patches
permanent
preparation
present
processing
processing
processingan
produced
purple
radar
radiation
receivedpolarization
receivedpolarization
red
reflect
released
remote
right
right
sceneThe
season
seasonal
seasonal
second
sensing
sensitive
short
shuttle
shuttle
significant
ski
small
snow
snow
snow
snow
snow
snow
snow
snow
snowfields
snowpack
snowpack
south
space
space
storm
stormDuring
supercomputers
supercomputing
surfaces
test
than
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
this
this
throughput
to
to
to
to
to
to
to
tone
tool
top
transmitted
transmitted
two
two
using
vegetationmainly
vertically
vertically
very
visible
was
was
water
weather
were
west
wet
coarse-grained
will
with
with