
(xx

Gepatschferner

Oetztal

Reschensee

Spaceborne

an

appear

area

border

bykilometersmiles

coded

different

hue

increase

indicates

longitudeThis

obtained

passessuch

radar

radar

reflectors

regionssnowpack

rise

seen

southeast

the

the

the

the
(below
(cyansuch
(lakesor
03/30/95
bruce.chapman@jpl.nasa.gov

Alps
Aperture
April
April
Apriland
Aprilto
AustriaThe
Austriakilometersmilessouthwest
Central
Endeavour
Gepatschferner
Home
Imaging
InnsbruckIt
Lake
October
October
OctoberIt
OctoberYellow
Page


Updated
Radar
Radar-C/X-band
SRC="../../../../gif/icons/back-yellow.gif"
ALIGN=BOTTOMImaging
SRLOetztalAustria
OetztalAustria
This
SwitzerlandItaly
Synthetic
Valley
Valleywhich
Venter
Venter
Vernagtferner
POctober





<IMG
X-band
a
a
a
aboard
acquired
also
an
an
and
and
and
and
anddegrees
appears
approximatelykilometers
are
area
areas
areas
areas
areas
areasseen
as
as
as
at
at
at
at
atdegrees
backscatter
backscatter
backscatter
based
be
be
between
blue
blue
blue
blueand
border
both
by
by
by
bymilesThe
calibrationFive
can
can
center
and
center
includes
centered
change
combining
conditions
core
core
corner
covered
dark
data
data
data
decrease
digital
directly
during
dynamicsglacier-climate
east
east
elevation
elevations
enhancement
facing
feet
feetabove
for
for
from
from
from
geometrically
glacier
glacier
glacier
glacier
glacier
glaciers
glaciers
Corner
grazing
greendata
high
hydrologyAboutpercent
image
image
image
image
in
in
in
in
in
in
in
in
in
in
in
in
intensively
is
is
is
is
is
is
is
is
is
large
latitude
left
left
levelMagenta
levelThe
light
light
located
main
model
most
most
mountain
north
obtained
of
of
of
of
of
of
of
of
of
of
of
of
oftometers
on
on
on
on
on
one
onto
other
peaks
produced
radar
radar
radarLow
ratio
reaches
red
refer
reflectors
region
represents
research
response
sea
seasonal
seen
seen
set
sets
Areas
setsData
shadow
shows
shuttle
sideThis
signal
signals
significant
site
site's
slopes
slopesThe
smooth
space
studied
studies
summit
supersite
surface
test
test
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
these
this
to
to
to
to
two
two
two
up
upper
used
viewA
visible
was
was
was
was
water
with
with
with
worldResearch
xx