&copySurrey
5-YearProgressive
AdvanceAccounts
AdvantageWays
BORDERALIGN="MiddleSRC="daniel.jpgWIDTHHEIGHTCopyright
ClosedFixed
Metro
MetroMortgage
	&nbsp;OpenVariable-Rate
MetroMortgage
	In
MetroMortgage
	ifyou
MetroMortgage.
	
	Consider
OpenVariable-Rate
	MetroMortgageyour
OpenVarible-Rate
Prime
Rate
Rates<IMGBORDERALIGN="MiddleSRC="tels2.jpgWIDTHHEIGHT="120"><IMG
Savings
September



ServicesCurrent
a
a
able
an
and
and
and
anticipate
any
applied
applied
	to
are
as
at
at
be
can
convert
does
	PrimeMeanwhileyour
don't
downa
downwardyou
equal
expecting
faster
fixed
fixed
for
full
go
greater
greater
in
in
increasea
interest
interest
interest
interest.
	&nbsp;MetroMortgage
into
is
is
it
lock
monthly
monthly
mortgage
mortgagein
move
near
of
of
of
	your
off
off
off
	your
one
open
	mortgage
or
part
partwithout
pay
pay
pay
payment
payment
payment
penaltyor
portion
portion
principalAlternativelywhen
rate
rate
rates
rates
rates
remains
save
	You
sizeable
termClosedFixed-RateOpenFixed-RateRewriteable
that
the
the
the
the
this
this
time
timeyou
to
to
to
to
to
to
to
	a
total
up
vary
want
will
will
will
year.
	When
your
your