

For
(CLregular
(LEOreceiver
(NCARthe
(OSCAllan
(UCARthe
ArizonaThe
Atmospheric
Center
Corporation
Corporation
for
Doppler
GPS


OnAprila
GPS/MET
Jet
Laboratory
(JPLOrbital
MHerman.







Micro-LabsatelliteThis
receiverorbiting
NMC
National
Osborne
Associatesand
Positioning
ProfBenjamin
Propulsion
Research
Research
Sciences
System
(GPSsatellitesThese
The
University
University
a
a
typical
aboard
aboutkm
aboutkmreceives
abouttoK
accuracies
also
altitude
altitudes
an
and
and
are
are
are
converted
at
atmosphereEarly
atmosphereand
being
bent
between
between
by
by
changeand
climate
climate
constellation
contact
data
data.=1A
earth-orbiting
figure
for
for
Atmospheric
from
further
global
improved
indicate
informationplease
initial
interpolated
into
is
joint
launched
low
measurements
measuring
monitor
nearby
high
new
obtained
of
of
of
of
of
of
ofGlobal
open
pressure
profile
profiles
program
project
promises
radio
radio
radio
signals
radiosonde
radiosondes
(RSand
received
refractedor
remote
resolution
results
sensing
shifted
frequency
shows
signals
signalsthese
soundings
substantially
technique
temperature
temperature
that
the
the
the
the
the
the
Earth's
the
Earth's
to
to
to
provide
together
tokmThis
up
new
vertical
vertical
was
successfully
ways
weather
prediction.

The
with