&copySurrey
August1996



BORDERALIGN="MiddleSRC="button.jpgWIDTHHEIGHTCopyright
Canadian
Ethical
Ethical
Ethical
Fund
Fund
	&nbsp;Ethical
Fund
	Eligibility&nbsp;RRSPRRIF
	
	The
FundsAccounts
Growth
Growth
Metro
Savings
Services<IMG
T-Bills
a
and
and
capital
	primarily
common
companies
criteriaBondsdebenturesand
current
have
high
high-risk
ifyou
in
in
income
investment
investment
is
may&nbsp;be
mediumto
meet
	the
objective
	of
of
of
option
preservation
provide
purchased
	from
stock
that
this
this
through
time
time
	Consider
to
to
toleranceFamily