







PROFILES
KIMBERLY


kim@aascpa.com

profiles

melvin
&copyAshland
Accounting
ACashSenior
Accountant,
serves
Accounting's
CPA
CPA
ServicesP.C.
info@aascpa.com















a
allison

donna
already
also
analysis
and
and
and
and
and
composite
as
ashland

arthur
assistant
be
cochran

home





&quot;Industry
communication
compilation
completion
composite
construction
construction
consultation.
She
detail
evaluation.&quot;


&nbsp;

Kimberly
exam

Cash
experienced
experiencehaving
for
for
glass

tobin
her
in
is
is
is
key
to
knowledge
lead
marketing
materials.

Copyright
of
of
of
Ashland
passed
performance
portfolio
production
requisite
auditing
responsible
the
the
the
the
upon
verification
will