	$116.35	
	An
	$116.35	
	Sino-Soviet
	$134.25	
	Reform
	$143.20	







Best
	$152.15	
	The
	$161.10	
	A
	$223.75	
	The
	$268.50	
	Continuity
	$35.80	
	An
	$35.80	
	The
	$44.75	
	An
	$44.75	
	Leadership
	$44.75	
	Potential
	$44.75	
	Soviet
	$44.75	
	The
	$44.75	
	Why
	$53.70	
	Khrushchev's
	$53.70	
	Russia
	$53.70	
	U.SForeign
	$62.65	
	Karl
	$62.65	
	Russia
	$62.65	
	Soviet
	$62.65	
	The
	$71.60	
	Summary
	$80.55	
	"WE"	by
	$80.55	
	A
	$80.55	
	Moslems
	$80.55	
	The
	$80.55	
	The
	$89.50	
	Cuba
	$89.50	
	Soviet
	$89.50	
	The
	$98.45	
	Russian


A1-Termpaper


Last

History
Law
Linguistics
Literature
Mass
"glasnost89yr
"perestroikaand
&copyASM
(C.I.Sas
0fn
0fn
0fn
0s
0s
0s
0s
0s
0s
10fn
10pgs
10pgs
10pgs
10s
11pgs
11s
11s
12fn
12s
13fn
13pgs
13pgs
13s
14fn
14s
14s
15pgs
15s
16pgs
16s
17fn
17fn
17pgs
18fn
18pgs
1950's0yr
19th
1fn
1s
22fn
24fn
24s
25fn
25pgs
30pgs
3fn
40fn
4pgs
4pgs
4s
5pgs
5pgs
5pgs
5pgs
5pgs
5pgs
5s
5s
6pgs
6pgs
6pgs
6s
6s
6s
6s
6s
6s
7fn
7fn
7fn
7pgs
7pgs
7pgs
7pgs
7s
7s
7s
8fn
8fn
8fn
8pgs
8s
8s
8s
9fn
9fn
9fn
9fn
9pgs
9pgs
9pgs
9pgs
9pgs
9s
Afn
Afn
Afn
Afn
Afn
Afn
Afn
Agricultural
American
An
Analysis
Analysis




&nbsp;







SUBJECT
And
And
And
Armenian
Articles	Reviews
Assessment
Assessment
Azerbaijan
Between
Between
Breakup
Brezhnev	Compares
Brezhnev78yr
Brezhnevwho
Catalog
Center	Examines
Change
China
China
China's
Collapse
Commonwealth
CommunicationsIncAll
Communism
Communism
Communism
Communism84yr
Communismrelations
Communist
Comparison
Comparison
Consequences
Constituent
Cooperation
Cooperation
Coup91yr
CoupGorbachev's
Cuba
Democratic
Dependency	An
Detente
Dismantling
Dispute:	An
DisputeArmenian
DisputeSoviet
Dissolution
East
East	Analyzes
Eastern
Eastern
Eastern
Eastern
Economic
Economic
EconomicPolicy
Effect
Entanglements	Examines
Era
Eugene
Europe	A
Europe	Discusses
European
Expansion	Examines
Failure
Food
Foreign
Former
Future
Germany
GermanyPolitical
Gorbachev
Gorbachev
Gorbachev	A
Gorbachev's
Gorbachov
Gorshkov
Harmony
History	An
INDEX
Anthropology
Architecture
Art
Black
Implications
Implications
In
In
Independence
Independence
Independence
Independent
Institute
International
Islam
Islam
Jewry79yr
Jews	An
Judaismfocusing
Latvia
Latvia
Latvia
Latvian
Latvian
Latvian
Latvian
Latvian-Russian
LeninKosygin
LeninWhy
LeninWhy
Madness	by
Maintain
Marx
Marx
Marxist-Leninist
Media
Medicine
Music
Philosophy
Political
MedvedevBook
Method
Methods
Mikhail
Military
Moslems
Movement	Observes
Muslim
Nagorno-Karabakh
Nagorno-Karabakha
Nakhodkalooking
Naval
New
Nicaragua	Description
Nicaragua91yr
Number
Of
Of
Pactand
Paper
Paper
Essay
Theme
Thesis
Book
Paper(yr=Year
Papers
TermPaper
Term
Perestroika
Policies
Policies
Policy
Policy
Policy
Political
Political
PoliticalEconomic
PoliticalEconomic
PoliticsA
Popov
Potential
Potential
Proceedings
Production
Question
Recreation
Urban
Reform
Reforms	Analyzes
Regard
Relations
Relations	Soviet-Chinese
Report
Case
Republics	Examines
Reserved.









Revolution
Rights
Roy
Russia
Russia
Russia
Russia
Russia
Russia
Russia
Russia
Russia
Russia	Describesin
Russia	How
Russia81yr
Russian
Russian
Russian
Russian
Russian
Russian
Russiaone
Sandinista
Science
Psychology
Religion
Science
Shakespeare
Sociology
Sports
ScienceRussia





To
ScienceRussia
1-800-Termpaper
Termpapers
Term
Since
Sino-Soviet
Sino-Soviet
Sobchak
Social
Social
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviet
Soviets
Stalin
Stalinby
Stalinby	VanLaueDiscusses
States
States
States
Studies




Political
Studies
Business
Ecology
Economics
Education
Film
Healthcare
Studies
Women's
Study
Critical
The
The
The
Title
Title
Description
Traditional
Tsarism
Tsarist
U.S.S.R.	Examines
U.SNaval
U.Sand
U.Sthe
US
USSR
USSR
USSRSoviet
Ukraine93yr
Under
Union
Union
Union
Union
Union
Union
Union	Analyzes
Union	Centers
Union	Observes
Union	Political
Union	The
Union	profiles
Union's
Union94yr
UnionGorbachev's
Unionthe
Unionthe
United
United
Updated12/21/96
Copyright
VanLaue	An
Vietnam
Vietnam	Observes
Visits
W.W.II	Examines
Warsaw
Written(pgs=Pages(fn=Footnotes(s=Sources($=Price)





	Why
Yearin
Yeltsin's
ZamiatinAnalyzes
Zhores
a
a
a
a
a
a
a
a
a
ability
ability
abuse
accelarating
account
accounts
achieved
administrations93yr
adopt
advancement
affected
agricultural
aidand
all
allowing
an
analysis
analysis
analysis
analysis
analyze
analyzed
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
appearance
appearing
are
areas
articles
as
as
as
as
as
as
at
at
at
attempted
attempted
attempts
attempts
authors
basic
because
being
believers
between
between
between
between
between
between
bloc
both
both
both
breakup
brought
but
button
by
by
by
captivate
cause
centrist
century
changed
changes78yr
changing
chaos
citiesMoscowStPetersburgVladivostok
collapse
collapse
combat
comments
commitment
communication
communism
comparedlooks
comparison
concept
concepts
concern94yr
concernedbeing
concerning
conflict
conflict
conflicts
context
continues
continuing
continuity
contradictions
contrasts
control
critique
culminating
cultureeconomics
current
current
democracy
dependent
depicts
destruction
detail,the
detente
determination
determination79yr
development
development
developments
differ94yr
differences
discussed
dispute
dissolution
distinct
doctrinehave
dominance86yr
due
during
economic
economic
economic
economy93yr
effect
effect
effect
emerged
emergence
enclave
entire
especially
essay
establish
ethnic
events
exerted
experienced
facilitating
factions
factors
failure
fear
fo94yr
focuses
food
food
for
for
for
for
for
forces
foreign
form
formed
former
former
former
four
free
from
fromtowithin
future
future
future
futuristic
geopolitical
glasnost
global
growing
growing
happened
has
have
have
heavily
heavy-handed
here
his
his
his
historical
history
historyIslam
how
how
how
hypothetical
ideological
ideologiesculturesbureaucraciespartiespolitics83yr
implications
imprisonment
improvement
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
incidents
independence
independence
independencethe
industrialization
influence
influence94yr
influential
initiated
insight
interestPaper
interests
into
into
introduction
investmenttechnology
issues
its
its
its
its
its
its
its
itself
law
le94yr
lead
leaders
leadersStalin
leadership
leadershipRussia
leaving
left
liberated
light
look
macroeconomic
maintains
maneuver
many
market
masses
matters
may
members
men
mobilizationseeking
months
more
mountainous
mutual
nationalism
nations
nations
nations84yr
nationshow
necessity
new
newly
next
no
not
novel
objectives
occupied
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
ofon
on
on
on
on
on
once
ongoing
opponents
oppression
or
order
other
other
other
others
over
over
own
own
paperclick
part
parts
past
patterns
perestroika
perspective
placate
played
played
point
policies
policies
policies
policy
policy
policy
political
political
political
political
political
politics93yr
position's
positions
possible
power
practices
practicesnoting
present
present
present79yr
primarily
problems
process
production
production
programs
projection
prosperity
protracted
provides
psychiatric
pursue
readiness74yr
ready
recent
recognition
reference
reflection
reform90yr
reforms
regionand
regions
related
relations
relations
relations
relations91yr
relationship
relationship
relationsthe
reorganization88yr
reported
republics
restructuring
resulted
review
revive
rift78yr
right
role
role
sees
separate
sever
severe
similarities
situation
situation
small
social
socialist
society
society88yr
some
some
some
sovereignties
specific
start.






Send
statethe
status
strengthand
strengths
structures
struggle
support
system
system80yr
systems
tenets
territories
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
their
their
their
their
theory
these
these
they
this
this
this
this
this
those
those
threats
through
through
thru
ties
tis
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
tocomments@a1-termpaper.com
toward
toward
trade
trade
transfer
treatment
twenty
two
two
ultimate
under
under
undercut
unique
upon
upon
upon
urgent
varied
view
vs
wake
wake
wake93yr
war
was
weaknesses
were
what
where
where
which
which
which
which
while
who
will
will
with
with
with
with
with

Click
within
world78yr
would
year
years
zonesforeign