	$0.00	
	Emmett
	$107.40	
	A
	$107.40	
	Arguments
	$116.35	
	Lincoln
	$116.35	
	Race
	$116.35	
	The
	$143.20	
	Postbellum
	$179.00	
	The
	$187.95	
	Slavery
	$196.90	
	Frederick
	$205.85	
	Abraham
	$223.75	
	Incidents
	$26.85	
	Slaves
	$35.80	
	A
	$35.80	
	A
	$35.80	
	Ambivalent
	$35.80	
	Time
	$44.75	
	Capitalism
	$44.75	
	Garvey
	$44.75	
	Issues
	$44.75	
	Jo
	$44.75	
	John
	$44.75	
	The
	$44.75	
	The
	$53.70	
	Claude
	$53.70	
	Frederick
	$53.70	
	The
	$53.70	
	The
	$53.70	
	The
	$53.70	







Best
	$62.65	
	Abolitionism	Traces
	$62.65	
	Answers
	$62.65	
	Malcolm
	$62.65	
	Slavery
	$62.65	
	The
	$62.65	
	The
	$71.60	
	Slavery
	$71.60	
	SlaveryMythology
	$71.60	
	The
	$80.55	
	Miscegenation
	$80.55	
	Sugar
	$89.50	
	Black
	$89.50	
	Current'sThe
	$89.50	
	From
	$89.50	
	Harriet
	$89.50	
	West
	$98.45	
	Cultural


A1-Termpaper


Last

History
Law
Linguistics
Literature
Mass
&copyASM
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0fn
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
0s
10pgs
10pgs
10pgs
10pgs
10pgs
10s
11fn
11pgs
11s
11s
12fn
12fn
12pgs
12pgs
12s
12s
13pgs
13pgs
13pgs
13s
13th
13th
14fn
15fn
15fn
16pgs
1700's
17fn
1800's88yr
18fn
18fn
18s
18th
1919	Examines
19fn
19fn
19th
20fn
20fn
20fn
20pgs
21fn
21pgs
22pgs
23pgs
25pgs
26s
28fn
2fn
2s
2s
3pgs
3s
3s
4fn
4pgs
4pgs
4pgs
4pgs
4s
5fn
5fn
5fn
5pgs
5pgs
5pgs
5pgs
5pgs
5pgs
5pgs
5s
5s
5s
5s
5s
6fn
6pgs
6pgs
6pgs
6pgs
6pgs
6pgs
7fn
7pgs
7pgs
7pgs
7pgs
7pgs
7pgs
7s
7s
7s
8fn
8fn
8fn
8pgs
8pgs
8pgs
8s
8s
8s
8s
9fn
9fn
9fn
9pgs
9pgs
9s
9s
AScarano	Provides
Abolitionist	Accountwithpage
Abolitionists
Abolitionists81yr
Abraham
Afn
Afn
Afn
Afn
African
African
African
African
African-American
African-American
Africathe
After
Against
Amendment	An
Amendmentbetter
America
America	Discusses
America	Examines
Americacentered
American
American
American
American
American
American
Analysis	Examines
Analysis




&nbsp;







SUBJECT
Ann
Anne
Ante-Bellum
AnteBellum
Articles
As
Attitude
Battle
Benin81yr
Benjamin
Biography
Black
Black
Black
Black
Blacks
Blacks80yr
Border
Boston
Boycott	An
British
BrownThe
Bus
CCalhoun	Discusses
Cabin,The
Calhoun's
Career
Case	Viewed
Catalog
Centuries
Chicago
Civil
Civil
Civil
Civil
Civil
Civil
Civil
Civil
Civil
Civil
Civil
Collected
CommunicationsIncAll
Comparison
ConfederationLincoln-Douglas
CongressExamines
ConspiratorsJohn
Constitution91yr
Constitutional
Controversy	Discusses
Cotton
Cross
Crow
Democracy
Discussion
Discussion
Douglas
Douglas
Douglas	by
Douglascareerbased
Douglass's
DuBoisA
Economy
Economy
Effects
Eighteenth
Emancipation
Emergence
Emmett
Emmett
End
European
Federal
Federalist
Federalist
Ferry
Francisco
Franklin
Frederick
Freedom	by
French
Gavin
Georgia
Georgia
GeorgiaChanges
Girl
Goldsby	A
Governmentincluding
Greek
Growth
Haitian
Harlemexamines
Harper's
Harriet
History
History	Analyzes
HistoryBlack
1-800-Termpaper
Termpapers
Term
Hymn
II79yr
III81yr
INDEX
Anthropology
Architecture
Art
Black
Immigration	Describes
Indian
Indiesand
Infant
Involvement
Islam
Islam
Jacobs	A
Jamaican
Jeffrey
Jim
Kenneth
LEngerman	An
Liberator
Life
Lincoln
Lincoln	Examines
Lincoln's
Lincoln's
Lincoln's
Lincoln,the
LincolnVolumes
Madison's
March
Maroons	The
McKay
McKay's
Media
Medicine
Music
Philosophy
Political
Montgomery
Moody	Compares
Movement
Movement	Examines
Movement	Examines
Negro
New
Nineteenth
Northern
Northern
Number
Oliver
Paper
Paper
Essay
Theme
Thesis
Book
Paper(yr=Year
Papers
TermPaper
Term
PapersLincoln
Papersthe
Party	A
Partyand
Plantation
Political
Political
Poncea
Ponceby
Post
Presidency
Proclamationending
Puerto
Puerto
QuarlesA
QuarlesBlack
Race
Race
Races
Railroad
Railroad	Looks
RailroadAn
Ramifications
Ransford	Examines
Ratification
Reality	An
Reconstruction
Recreation
Urban
Related
Relations	Examines
Report
Case
Republic	A
Republic	An
RepublicUncle
Reserved.









Revolution	A
Revolutionary
Rico94yr
RicoThe
Rights
Rights
Rights
Rights
Riot
Robert
Robinson
Robinson's
Role
Roman
Rossbach	A
Science
Psychology
Religion
Science
Shakespeare
Sociology
Sports
Sea
Secret
Sharecropping
Sherman's
Six
Slave
Slave
Slave
Slavery
Slavery
Slavery
Slavery	An
Slavery	Examinesanti-slavery
Slavery	by
Slaves
Social
Social
Socioeconomic
South
South	by
South81yr
Southern
Southern
Southern
Southern
Southparticularly
StamppA
Stanley
States	An
States	Analyzes
States91yr
Strange
Studies




HistoryBlack





To
Studies
Business
Ecology
Economics
Education
Film
Healthcare
Studies
Women's
Study
Critical
System
System	Focuses
Systemhis
The
Theory
Thought
Till
Till
Title
Title
Description
Tom's
Toward
Trade
Treatment
Tubman
TubmanThe
U.SIt
US
US81yr
Underground
Underground
Underground
Union
Union	A
United
United
Updated12/21/96
Copyright
Violence
Virginia	Traces
Virginia's
WFogel
WW
War
War
War
War
War
War	Examines
War	Examines
War91yr
Warpolitical
West
West
Whig
Whig
WilliamsA
Women
WoodwardA
Works
Worldstruggle
Wright	Deals
Written(pgs=Pages(fn=Footnotes(s=Sources($=Price)





	A
X
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
acceptance
accord
acculturation
acquired
adaptailitythe
adolescent
advent
affairs
affected
after
after
after
agricultural
among
an
an
an
an
an
analysis
analysis
analysis
analysis
analysis
analysisA
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
antebellum
antipathy
areas92yr
around
arrangements
as
as
as
as
as
as
as
as
as
aspect
aspects
at
autobiographies
autonomy
based
be
because
because
beginnings
behaviors
being
being
belief
belief
between
between
biographical
black
black
black
blacks
blacks
blacks
bondage
book
border
both
both
bound
boycott94yr
brutalitydrudgeryits
button
by
by
by
by
by
by
by
by
by
by
by
can
carereligion
cause
center
centuriesshowing
certain
characteristic
children
civil
civil
civil
colonial
combination
comments
comparison
comparison
concerning
concerning
conditions
conditions
conditionsetc91yr
considerable
conspicuous
constituted
contends
context
correct
country
created
creating
crisisLincoln's
critical
critical
crop
cultural
cultural
cultural
cultural
deal
dealing
death
debates
degree
democratic
desire
despite
destruction
detailed
determining
development
developments
dictatorship80yr
differences
direction
disastrous
discussion78yr
district
during
during
during
early
economic
economy
economy
education
education92yr
educational
effects
effects
effects
effects
effects
emancipationetc92yr
emergent
empire
endure
eof
equality
equality92yr
essay
evaluation
evaluation
event
events
eventual
existed
existed
experienced
extended
extent
facedBlacksboth
failed
failure
family
farmhaving
farms
fervor90yr
firm
fn
focuses
for
for
for
for
forcible
forever
formation
fortunes
free
free
free
freed
freedmenwere
freedom
freedom,his
freedom91yr
freeing
freeing
friendly
from
from
from
from
from
from
gains
grasp
groups
growth
had
have
having
having
he
her
her
here
highly
his
historical
historical
history
history
history
historyincluding
how
how
illustrates
immigration
impact
imperialism
importanc
improving
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
incidents
influence
influential
inhumane
initially
inquiry
insights
instinct
institution
institutions
interestPaper
interpretation
into
into
involvementAtlantic
is78yr
issue
issue
issues
issues
it
it
its
its
its
its
its
jail
justice78yr
knowing
known
labor93yr
largely
law
leadersrole
legendary
liberation
life
life
life
linked
lives
lynched93yr
lynching
made
maintenance
major
man's
man's
manifested
martyr
maternal
media
medical
men
men
men's
menaining
mid-Sixties81yr
militantdiscovering
moralitylaw
most
most
motivationsattitudes
movement
movementin
movementnoting
murder
n0n-European
nation
natural
new
newly
next
no
not
not
novelsHome
observation
occurs93yr
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of78yr
offers
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
one
one
operations
oppression
order
order
organization
origins
other
other
outcome
outline
over
owners
owners
owntook
paperclick
participated
particular
particularlly
particularly
passageslavery
perceived
perpetuated
perspective
pgs
philosophiestheir
philosophy85yr
plantationsuprooting
played
plight
plights
policies81yr
political
political
political
politicalsocial
portrait
position
positionthe
pre
preceding
prejudicebigotryfearand
prejudices
prior
producing
producitivity
provides
questions
race93yr
racial
raid94yr
railroad
railroads
raised
rationale
readings
realignment81yr
reconstruction
redemption
relations
relations81yr
relationship
relationship
relationships
religious
religious
remain
republicjusticedemocracy
respectively81yr
responsibilities
resulting
review
review
review
review
review80yr
rights
rights
rights
riot
rise
role
role
role
roles
roots
rulethe
rumors
runaway
rural
s
scale
seen
sentiments
sexuality
sharecropping
ships
since
situation
sketch
slave
slave
slave
slave
slave
slave
slave
slave
slave78yr
slavery
slavery
slavery
slavery
slavery
slavery
slavery
slavery
slavery
slavery78yr
slaveryelectoral
slaveryhis
slaveryits
slaverythe
slaves
slaves
slaves
slaves
slaves
slaves0yr
slaves79yr
slaves94yr
social
social
social
social
songs
southeastern
sovereignty
special
specific
specific
standpoint
start.






Send
states
states81yr
stature
stereotypes,their
stigmatization
story
strife
strong
struggle94yr
study
such
sugar
support
surrounding
synthesis
system
system88yr
systemprimarily
take
th
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
their
their
their
these
these
they
they
things90yr
this
this
this
this
this
those
through
times
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
toExamines
tocomments@a1-termpaper.com
together78yr
trade
traditional
traininglaborhealth
transitory
travel
treatment
tremendous
true
two
two-volume
tyranny
underground
uphold
upon
upon
upon
upon
value
various
various
various
via
views
views
views
views
views
views
views
views
viewsbased
warthe
was
were
where
which
which
which
which
which
which
white
white
who
with
with
with
with
with
with

Click
women
women
women
work
work
working
works
works
worksone