(3)Az
(4)Az
(atjatszasa
(bar
(elokelo
(ezutobbi
(magyar
(mertha
(s
(stabilitasnem
-csak
-gazdasagihatalmi
-gyoztesnekmasokat
-kozeposztalykorruptkapzsitolakodoaruimadoistentelen,erkolcstelenlatokor
-meltatlanabb
1526-bana
1849-benmajd
1920-banharmadszor
1956-nal
1956-ot
1956-ot
1990-ben
1990-etkovetoen
1994-beneroiket
1996.03.10Nemzet
1996.03.10SubjectNemzet
1996.03.10X-Subscribesubs.nemzet@magyar.siliconvalley.comX-Unsubscribeunsubs.nemzet@magyar.siliconvalley.comX-WWW_Pagehttp://www.siliconvalley.com/nemzet.htmlX-DisclaimerDissemination
23-aelott
A
A
A
A
Allamokvagy
Antall
Antall
Antall
Antall
AntallJozsefaki
Antallaltal
Az
BLOCK-----

BLOCK-----Version2.2mQCNAjCa/14AAAEEALKTqTI1BVtFs63+rV0zPyTQZ3Mi0iNPrFK0SJw71ypW0QM+medOV8X0UZaeKYg455IdB9QfC7tEi7xWZGPSiGbUxlhuN4hTOonFhIRJg2CDE3iG53OSsh2OHRyM3O0ozTnroKKoFax8Wz9wZQsrNQc5fpbx/JFqG43bm6trFGRjAAURtChOZW16ZXQgPG5lbXpldEBtYWd5YXIuc2lsaWNvbnZhbGxleS5jb20+=WggG-----END
Babel
Birodalomra
Bokros
Bokros
Bokrosrol
Dante
Dozsa
E
E
ES
Europa
Europa-tartomanyanakszekvarosaDublintolVlagyi-vosztokigArhangelszktolMaltaiginnen
Europaba
Europai
Europai
FIDESZtetterospapagajkent
FIVER
G
G
Gabortaki
Gyorgy
Gyula
Horn
Horn
Horthy
I
Isten
IstentAteljesitmenyt
Jeszenszky
Jozsef
Jozsefaltal
KEY
KEY
Karpat-medenceben
Kelet-Europa
Kovacs
Kozepes
L
L
M
M
MDF
MDF
MDF-be
MDF-elvalami
MDF-et
MDF-tolde
MSZMP
MSZMP
MSZP
MSZP
MSZP
MSZP
MSZP-hez
MSZP-reSajnos,ez
MSZP?A
MZETNNNEEEEMMMZEEEETNN
Magyarorszag
Magyarorszag
Magyarorszag?Gyakran
Magyarorszagnak
Magyarorszagon
Magyarorszagot
Magyarorszagothogy
Miklos
Moszkva
Moszkvabol
N
N
NAGY
NATOtagsagtolVedelmetAzt
NEMMZETNNNEMMZETNNEEEEEEEMMZZZZZZZEEEEEEETM
NNEM
Nagy-MagyarorszagDraga
Nemet
Nemeth
Nemzet
Nyugat
Nyugat
Nyugattorz
Onok
Onok
Onoknekegyedul
Oroszorszag
Oroszorszagtol
Orszaghaz
OrszaghazbanjatszanakMilyen
P
PGP
PGP
PUBLIC
PUBLIC
Peto-Horn
Peto-Hornkorszakba
R
RI
Romaniaval
SZAMVETES
SZDSZ
SZDSZ-t
SZDSZmig
Szlovakia
Szudeta-videktol
T
TV
Trianonban
Unio
Unioba
Vereim!Szerencsetlen
Vlagyivosztokig
Y
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
aMagyarorszag
aNyugat
aaeliberalis
aaemegvalosult
abba
abban
abban
abbolamit
abennunket
aczelgyorgyi
ad
ad
addig
addigfokoztak
ademokratikus
adni
adniami
ado
adobeszedoinek
adopres
adoprest
adossagat
adossagcsapda
adossagcsapdanakmely
adossagok
adossagok
adossagszolgalaton
aebekefenntartoo
aedinasztiaitomelyek
aeegy
aefelszabaditottoa
aemegvalosultszocializmuso
aeordas
aerendszervaltasokezdetetol
aeszakertoinekocsalard
aeszocialista
aevilagallamo
aevisszahoztao
afent
afinnekhez
afueggetlensegnek
agresszivha
agyaban,de
agyaltak
agyat
agyatultetesselliberalizalt
agyszerkezetu
agyukba
ahagyatekhoz
ahazai
ahazugsag
ahazugsag
ahhoz
ahogy
ahogy
ahogykutatointezetek
ahonfoglalo
ahontalansagnalidegen
ahus
akadna
akar
akar
akar
akar
akar
akar
akarattalkicsitol
akarnaks
akartuk
akereskedelmetutana
akesobb
aketsegbeeses
aketsegbeesoinformacios
akihamarosan
akisantant
akivansagrolhogy
akkor
akkor
akkor
akkor
akkor
aknamunka
aknamunka
akoltsegvetes
akommunista
akormanyzat
ala
ala
ala
ala
alakitoi
alakulnakDe
alakult
alamuszi
alapamelyroltovabb
alapeszmeketmelyek
alapjan
alapjan
alapjan.A
alapjat
alaposabban
alapszerzodesamit
alapulo
alapulopolitikai
alatt
alatt
alatt
alatt
alatt
alatt
alatti
alattmegteltek
alatttukor
alazatos
alaztak
aldozatCivilizacionk
aldozathozatalramely
aligha
aligha
aljalottyedekkel
alkalmakat
alkalmasa
alkalmatlansaganakkimutatasa
alkalmazkodniRendben
alkonyanak
alkossuk
alkotottesamelyet
alkulccsalnyitogatoemberi
alkulhattak
all
all,hogy
allMintha
allam
allamiellenorzes
allamokat
allampolgar
allampolgar
allampolgari
allamrenddel
allando
allannak
allapotaba
allapotabols
allapotai
allapotnak
allapotokat
allatcsordahozhasonlitmelynek
allatkent
allitjak
allitjak
allitjukingosagainkra
allitottakNo,nem
alljonNos,ketsegtelenhogy
allmeg
allnak
allnakIttminden
allnamely
allo
allo
allo
alloharomszaz
allomanyatEgyedul
allomasoztatasaraa
allottugy
allovilagallami
alltA
alltAz
alltak-e
allunkes
almaink
almamegnyomoritottkifosztottidegen
almodozhatunkTobbe-kevesbe
almukban
alol
alolA
alomtortan:MagyarorszagonNoazt
alsobb
altal
altal
altal
altal
altal
altal
altal
altalEsnezzuk
altala
altala
altalaban
altalimegkaparintasanak
altaluk
alvilagban
alvilagiteve
alvilagkepeirehangjaira
amagangazdasag
amagyarde
amagyarokehanem
amagyarsag
amagyart
amaz
amegszuentetese
amely
amelyek
amelyre
amerikaimilliomosok
amig
amitiratlan
amugy
amunkassag
amuveletlenseg
anarchia
anelkul
anelkulhogy
anemzeti
anemzetsorvasztas
anepunk
annak
annak
annakhitt
annektaltTovabbateruleteiken
annyi
annyi
annyira
antalli
antalli
antalli
antalli
antalli
antalli
anyagi
anyomor
aparaaparol
apenzugyminiszterium
aramlik
aran
aranybornyu
aranyospolitikai
arasztotta
arcmas
arculatatNem
arisztokraciaonmagatveli
arkaba
aronkulfoldiek
arra
arra
arrahogya
arrol
arrol
arulasa
arulast
aruloivalFekete
arulok
asajatos
assumed.NNEEEEEEEMMZZZZZZZEEEEEEETTTTTTTNNNEMMMMZETN
aszerbek
aszovjet
at
at
at
at
atanulas
ateleserea
atemeto
atermeloszovetkezetekben
aterzik-eAterzik-e
ates
athatvahirtelen
atisztikar
atkozni
atkozo
atlathatatlanSotetsegben
atnyergelokszama
atobbsegi
atvenniuk
atvitt
autochton
autonomia
avalasztasi
avilagothanem
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az
az,hogy
az,hogy
azMSZP-nek
azadok
azadossagcsirizbeSem
azadossagszolgalatbol
azalkoto
azallam
azallamhaztartastol
azamit
azantalli
azarany
azegesz
azegeszsegugyi
azegyetlen
azeletmuveket
azelmult
azert
azert
azert
azert
azert
azerthajtogatjakmert
azhogy
azinformaciokozvetites
azok
azok
azoknak
azoknak
azoknak
azonban
azonban
azonban
azonban
azonbanhogy
azonbanhogy
azonbanugyancsak
azonos
azorszagdogleszto
azorszagok
azorszagon
azota
azt
azt
azt
azt
azt
azt
aztan
aztan
azunokak
azutolso
azzal
badarsagokOrszagunkban
badarsagos
baj
bajMiert
bajuszuegyszeru
bankepitkezesekreamilliardos
bankokat,majd
bankugyletekrepeldatlan
bankvilag
bantak
bantaniakarok
barany
baranyamindenki
baratnakaz
baratot
bareszmerendszeruktol
barkinek,foleg
barmi
bazisa,fuves
be
be
be
be
beErrolbeszelni
beallitottsagunkatennek
bebortonzesegyetlen
becsuletet
bede
beegyreszt
beepuelt
bees
befele
befogadas
befogadni,amit
befogadoesvegul
befolyasamely
bejonnesot
bejutasraEs
bejutnunkAzEuropalefetyelest
bekesen
belatasunk
belatasunknakmegfeleloen
bele
bele
belepszhagyj
beleragadunk
belesuketultek
belso
belso
belso
belu
belul
belul
belul
belulikisemmizettsegenek
benefit,X-Disclaimerresponsibility
benne
benneEsketsegtelene
bennemelyek
bennesemmi
bennuenket
bennuenkethisznemcsak
bennunketes
beolvasztotta
berendezkedes
berendezkedesunketAntall
besetalo
besetalok
beszovopokhalojatmasreszt
betegagyakatAz
betegebballapotban
betolteniakkorminden
betonkalickakban
bevandorlas
bevandorlasi
bevandorlasiugyekE
bevenniTroja
birosagunkHat
birtokaban
bizarrhiszen
bizonyoseszmei
biztatastDe
bocsassa
bohoceNem
bokkeno
boldog-boldogtalannaklakossagunkat
boldogan
boldogtalan
bolond
bolyonganakE
bomlasi
bor
bornyu
borzalmata
borzalmu
buentetlenuel
buentetlenuelakadalytalanul
bukasainak
bukasaval
buko
bune
bunehogy
bunet
bunokrea
bunosKozep-Europafekete
bunszovetkezetet
buzlo
celbol
celja
celjainak
celjaraIskolaEgyetemNevetseges!Szaporitani
cimensajat
cinizmusarolalig
content
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csak
csakarnya
csaknem
csaknemegeszeben
csaknemteljes
csakremenyunk
csaladalapitas
csaladok
csalanos
csapasaitA
csapatHazavargasok
csapatmely
csatorna
csatornat
cselekedeteikerkolcsileg
cselekedeteinek
cselekedhetuenkIgazderulatasra
cselekvesi
csillagosvenyrehanem
csillogtatva
csinalni.A
csodaEnnek
csodadoboz
csodadobozat
csodadobozatAmha
csodadobozmelyet
csodanaka
csodas
csodavarastol.Fuggetlen-e
csodjeminel
csomag
csomag
csomagban
csomagbancsak
csomagnak
csontokrol
csontropogtatasabaakiknek
csoportosulasok
csukva
csupan
cukormaza
dagadt
de
demokraciank
demokraciato
dereng
diszkriminaltakesetenkent
divergensnekazaz
dobbeneteshogy
dolgaErontok
dolgok
dolgoznaka
dolgozzak
dolognak
dologrol
dontesi
donthet
dramai
duhongcsak
durva
e
e
e
e
e
e
e
ebbol
ebbol
eddig
eddig
effelekhezNincs
effelerolEzek
efolyamatot
egesz
egesz
egesz
egesz
egesz
egesz
egesz
egesz
egesz
egesz
egeszdemokratikus
egesze
egeszeben
egeszet
egeszet
egeszetaz
egeszseguegyiek
egesztarsadalom
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy
egy-egy
egyeb
egyenesbelathatokovetkezmenye
egyensuly,hanem
egyensulyanak
egyensulyat
egyensulyhianyt.Arrol
egyensulyt
egyes
egyesekethaborus
egyeseveltizesevel,szazasaval
egyesiteniNe
egyetemes
egyetemi
egyetlen
egyetlen
egyetlen
egyetlenmelykepviseloinek
egyfajta
egyforma
egyformaemberegyforma
egyidejuleg
egyik
egyik
egyik
egyiranyba
egykor
egykorones
egymastegymaserdekeitszempontjaitDe
egyolyan
egyregyorsulo
egyreszthatalomban
egyresztmasreszt
egyreszukulo
egyszer
egyteljesen
egyutt.OsszefuggesekA
egyuttEbben
egyuttmukodesben
ehberre
ehhez
ekerdest
ekkent
el
el
el
el
el
el.Jojomondhatnakaz
elEz
elHorn
elKulpolitikankat,mindenekelottkulpolitikai
ela
eladositasatmig
elall
elaraszt
elarult
elborzaszto
elburjanzasa
ele
eleg
elegrad
elehetoseg
elejetol
elejtettszalakatOroszorszag
elelhangzik
elemei
elemzesekegyaemintha
elen
elengedhetetlen.Meggyozodesemhogy
elengedte
elenk
elernyesztette
eles
eles
elet
elet
elet
elet
eletPolitikai
eletehamis
eletenekkulturajanak
eleterzesben
eletet
eletetaz
eletkeptelen
eletmindenestol
eletrolegyuttal
elettani
elettek,vonatokonautobuszokon
eletuenkbebeepitett
eletuenket
eletuk
eletunk
eletunket
eletunketnem
eletunkets
eletunknekNemkivanom
elfedi
elfelszabdaltakhatarait
elfogadasa
elfogadjahogyo
elfogadtatnimosta
elfordult
elhangzikMagyarorszag
elharitasaradeo
elherdalasanak
elherdalasaval
elhessuekmagunk
elhogy
elhunyt
elhurcoltak
elhurcoltak,es
elitetreszben
eljatszotta.Kozeposztalyi
eljon
elkep
elkepzeleshogy
elkeruelhetetlennel
elkeseredes
elkezdeseutan
elkiirtva
elkonyvelhetnekA
elkotelezni
elkotyavetyeltek
elkovetett
elkue
elkulonitettlakohelyrehazaraszert
ellathassuk
ellen
ellen
ellen
ellenHogy
ellenMindemellett
ellenallas
elleneinditott
ellenerdeku
ellenere
ellenertek
elleni
elleni
elleni
ellenkezoje
ellenkezojet
ellenseg
ellensegSzamos
ellensegaz
ellensegeitBuda
ellensegekA
ellensegekvesznek
ellensegenek
ellenseges
ellensegetellensegneka
ellenunk
ellenzekkent
elminden
elni
elniAz
elniha
elnyomas
elnyomasalatt
elnyomorodasa
elo
elo
elo
eloallt
elobb
elobb
elodazhatatlan
elode
elodeikUgyanaz
elodeinknek
eloirasok
elol
elol
elore
elorehaladottde
elosegitette.A
elosegitsemAz
eloszor
eloterbe.1990-ben
eloterjesztetteAzegesz
elott
elottmert
elottuenk
elottuenkes
elpusztitasataz
elpusztitottakde
elso
elso
elsorendu
elsosorban
elszakitott
elszenvedoide
elszigeteteltek
eltakarvaszemuketmeg
eltelt
elteltevela
eltero
eltitkolt
eltkozepeuropai
eltorzitottakA
eltulajdonitanilehet
eltunjek
elunk
elutasitas
elvegezhetoiranymutato
elvegzeseheznelkuelozhetetlenVagy
elvesszuk
elveszettamagyarsag
elvesztett
elvet
elviselhetetlen
elviselni
elvonatkoztatva
elvont
elzarkoznihanem
ember
ember
ember
emberek
emberekakikevekig
emberekbolbermunkas
emberekeletebeJellemzo
emberi
emberinemzetiegyenjogusitasaAz
emberiseg
emberisegnemzeti
emberutodaira
emigraciobantalalhatta
emleget,nem
emlegetett
emlekeiteskiegyensulyozottaz
emlekezetunkbe
emlitett
enepallomanyat
energiaellatasta
energiait
engedamikor
engedetlenseg
engedjuk
engedniannak
ennek
ennek
ennyire
epitenie
epitokoveibol
epp
eppen
eppen
eppenseggel
eppugy
eppugy
eppugymint
epuletekre
epuleten
erdekcsoport.A
erdekeit
erdekeket
erdekeketde
erdekel
erdekunk
erdekvedelmi
erdekvedelmi
erdekvedelmi
erdem
eredethezNem
eredeti
eredeztettekes
eredmenyeibol
eredmenyekent
erezhessemagatHa
erezni
ereztehogyekkora
erint
erintettde
erkolcsi
erkolcstelenseggazemberseg
erkolcsu
ero
eroinekkozremukodese
eroit
erok
eroktol
erolkodessundorges,megalazkodasaz
eroszakkalforradalommalcsupan
eroterek
erre
errol
ertekeit
ertekrend
ertelem,mely
ertelmisegeA
ertelmisegekepesek
ertelmiseget,vagy
ertelmisegge
ertelmisegi
ertelmisegiakierzekelte
ertelmisegneknoha
ertelmuE
ertetlenseg
erthetode
ertik
ertikJaj
ertikMeg
ervekre
ervenyesulamagyarsag
ervenyesulhettek.A
ervenyesulni
ervenyesultek
ervenyunek
erzeketlen
erzelmeketnem
erzemtudomhogy
erzes
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
es
esHorvatoszag
esMittudnak
esannak
esegyseg
eselyees
eselyeinket
esemenyeirolbenne
eseszmei
esetbens
eseteben
esetek,amelyekben
eseten
esetenkent
esetenmint
esett
esettazutan
esettelegy
esettszoelidetlenkedte
esinfernoi
eskudott
eskujehezes
eskuzdelem
eslegvegetesebben
eslelke
esmegmerettetes
esmeltatlan
espolitikai
esszeretni
esszerumagatartastiszteletet
estorekveseit
eszelosseg
eszetekbehogy
eszkozeitEzek
eszkozeivel
eszkozokkel
eszmeiseg
eszmeisegenekbelso
eszmeitisztulast
eszmejemelyet
eszmejet
eszmerendszerekre
eszmerendszert
eszmeszolgalatabano
eszsoldoshadukon
esztendejebenOnnannem
esztendo
eszunkbeAz
etomott
europai
europai
europai
europai
ev
evei
evek
evek
evekEz
evekben
even
even
eves
evre
evrol
evszazadaosszeszokott
evszazados
evtizedekig
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ez
ezAvelemeny
ezNoha
ezaltal
ezek
ezek
ezek
ezeket
ezen
ezen
ezen
ezenkozben
ezernyi
ezt
ezt
ezt
ezt
ezt
ezt
eztmeghiusitottaka
ezzel
ezzel
ezzel
ezzel
faj
fajdalom
fajfenntartas
fajta
falakon
falanszterpolgaraivaamely
falatoznakMitFalatoznakZabalnak!Zabalnak
falattal
faloban
farkascsordatNe
farkasetNo
fegyverrel
fegyverrel
fegyverrel
fegyverrelhanem
fegyvert
fejebenszuletett
fejetha
fekete
fekete
fekete
fekete
feketeFekete
feketeatlathatatlana
fel
fel
fel
felA
felA
felAzigy
feladat
feladataE
feladatnaklatszik
feladatok
felajanlanunkhogy
felbomlasztasara,erkolcsisegenek
felboritjaadossagcsapdaja
fele
feleNe
feledjuk
feleloskormanyunkVan
felelosseg
felelotlenmeggondolatlan
felemelesendolgoztaks
felett
feletti
feletti
felfoghatnas
felfujtlegbuborek.Omive
felgyogyul
felmertehogy
felmerult
felmint
felmutatasa
felmutatott
felnekDe
felolA
feloldania
felretenni
felrevezetesere
felszabaditottak
felszamolasaMikor
felszamolasaraMa
feltalalasaEz
feltetele
feltetelea
feltoltodo
feltunes
felvenni
fenevadjai
fennall,egyensuly
fennallo
fennmaradasaerts
fennmaradasat
fenyegetes
fenyegeti
fenyegeto
fenyet
fer
feudalis
feudalizmus
feudum
fiai
fiak
fiakra
fiatalsagot
figuraivalmegvesztegetettrongyembereivelbuzlo
figyelemet
fizetnitudjunkA
fizikai
fo
fo
fo
fo
fogadja
fogadja
fogadtukletaglozott
fogalom
foglalniInnen
fognakes
fogvateljesseggel
fokent
fokent
fokozatosan
fokozottabb
foldjereidegen
foldon
foldon
folebredneisa
folemesztoszocialista
folott
folott
folottlaposan
folsajat
folszamoltak
foltetelehogy
folyaman
folyamatMagyarorszag
folyamata
folyamatosan
folyo
folyt
folytatnunkIdeje
folytatott
folytatottemberi
folyteletenek
for
for
forditja
forditott
forradalmat
forradalom
forradalom
fortelmebe
fosztogatasanakakozossegi
fosztogato
frakciojanak
franciaforradalombol
frocsogese
fueggetlenitheti
fuggetlen
fuggetlenes
fuggetlensegetol.Ketsegtelen
fujja:Rajta
fuldoklunkHogy
fule
fullasztottakAz
fulunkbe
furakodott
furcsaezt
fustkodben
futtattak
fuzodo
gado
gazdasag
gazdasagban
gazdasagfekete
gazdasagi
gazdasagi
gazdasagi
gazdasagi
gazdasagi
gazdasagi
gazdasagi,tarsadalmipolitikai
gazdasagmellekteruleteihanem
gazdasagnak
gazdasagotmasreszt
gazdasagpolitikajaHosszu
gazdasagunk
gazdikezenek
gocaiba
golyonincs
gondolat
gondolata
gondolathogynetan
gondolja
gondoljak
gondoljatudnia
gondolkodas
gondolkodasmodjukat.Mindenkit
gondolkoznakHiszen
gondosankivalogatta
gondoskodni
gonolatokA
gorcsosen
gozoketha
guzsba
gyakorlatara
gyakorlatat
gyakorlati
gyakran
gyalazatTukorkepe
gyar
gyarapodott
gyavasag
gyerek,tanar
gyermekLegyen
gyermekeit
gyilkoltak
gyilkossagkinzas
gyokerei
gyomverte
gyorsanerdem
gyotrodve
gyozelme
gyoztes
gyoztesek
gyoztesnek
gyujtopontbanegyesulo
gyulekezet
gyulolet
ha
ha
ha
ha
ha
ha
haboru
haboruban
haboruban
haboruelvesztesenek
haborut
haboruvesztes
habzas
hadak
hadiszineitlengeti
hagyAdott
hagykialakulni
hagynak
hagyvaagya
hajlamainknak
hajlandok
hajszoljak
hajszolni
hajtogatjakszakadatlanulhogy
halad.Azamit
halalositeletsuttyomban
hallaniakik
hallgatnakhogy
hallgatnihogy
hallgatok
hallgatonkmondokank
hallhatott
hamarosan
hamvado
hangsulyt
hangzikhogy
hanyada
hanyada
hanyatlas.Tudnunk
harapofogojabanugy
harc
harmadik
harmadikAz
harulo
hasonlitottak
hasonloan
hasonlokeppen
hasonszorueknekOsszeeskuevesszeruen
hasznalamikor
hat
hatKeves
hatalmas
hatalmata
hatalmatmajdutan
hatalmi
hatalmi
hatalmi
hatalom
hatalom
hatalom
hatalomaltal
hatar.A
hatarokon
hatarokon
hatarozhatunk
hatasara
hatasosan
hatastalanitjukmeg
hatatpartjuknakAz
hatekonyha
hatoeroibol
hatoerok
hatoerokmukodnekmelyeknek
hatoltak
hatottSor-sunk
hatotta
hatterben
hatterben
hattereben
haza
hazaarulas
hazaarulas
hazaarulashagyomanyat
hazaarulastvagy
hazaarulokbol
hazahaza,melyet
hazai
hazai
hazaja
hazajaha
hazankban
hazankonkivuel
hazarol
hazat
hazata
hazatarulnis
hazugsag1990-ben
hazugsagot
helybenmaradottakat
helyen
helyen
helyereKemeny
helyes
helyesen
helyeztekes
helyi
helytartok
helyzet
helyzetbe
helyzetbe
helyzetben
helyzetetkivuelallonak
hever
higgyek
higyjekhogy
hihetetlennek
hihetne
hintik
hirdetikhogy
hirkozles
hirkozles
hirkozles
hiszemhogy
hitelesedo
hitelesiteni
hitelesse
hitelet
hitelugyletekneka
hitenmaga
hitet
hitet?Mia
hitets
hitt
hivatastudat,aldozatkeszsegalazat
hivatkozo
hivek
hivok
hogy
hogy
hogy
hogy
hogyanokra
hol
hol
holdudvarbanjatszo
holgyecsek
honi
hordalekatde
hosszu
hozomanyCsakhogy
hozottletrebeleepult
hozzajuk
hozzalettevekenysegukhozaz
hozzank
hu
hullMi
hullain
hulloire.Gondoljunk
humanizmusrol
hunyt
hurcolta
husabol
huseg
huseg
husegetminthabizony
husz
huzodo
ide-oda
ideajat
idealizalni
idegen
idegen
idegen
idegen
idegenhelytartokat
idegenkent
idegenseg
idegensegbelso
idegensegbetelepult
idegent
idejeben
idejen
idemenekuloknek
ideologia
ideszalajtott
idezik
idezunk
ido
ido
ido
ido
idoA
idoAztanamikor
idobenmely
idomelyben
idonk
idonkentha
idoszakramely
idoszakrol
iganal
igaz
igazMagyarorszagon
igaza
igazhogy
igazitartalmates
igazolhatokMagyarorszagot
igazsag
igazsagosakaz
igazsagot
igazsagot
igek
igen.Ideje
igeretekmint
igerteA
igy
igy
igy
igy
igy
igyekeztek
igyekszik
igyekszunk
igyekszunkszorosan
illegitim
illeto
illuziok
illuziokat
ilyen
ilyen
ilyen
ilyen
ilyenfolyamatokat
indult
infomacioszurocsodadoboz
information
ingaztattakes
ingosagainkat
inkabb
inkabb
inkabbhogy
intezkedeseit.EgyesulhetszgyulekezhetszvallalkozhatszbirtokolhatszAkkormeg
intezkedeseknek
intezmeny-rendszer
intsen
ipari
iparmernok
ipartmost
iranti
iranti
iranyaba
iranyaban
iranyfenykentkovetni
iranyitasa
iranyithatoAkozepszerbol
iranyitjuk
iranyulatlanmagnestucskejetranszcendens
irgalmatlan
irni-olvasni
irott
irunkMire
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is!No
is,es
isA
isA
isA
isAz
isEuropalegmegalazottabb
isFigyelembe
isHapedig
isIstenovjon
isKoteles
isPedig
isVan
isa
isa
isadot
isarra
iseloszor
ishogy
isidegen
iskiszolgalaltamely
iskorbeolel
isleepulParasztagrarszakember
ismagat.Mive
ismelybizonyara
ismenedeket
ismereteben
ismeretlen.Ez
ismeri
ismernagyobb
ismertte
ismerveit.Hiszen
ismerveitHa
ismet
ismet
ismetelgette
istenhit
iszapba
iteleteaz
iteletolvashato
iteletuszabad
itt
itt
itt
itt
itt
itta
jarnakMeg
jarulekul
jatsszak
jatszott
javaitAz
javakert
javara
javat
javithattuk
jegyeben
jehogy
jelen
jelen
jelenlete
jelensegegyuttes
jelensegegyuttest
jelensulyos
jelentos
jelentos
jelentos
jelenunk
jelkepinem
jellegetudatamely
jelleggelfolyamatosanszivattyuzza
jellemuketE
jellemzihogy
jo
jo
jog
jogai
jogainak
jogallamademokracia
jogokra
jogonNem
jogossagat,es
jol
jol
jonnek
jonnenekha
jonnenekpedig
joszerivel
jovategyekSoha
jovateteldeminimalis
jovedelmek
jovo
jovobe
jovoben
jovojet
jutaz
jutnak
jutott
jutott.Ma
jutottamhogy
jutotthogy
juttassak.Gazdasagpolitika
kadereket
kamatkovacs
kamatkovacsnak
kaosz
kaparintottak
kapcsolataia
kapcsolatban
kapcsolatbanA
kaphatnak
kapitalista
kapitalizmusozsakmanyehes
kapna
kapottsem
kaprazatAmit
kapta
kapuira
kapuitde
kapukat!Foglalkozzunk
kapukatA
kapukatmelyeket
kapukon
karara
kart
karvaly
kategoriajaba
katona
kedvet.Becsukni
kegybenhogy
kejimadoistenta
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell
kell(olcso
kellJollathatjukmily
kellOsztozkodniaz
kellegyengetniHat
kellenekA
kellett
kellett
kellha
kellhogy
kellhogy
kellmint
kello
kellszentelni
kelluriteniA
kellvedelmezniHat
kene
kenehogya
kenyszeritenihogy
kenyszeritik
kenyszeritik.Ketsegbe
kenyszeritvenivellalodtakBar
kenyszerult
kenyszerult
kenytelenek
kepes
kepes
kepes
kepes
kepesek
kepesek
kepezi
kepeziBarmelymegujhodasnak
kepezo
keptelen
keptelenhamarosan
kepviseloaszocialdemokracia
kepzelheto
kepzelni
kepzetesse
kerdesevelmelyfogalmakat
kerdesmikentilleszkedtek
kerdezne
kerek
kereso
kereszteny
kereszteny
keresztenyhit
keresztenytarsadalmak
keresztezodeseben
kereteben
keretei
keretei
kereteitalelit
kerlelhetetlen
keruelni
kerulHogy
kerulnekkiAz
kerultA
kerultaz
kerulunk
keseruseget
kesz
kesz
keszitettek
kesztettekreszbenvesztegzar
ket
ket
ket
ket
ket
ket
ketsegbe
ketsegbeejto
kettoselnyomas
kevesebbKi
kezdetekota
kezdetenmegroggyantterv
kezdett
kezdte
kezdtek
kezdve
kezebe
kezeben
kezebol
kezekbea
kezelesea
kezen
kezere
kezerejutottAzevi
kezrejatszott
kezuekbe
ki
ki
ki
ki
ki
ki
ki
ki
ki
ki.Korunk
kiMindkettot
kiOk
kiagyaloja
kialakitaniSajnospolusok
kialakulo
kialakult
kibotakozo
kielhetokejbe
kielteujgazdanovenyre
kiemelkedniabbol
kiepueltszerkezetenek
kiepuleset
kiepulo
kiepultzakoja
kifejezesek
kifejezheto
kifordult
kifosztasanakelpusztitasanak,Magyarorszag
kihivasanakLelkuenkben,szivuenkben
kihunyt
kijutniha
kilottes
kimelyet
kimeriti
kimeriti
kimert
kimert.Ket
kimod
kimondani
kimondott
kinevezettaz
kipusztitottakAm
kirajzolodott
kisajatitottakes
kisebbsegi
kisemmizesekiderulthogy
kisereljuekNincs
kiseretebentegnap
kiseretebenvagyunk
kiserleti
kisertetea
kislepteku
kiszemelt
kiszipolyozo
kiszolgalta
kiszolgaltatottjogfosztott
kit
kiterjedoen
kitevo
kitorodik
kiturjakhelyeroles
kitvo
kivaltott?Erzekelnek-e
kivaltotttarsadalmi
kivandorlasra
kivanja
kivanjukhogyidomuljanakZar
kivont
kivul
kivulfolyikszervesen
kivulrol
kivulsemmifele
kizsakmanyolasarola
kizsarolasaramelyeknek
koalicios
kodos
kodvarakban
kolcsont
kollhatHa
koltsegvetes
komediajaban
kommunista
kommunistakatAtkozodtakde
kommunizmus
kommunizmus
kommunizmusba
kommunizmust
komolyfeladat
kompromisszumkereteben
konc
koncessziok
koppintanakkenyszerul
kopvenyergelnek
kor
koraban
korabban
koratde
koravenkontraszelekcios
korebe
koreibeCsakhogy
koreibol
korhazaikat!Szorjuk
korlatozodnak.Am
korlatozvade
kormany
kormany
kormanyintezkedes
kormanynakKoztudomasuhogy
kormanyt
kormanyzat
kormanyzonak
kormere
kornyezetben
kornyezetifeltetelek
kornyezettolmi
korok
korok
korokben
koroktol
koromsotet
koromsotet
korszak
korszakaban.Valojaban
koruel
korueljelen
koruli
korulmenyeihez.Egykor
korulmenyek
korulvevo
koteles
kotelessegei
kotelezettsegeinketUgyanezert
kotelezo
koteseinek
kotniennek
kotott:mero
kotve
kovacsoltegyedul
kovetelmenyeihez
kovetelmenyekhianyamegrekedt
kovetkezmenye
kovetkezmenyeitolSorsunkjobbitasanak
kovetkezo
kovetkeztebenAmunkasakinek
kovetkezzek
koveto
koveto
kovetoen
kovetoen,bizonyos
kovetokormanyoknak
kozben
kozbenbarmilyen
kozegbenzajlikGondoljunk
kozeledoktolhanem
kozelet
kozeletbolA
kozeletuenkbeAmagyarsagrol
kozelgo
kozependetementelen
kozepette
kozeposztaly
kozeposztaly
kozeposztalyegy
kozeposztalyi
kozeposztalyiholgyeket
kozeposztalymely
kozepszer
kozonseges
kozonsegesgonosztevokkent
kozonsegessegemlekezese
kozonybe
kozos
kozosseg
kozosseg
kozossegek
kozossegekbe
kozossegekkelA
kozossegekstrukturalismoralis
kozossegi
kozossegkent
kozossegkentegyutt
kozosseguektola
kozosseguk
kozott
kozott
kozott
kozottAmmi
kozottamikor
kozottikiegyezes
kozuek
kozuek
kozueluek
kozul
kozul
kozvagyon
kozvelemenyformalasat
kozvetlen
kozvetlenul
kozzanak
kuelhoni
kuelonboznekVannakosszebekithetetlen
kuezdelem
kul
kulcsszavak
kuldjenek
kuldotteik
kulon
kulonbozottMagyarorszag
kulonos
kulonosen
kulonosen
kulpolitikusaink
kulso
kultura
kultura
kutya
kuzd
kuzdelmet
labat
labata
lakastvegul
lakossag
lakossag
lakossag
lakossaga
lakossagat
langga
lappangotta
lapultes
lapvilag
lassankent
lassankent
lathatoan
lathatofejlemenyeHa
latnak
latottEgyszeruen
latszateppugyahogy
latszatvolt
latszikhogy
latszo
latszolagugyan
lattan,amelyen
lattatjaa
latvanytamitsorsunk
lazadasanak
lazadasba
lazadni
leAzalvilagot
leanyokra
lebegni
leepiteseKikkarosulnak
leepitesefelszamolasaHa
lefejeznekS
lefoszlikLe
legalabb
legalabb
legalapvetobb
legdobbenetesebb
legfeljebb
legfeljebb
legfeljebb
legfobb
legfontosabb
leghatasosabban
legparanyibbismerveit
legsulyosabb
legsunyibb
legtobb
legtobbjuk
legyen
lehet
lehet
lehet
lehetetlennede
lehetettA
lehetezert
lehetne
lehetneshogy
leheto
lehetosege
lehetosegei
lehetosegeink
lehetosegeitbeszukitetteka
lehetosegek
lehetosegek
lehetosegekkel
lehetoseget
lehetoseget
lehetoseget
lehetoseget
lehetoseget
lehetosegetol
lehetosegevelMi
lehetoseguek
lehetovetennek
lehetseges
leigazasara
leirast
leirt
lejjebbcsuszunkmertvalosagos
lelek
lelekzetre
lelkesedesselhogy
lemely
lendultes
leneveltek
lenniAz
lenyegi
lenyegi
leolvadvanmost
lepesektoltehat
lepesuk
leple
leplezetlenul
leplezettmagyargyuloleterolA
lepnunkA
lepusztitottsaganak.Vegyuk
lesz
lesz
lesz
lesz
lesz
leszcsak
leszegyeduel
lesznek
leszuenk-e
leszunk
letapostatnak
lete
letezesuenk
letezhetHogy
leteziknem
letfenntartasi
letfenyegetes
letszamatHovaHa
lett
lett
lett
lett
lettel
lettunk
lettunk!A
letunkre
levegobe
levegoreAz
levo
lezuellesztesere.Ma
liberalis
liberalis
liberalizmus
ligetekkelerdokkel
listajara
logikuselore
lonitiEsajatos
lopjakeles
lubickoltha
lucifer
luciferiertelmiseg
lucifersegedeinek
lucskos
luxusbiznisz
luxusbordelyokkales
ma
ma
ma
ma
ma
ma
ma
ma
ma
mabol
maffia
maffiamely
maffiatmint
maga
maga
maga
maga
magaeszmei
magara
magas
magat
magat
magatA
magatAz
magatartas
magatartasa
magatartasafelol
magatartasaval
magatartasert
magatartasuktol
magates
maguk
magukrolhogy
magunk
magunkata
magunkdonthessuenk
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyar
magyarazhatoAz
magyarertelmiseg
magyarertelmisegi
magyarertelmisegre
magyarezert
magyarhanem
magyarnak
magyarnemzetes
magyarok
magyarok
magyarok
magyaroknakakik
magyarokregen
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsag
magyarsaggal
magyarsagmegnyomoritasara
magyarsagnemzetkent
magzatgyilkossag
magzatgyilkossag
mai
majd
manapsag
manipulalt
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar
mar-mar
marEuropa
marad
maradando
maradektalanul
maradnak
maradtmasreszt
maradunk,mint
maraz
marervenyesultmost
markimondott
marleepueltmaradekanak
marmost
marolugjaban
mas
mas
mas
mas
mas?A
masfel
mashasonlo
mashozkepestNincs
masik
masik
masikraonmagukat
masmint
masnemzeti
masodik
masodik
masodosztalyu
masodrendu
masokmint
masostobasagokrol
massag
massagat,a
massagok
massagrol,tuerelemrolbefogadasrol
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
meg
megakadalyozhatta
megalapozoes
megalazo
megalazo
megalkotott
megalkottak
megallapitasra
megbenultEromhoz
megdicsoulesenek
megegy
megelozo
megemliteni
meges
megfeledkezniAzt
megfeleloenkellene
megfosztottakAz
megfosztva
meggyozodesselhihetjukhogy
meghasonlasbol
meghatarozott.Meg
meghataroztaktenni
meghatarozvaazokat
meghiszen
meghoditasara
megis
megis
megiscsakmegorizte
megisdontesi
megismert
megkerdezni
megkomolykodo
meglehetosen
meglehetosen
megmagyarazhatatlan
megmagyaraznimeg
megmaradt
megmi
megmibe
megmilyen
megmire
megmondjukEz
megmondomademokracia
megmosolyogta,vagy
megnyilvanulas
megnyilvanulasaiMi
megnyithatjukvarosaink
megnyomoritott
megoldasanhogyakarmifele
megolt
megoltcsoppsegeknek
megoriztek
megpillanthatunk
megprobalonalloskodniazonnal
megrablonk
megrekedtnep
megroppantA
megsemaz
megsemmisitesenuegykodnekAzt
megsemmisitesettetelezte
megsertetlenulhanem
megszabadultmagyar
megszallas
megszallt
megszavazniajovahagynia
megszavaznies
megszerzesees
megszerzetthadallasaik
megszilardulas
megszunes
megszuntetesenekavilagallami
megszuntettekpedig
megszuntvolnaCsattanva
megtagadta
megtalalnunk.Arulok
megtamadnakaki
megteremteserehivatkozo
megteveszto
megtisztulasraes
megtortent
megujhodniDevezetoik
megvalaszolni
megvalositasa
megvaltoztatasaesetleg
megvedeni,es
megvilagitjakA
megy
meheben
mellebeszelo
mellettnem
meltan
melto
meltosag
melyen
melynekjelrendszere
menekulesre
mennikesztettekmunkasszallasokoncsaladi
menthetotmeg
mentsuk
menyaszszonyi
meri
merjencsak
mero
mero
merobenkulonbozott
mersekelt
mersztotalisgazdasagi
mert
mert
mert
mertekben
merten
merten
merult
mervu
mesekkel
metani
mezogazdasag
mi
mi
mi
mi
mi
mi
mi
mi
miatt
miatt.Isten
mielobbi
mielobbleheta
miert
miertCsak
mifelenkszamitasba
mikozben
milliocsirajaban
millios
mily
milyen
minalunkNe
mind
mindannyiunknak
mindarraami
mindazami
mindegyikenekmegvan
minden
minden
minden
minden
minden
minden
minden
minden
minden
minden
mindencsatornajan
mindenekelott
mindenestol
mindenhol
mindenkeppen
mindenkiaz
mindenkieahova
mindenlehetsegesAz
mindennapi
mindenre
mindent
mindenunkbolkiforgatnakaz
mindez
mindez
mindig
mindig
mindig
mindketto
mindmaigmegakadalyoztaArrol
minel
miniszterelnok
minketmint
minnel
minosegerolintezkedesek
minositettekLengyelorszaggal
minosultek,velunk
mintegymakonybol
mireA
mireszesultunk
mit
mit
mit
miutan
mivoltanaktudomasulveteleAki
mocsarbolmelyben
mocsari
mocskos
modja
modja
modon
modszerekkel
mogotte
mogottunk
mohacsi
mondanom.Es
mondhatni
moralis
most
most
most
most
most
most
most
mostanaban
mostanaban
mostcselekedetuket
mostmar
moszatraiszaprafojtogatolapvilagraegy
mozgalmakkeretebenNem
mubalhekkaligyekezett
muhelyeinek
mukiteljesedesenekmondhatni
mukodeskeptelenek;vezetoik
mukodni
mukodtetik
mult
multde
munkabeszuentetesevel
munkahelyetes
munkaltatok
munkasmozgalmak
munkavallalokkialakitottak
mutata
mutathatnank
mutatnihogy
muvelodes
muvelodestelmulasztottanyelveket
muveszeti
nagy
nagy
nagy
nagy
nagy
nagy
nagyaparol
nagyarsag
nagyfejedelmetBethlen
nagyhatalmakkozulunk
nagyhogy
nagyig
nagylepteku
nagymultunemzetunk
nagyobb
nagyobb
nagyon
nagyon
nagyon
nagysagu
nagyszeru
nagyvilagnakmertutodaitok
napigmert
napokbanmegtapasztalhattunka
naponkenti
naponta
nappal
naprahetreVannak
naprol
ne
ne
neander
negyvenot
nehanapjan
nehezOrokseg
nehezebbmintforradalmat
nehezedo
nehezen
nehezfejuk
nehogy
nekem
nekisem
nekunk
nekunk
nelkuel
nelkul
nelkul
nelkuli
nelkulihelyzetmegitelese
nelkulimeztelen
nelkulivak
nelkulnoname.nemzet@magyar.siliconvalley.comSzerkesztosegnekeditor.nemzet@magyar.siliconvalley.com=SZETTEKINTESESSZAMVETES
nelkulozte
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem
nem!A
nem.Eljenek
nemMa
nemMert
nemaddig
nemcsak
nemcsak
nemcsak
nemcsak
nemcsak
nemcsak
nemcsak
nemcsak
nemcsak
nemelegiti
nemertette
nemet
nemet
nemetmegszallasig
nemhat
nemkivan
nemoldhato
nemzet
nemzet
nemzet
nemzetarulas
nemzetcsalad
nemzete
nemzeteve
nemzeti
nemzeti
nemzeti
nemzeti
nemzeti
nemzeti
nemzeti
nemzetiosszefogasnakujraatelesen
nemzetiosszefogasra
nemzetisegu
nemzetkozi
nemzetkozi
nemzetkozi
nemzetkozi
nemzetkozi,vilagallami
nemzetkozirangot
nemzetkoziseg
nemzetpusztitostrategiakatE
nemzetvagyont
nep
nep
nep
nep
nep
nep
nep
nep
nep
nep
nep
nep
nepSZDSZ-MSZP
nepbol
nepe
neped
nepeink
nepek
nepek
nepekertelmiseget
nepeket.Fekete
nepekre
nepenekesmozgastorvenyei
nepessegeben
nepet
nepet
nepet
nepetA
nepetmely
nepetol
nepfelemelesen
nepi
nepkulonbozo
nepmely
nepnek
nepnek
nepnek
nepuenket
nepuk
nepuk
nepuk
nepunkre
nepunkszamokban
nepvesznierezte
nevezett
nevezik
nevezik
nezetekhezaemaskentgondolkozasohoz
nezetkozi
nincs
nincs
nincs
nincs
nincs
nincs
nincs
nincs
nincs
nincs
nincs
nincskozuek
nincsokunkDe
nincstelen
nomenklatura
nomenklatura
nonekAz
normai
normaiszerintaz
normalismukodeset
not
noveliaki
novelihogy
noveltek
nyakunkra
nyakunkraakiknek
nyal
nyaldossakIdezzuk
nyalogatasaAz
nyelvcsapasokkalfolytatjaKulonosen
nyelvere
nyerte
nyilatkozatok
nyilnek
nyilt
nyilt
nyitanyaE
nyolcvanas
nyomastgyakorolni
nyomokban
nyomor
nyomtaO
nyugati
nyugatipolitika
nyujtanak
nyujtottmegis
o
o
o
o
odavetett
of
oharacsolopenz
ok
ok
okan
oket
okmagyarokAki
okok
okosmillionyi
okossaggal
okoz
oktalanbarom
oktatas
oktober
oldalbarugasjaramiben
oldalletezeserol
oldalra
oldalraMeg
olelesebolkiszabadult
olni
oly
oly
oly
olyakkent
olyan
olyan
olyanorszagbanahol
olyintezkedesek
olyvegveszelybe
onallo
onallosagramara
onellatasra
onerzetebenmeghagyottegyenrangu
onerzetes
onhittsegMillionyi
onjaroadossagcsapdaEzegyreszt
onok
onok
onok
onoknek
onpusztitastronusarolUraimOnok
onszabalyozo
onti
orara
oregGodorbe
oregeketHatdogoljenek
orizte
orokitikatAkarmifele
oroksegAz
oroksegZavarba
oroksegamitAntall
oroksegaszabadsag
orokseget
orokseghezEz
orosz
orosz
orosz
orszag
orszag
orszag
orszag
orszag
orszag
orszag
orszag
orszag
orszag,melynek
orszagaik
orszagainakjogi
orszagban
orszagban
orszagbolAz
orszaggyulese
orszaggyulesnek
orszaggyulesunkorszaggyules
orszaghamis
orszaglakossagszemet
orszagleallasa
orszagmelynek
orszagnak
orszagot
orszagot
orszagotazonban
orszagotmint
orszagronto
orszagtol
orszagtolA
orszagunk
orszagutjanak
orvosolhatokTorjuk
oslakosok
oslakossag
oslakossag
ossze
ossze
ossze
osszedugja
osszefuggA
osszekottetestMindent
osszeomlast
osszeroppanasaegyelore
osszetettmas-mas
osszetevodoertelmiseginek
osszetevoi
osszetornunkha
ossznemzeti
ossznemzeti
ostoba.Mindenki
ostobairanyitoihogy
osvenyeit
osvenyekre?Eleget
oszefogasnak
oszinten
osztozkodni
ot
ot
ot
ot
ota
ota
ota
otanagyhatalmi
otthon
otthonathazajat
otthont
ovatossagravalamennyiuenket!Figyelembe
panaszMiert
parasztaki
parasztsagot
parlamenti
part
part
partjai
partoknak
parttolmely
pedig
pedig
pedig
pedig
pedig
pedig
pedig
pedig
pedig
pedig
pedig
pedig
pedigmint
peldakepuekazEgyesuelt
peldatlanfertelmes
penz
penzuegyi
persze
pillanatbankiugro
pillanatbanmagaba
piszkolodasanak
pl.legyozottkent
pla
pla
plaaemassago
plkiderulthogy
plnem
poklanakfeliratat
polcokraamimegkisertette
polgari
politika
politika
politika
politikaban
politikai
politikajat
politikajathajtotta
politikank
politikat
politikusaink
politikusaink
polusraes
porondonOlyan
portajantebolyultakbol
porul
presztizsuek
problemak
problemak
programja
programja.A
programjaA
programkent
proletar
proletariatus
proletariatushanem
proletariatustEz
proletarjainak
proletarra
proletarra
provokaciora
public
puszta
pusztitasahozEsegy
pusztitasaraEzt
pusztitasunkrairanyultA
pusztithatoescsomagkent
pusztitobunozo
pusztulasa1990-benAntallnak
ra
radobbenniehogyszocialista
raennek
ragalmakkal
ragottmondatokates
rahanem
rakell
rakotthamisinformacioval
ramaszo
randaliroznakMeg
rangjanak
rank
rank
rank
rankEzek
ravasz
ravetulese
rea
reaA
reaszabaditott
regi
regiokban
rejtezkedo
rejteznekanemzetvagyon
rem
remalomma
remelheto
remennyel.Vedtelen
remenytEgy
rend
rend
rendbehozatalanak
rendelt
rendezhessuek
rendszerben
rendszeruketmelynek
rendszervaltas
repulos
resz
resze
resze
resze
reszea
reszesulunk
reszet
reszet
reszeve
reszt
reteg
reteg
retege
retegeirees
retegenvalamint
reteget
reteget
retegetamelyet
reteghez
retegkialakitotta
retegnekjovoltabol
retegrol
rettenetebenkifujni
rettentheti
revenEnnekeszkozeitmodjat
riadnanak
riadvan
rohamosszetfoszlasat.A
rolaA
rolunkorueltekkel
romboloi
rontja
rontok
rothasztasahoz
roviden
s
sablonjaibana
sajat
sajat
sajat
sajat
sajat
sajat
sajatos
sajatos
sajatos
sajatvesztohelyukon
sajnos
satani
sav
sav
savNezzuk
savban
savban
savban
savban
savban
savjelenletevel
savmindenestol
se
segitsegevel
segitsegevelAmig
segitsegevelmunkalkodnunk.ftp://ftp.ifi.uio.no/pub/pgp-----BEGIN
seirol
sejtheto
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
sem
semNem
semVajon
semharcban
semmi
semmi
semmibevesz
semmint
semmit
semmivel
semveda
senki
senkihogy
senkithogy
serelmeink
serto
shock-terapianaknevezettviszonyaitazt
signed.nemzet@magyar.siliconvalley.comAlairas
siker,amelyet
sikererol
sikeres
sikerrejuthassunkhogy
sikertelensegerol.De
sikerul
sikerul
sikerullelkunkszellemunk,osztonunk
sikerult
sikkasztani
sikkasztasokraesmegvesztegetesekrea
siralmas
soha
sohasem
sok
sok
sok
sok-sok
sok-sokbankkalBudapest
sokasaga
sokat
sokkal
sokkal
sokkal
sokkal
sokkalkomplexebb
sor
soraibol
soraikba
soraimmalde
soratmelyekveghezvitelevel
sorbanelo
soroltakA
sors
sorsa
sorsanak
sorsara
sorsatsorsat
sorshoditokon
sorskerde
sorsunk
sorsunk
sorsunkEmeggondolasok
sotet
sotet
sotet
sotet
sotet
sotet
sotetazallampolgar
sotetbenzajlo
sovanyitaniafalvakat
statusaban
statusabataszitottaaz
struktura
strukturamukodese
strukturanak
suellyedeseSzamosolyan
sugara
sugarzo
suketEnnek
suketeserkolcs
sul
sullyesztok
sulyedt
sulyos
sulyos
sundorges
suru
surun
suttogniha
szabad
szabad.A
szabadA
szabadLehet
szabadbiralhatod
szabadgarazdalkodasat.Zarjatok
szabadon
szabadon
szabadsagegyenlosegemberseg
szabadsagrolmelydonteseiben
szabadvagylegalabbis
szajaba
szajabol
szajbol
szajkozoinakeseteben
szajkoztakHarminc-negyven
szakadekanak
szakszervezetekreha
szalla
szallani
szallingozik
szalon
szamara
szamara
szamara
szamara
szamaraEs
szamarahasznavehetetlenne
szamarkorojava
szamolnunkVan
szamos
szamos
szamottevo
szarmazek
szarnyalnak
szavai
szavaikeltette
szavak
szavak
szavat
szavatoltakhogy
szavazatokatMiutan
szavazogepezetenekmitkell
szavazok
szaz
szazad
szazalek
szazalekot
szazezrei,mondatok
szedelgesAmig
szelNe
szelen
szellemeuropai
szellemi
szellemi
szellemi
szemben
szemben
szemben
szemben
szembenEstalan
szembenezzenekonmagukkalEl
szembenhanem
szembeni
szembeni
szemebe
szemelyisegnekis
szemen
szemevel
szeminariumi
szeminariumi
szeminariumok
szeminariumon,szamtalan
szemlelniNemlehet
szemponta
szempontjai
szemtelenkedik
szenvedettkart
szerb
szereny
szerenyebbek
szerep
szerepeA
szerepet
szerepmelyet
szerepvarSajnosa
szeretheti
szeretnem
szeretonep
szereznempedig
szereztek
szerint
szerkezete
szerkezetebe
szerkezetebemindenkit
szerkezetere
szervezetek
szervezeteket
szerzetttapasztalathozmelyszerint
szet
szetbomlasaavadkapitalizmus
szethordtak
szethullas
szettartonakVajon
szine
szinehez
szines
szinpad
szinten
szinterebe
szinvonalu
szipolyozas
szitani
szive
szivekben
szivemre
szivunk
szlav
szlav
szlovakok
szlovakroman
szo
szo
szo
szo
szoItt
szoZarjatokbe
szocialista
szocialista
szocialista
szocialista
szocialista
szocialistamozgalmak
szocialistamozgalmak
szocializmus
szocializmusnak
szocializmuso
szohanem
szokas
szolgalataba
szolgalatabaA
szolgalatabaalltakakikrol
szolgalja
szolgaljakAmi
szolgaljakeppenseggelmegnyomoritasatMaga
szolidaritas
szolidaritas
szolidaritason
szolnakmelyhez
szolo
szolo
szolvanaz
szomely
szomint
szomoru
szomszedokbol
szonakSem-miEzen
szoritanihogy
szornyusegekrolA
szornyuseges
szornyusegesebbEgy
szorongatasa.Mondjakaz
szorongva
szorosan
szorosan
szott
szoval
szoval
szovetkezetenek
szovetsegeseik
szovjet
szovjet
szovjetet
szovjethatalmat.Magyarorszag
szovjethuseget
szovjetteruleteket
szovjetvalamennyiun
sztrajk
sztrajk,hanem
sztrajkcsak
sztrajkjaabetegekets
sztrajkok
sztrajkolok
sztrajkot
szueloknekNa
szuksege
szuksegees
szuksegesmint
szuksegnek
szuksegunk
szulMajd
szuletetttervek
szuletnek
szulettekA
szulootthonokatAdot
tablok
tabornak
taboro
tagadas
tagjava
tagsaganak
tagsagukatA
tajekoztatas
takarA
takargassuk
talalhatja
talalvissza
talan
talan
talan
talpra
tamadas
tamadradazt
tamaszkodik
tamogatast
tamogatast
tamogattaMar
tamogattabelso
tan
tanacsai
tanaroktanitok
tanugyi
tanulokHogy
tanultA
tanyerja
tapadniLegalabbeve
tapasztalatai
tapasztalhattamint
targyaJovateteltfizettettek
tarjatok
tarsadalmi
tarsadalmi
tarsadalmi-gaz-dasagi
tarsadalmiillemszabalykent
tarsadalom
tarsadalom
tarsadalom
tarsadalom
tarsadalom
tarsadalom
tarsadalom
tarsadalomhajnalara?Tekintelyt
tartalma
tartalommal
tartalommalA
tartanihogy
tartanikulonben
tartne
tartoziks
tartozkodnunk
tartozok
tartozovilagosanfelismerheto
tartunkottMeg
tatarokat
tavlatait
tavlatnelkulihatalomespenzehes
tavolaban
tehat
tehat
tehatrendkivul
tekintenimint
tekintenuenkugyanugy,mintha
tekintetben
tekintheto
tekinthetokielegitonekha
tekinti
tekintve
tele
telepedett
telepuelni
teletomve
teljes
teljesen
teljesen
teljesenodavesztekA
teljeskiszolgaltatottsag
teljessegeA
tenger
tengodesre
tenneKit
tenni
tenni
tenni
tenniHogy
tenniNezzuenk
tenniVagy
teny
teny
tenyek
tenyekamelyekneksemmi
tenyeketforradalma
tenyekkelKerdesvajon
teptek
tereinek
teremt
terepet
terepeve
terfelebemind
terjeszkedesereNATOcsapatok
termeszeti
termofoldeta
terre
terror
tersegeireAnnakmegerzesehogy
terueleten
terueleten
terv
terv
tervek
terveknek
tervet
testveri
teszi
teszi
tesziItt
teszimind
tesznekCsakhat
tesznekmintha
tetlen
tett
tette
tettebelekenyszeritette
tetvek
tevekenykedik
tevekenykedok
tevekenysegeitCsakhogy
tevekenysegek
tevekenysegekulonboztette
tevekenysegi
tevekenysegugyanis
tevesMiert
tevesszen
teveszmekfeligazsagokkorpajavalIranyithatatlanvagy
tevo
tiedvoltHa
tiltakozo
tisztelicsak
tisztelni
tisztikara
tisztulas
tiz
tizezrei
tobb
tobb
tobbarra
tobbe.Vegul
tobbi
tobbi
tobbi
tobbi
tobbieketolA
tobbimar
tobbitol
tobbitol
tobbseg
tobbseg
tobbsege
tobbsege
tobbsegenek
tobbseget
tobbseget
tobbseghez
toke
tokeletesen
tokerolanep
toletarsadalmi
tologattak,idegen
toluk,mondanak
tolunk
tolvajkezre
tolvajttamogatoformajaa
tomegek
tomoruelve
tonkreteteluenkrede
toprengeseimlegfontosabb
tor
torEz
torekedhetnek
torekedtemhogy
torekszik
torekszunkratapadnioda
torekvese
torekveseaz
torkollo
torkolltakAhol
torne
tornenek
torni
tornyathogy
tornyosulo
torok
torokorok
tort
tortekGyermekeiket
tortenelem
tortenelmeben
tortenelmehez
tortenelmi
tortenelmi
tortenelmileptekben
tortenesei
tortenikanemzedekek
tortenikeventejelentos
tortent
torveny
torveny
torveny
torvenyesen
torvenytelen
torvenytelenes
torzsalkodasa
totalis
tovabbifolytatasatolAzonban
tragikus
tragyalebol
transzcendens
tronjan
tud
tud
tudBiztosan
tudat
tudat
tudat
tudataban
tudataban,osszetartozaserzeteben
tudatabanhogy
tudatalatt
tudatanmagaeletrendje
tudatilagA
tudatos
tudejebol
tudjahogy
tudjak-e
tudjakhogyveszelyben
tudjuk-e
tudnaken
tudnakmit
tudniuk
tudnunkhogykeletre
tudo
tudom
tudomasulhogy
tudott
tudunk-e
tudunk-etalalni
tudunk.Minduntalan
tul
tul
tulso
tunder
turalis
tusko
tuz
tuzes
tuzokkaljelkepezhetomelynela
udulotelepekkelgolfpalyakkal,furdomedencekkelluxushotelekkel
udvari
udvet
udvet
uegynokok
uegynokok
ugy
ugy
ugyan
ugyan
ugyande
ugyandemar-mar
ugyanolyanalazatosan
ugyei
ugyleteket
ugynokei
ugyrea
uj
ujezuttalszellemiverszerzodest
ujraertelmezeseAmig
uldozendomivel
unBokros
unalapszerzodesekelvenek
unatkozva
undorbol,melyet
ungulyaskommunizmus
unnepi
unokakat
unstabilizacios
ur
uracsokakik
uraitol
urakatvajon
uralkodottErdely
uralmuk
uralmunk
uralniazoneloskodni
uralom
uralomLegyunk
uralomaehumanuso
uranak
urgyen
uszithato
ut
utan
utasitasokatmit
utasitasokmitkell
utat
utcara
utobbi
utobbi
utodpartjaraaz
utolso
utolso
utolso
utonallok
utramert
utvalaszasaraaz
uzelmek
uzemeiben.Az
uzsora
uzsoraugylet
vadabb
vadasz
vadkapitalizmus
vadsagarol
vagni
vagodtunk
vagy
vagy
vagy
vagy
vagy
vagya.Ehhezesemenyei
vagyon
vajon
vajonmilyen
vak
vakolt
vaksotetejszakaban
valaha
valahol
valaki
valaki
valaki
valamely
valami
valamirol
valamit
valaszaAz
valaszaz
valasztadhassunkmindenekelott
valasztas
valasztasok
valasztasok
valasztasok
valasztasokatmegelozoen
valasztott
valasztottallamelnokunk
valhatmajd
vallott
valnakA
valo
valo
valo
valoban
valogatott
valojaban
valorendezettnek
valosag
valosag
valosagaVanszabadon
valosagat
valosagazonban
valosagevtizedek
valosaggalosszeteveszteni
valosagos
valosagos
valosagosmert
valosagot
valsaga
valsagabol
valtak.A
valtani
valtozatlanul
valtozatlanul
valtozatota
valtozottA
valtoztatas
valtoztattakA
valtunkAz
van
van
van
van
van
van
van
van
van-e
van.=SZETTEKINTES
vanNahat
vanakiknekkizarolagos
vanamint
vanez
vanha
vannak
vannak
vannak
vannemilyenA
vanohajtjukhogy
var
varazsszerkezetet,mely
varhatjukKiszipolyozastazt
varhatunk
varkapun
varosba
varunk
vasut-halozatot
vedelem
vedelmebenE
vedelmebenMely
vedikmert
vedtelenaldozatkent
vegen
vegendontesi
vegig
vegkeppen
vegkeppen
vegre
vegrea
vegrehajtania
vegrehajtanunk,espedig
vegrehajtasa
vegso
vegso
vegul
vegveszelyben
veled
veledMagyarorszagmi
veltekaz
velukSemmisitsuk
velunk
velunk
velunkszemben
vennihogy
vennuenk
vennuenkhogy
vereimVessetek
vereinkvedelmeben
veremeben
vereseroszaktol
vergodo
vergodo
verszomjasahatalomert
vertol
veshetnenkKi
vesz
veszegetteelo
veszelyesAz
veszelyezteti.Amiben
veszelyeztetneezert
veszelynekA
veszelyt
veszelyt,szembesuelnuenk
veszett
veszitette
vesztes
vesztesnek
vette
vettekmintMagyarorszagRomania
vetuletei
vezerallatait
vezetik?Az
vezeto
vezeto
vezeto
vezetoi
vezetoi
vezetoik
vezetoinekazonnali
vezetomost
videket
vigasztalan
vihar
vilag
vilag
vilag
vilag
vilagabana
vilagabanazigazi
vilagallam
vilagallam
vilagallam
vilagallam
vilagallami
vilagallami
vilagallami
vilagallami
vilagallamimaffiajamely
vilagallamisagalvilagaban
vilagbanaz
vilagbirodalom
vilagfolebredneMagyarorszagot
vilaghaboru
vilaghaboru
vilaghaborut
vilaghatalom
vilaghatalomra
vilaglucifer
vilagmaffia
vilagmindinkabb
vilagonmindenutt
vilagos
vilagosan
vilagosan
vilagot
vilagotmindentelkovetnek
vilagpolgari
vilagra
vilagrendszer,egyaltalan
vilagszinpadan
vilagtola
viselkedhettekEsnoha
vissza
visszahelyeznunk
visszakozasrapusztitoinkat.Massag
visszanezve
visszanyertefueggetlensegetEz
visszaszerzeseert
visszavonniA
viszik
viszont
viszontidegennek
viszonylagos
vitte
vivmanya
vivott
viz
volgyi
volna
volna
volna
volna
volna
volna
volna
volna
volna
volna
volna
volna
volnaAz
volnaAzorszag
volnaha
volnahisz
volnao
volt
volt
volt
volt
volt
volt
volt
volt
volt
volt
volt
volt
volt
volt
volt,arra
volt.Korulottunk
voltMara
voltak
voltak
voltak
voltak
voltakakik
voltakjobbagyaval
voltgondoltakde
voltmero
voltsemmint
vonalakra
vonasainak
vonatkozo
vonjak
vonniHisz
vonta
vontaknoha
zabolatlan
zagyvaljatok
zajlikHiaba
zajlikaholaz
zajlo
zaszloik
zavarba
zelesekor
zenekar
zsarolastol
zsebebol
zsido
zsidosagot
zsoldos
zsoldos
zsugoritas
zuellesztesenfaradoznakmoralisgazdasagi
zullestAz
zurzavarbamelyben
zurzavarban