








Elder



All

A

Any

Any

Commission

Congress

Despite

Despite

Is

Isyears

Living

Many

Medicare

Medicare

Medicare--also

RSDHI

SSI

The

The

The

The

The

There

With

With
"covered
"covered
"good
"inability
"of
"over
"reasonable
"reasonably
"recent
"retiredor
"younga
$50.

The
&ampLiving
&ampTrusts
&copy1995-1996
WEBLOCATOR
(EEOCbased
(HMOHMO
(IHRAis
(Medicare).
These
(PIAthe
(QMBassists
(RSDHISupplemental
(RSIis
(SLMBcovers
(SSIThese
(SSIand
(SSPSSP
(agentauthority
(currentlyfor
(declarantwants
(except
(in
(or
(over
(principalsigns
(wardbecomes
1967
Relationship
1967.

Illinois
22

As
65
A
65."
ADEA
A
A
A
A
A
A
ADEA
ADEA
ADEA
ADEA
ADEA
ADEA
ADEA
ADEA

Health
ADEA.

A
ADEAHoweverthere
ADEAemployers
Able
Acommonly
Act
Act
Act
Act
Act
Act
Act
Act
Act
Act
Act
Act
Age
ActUnder
Actwhen
Administration
Administration
Administration
Administration
Administrationbut
Administrationit
Adults
Adults
Advocacy
Advocacytoll-free
Age
Age
AgingA
AgingDivision
Aid.

Resources
AidDivision
America's
American
American
Americans
Americans
Armed
Arrangements
Arrangements

Living
Assistance
Association15th
AssociationIllinois
Asuch
Attorney
Attorney
Attorney
Attorneys






Elder
Avenue
Avenue
Awhich
B
B
B
B
Costs
B.

Costs
BMedicare
Bar
Bar
Bar
Bcommonly
Be
Beneficiary
Beneficiary
Benefit
Benefits
Benefits

RSDHI
Between
Between
BuildingClark
BuildingSouth
BuildingSpringfieldILphone(voice
Care
Care
Care
Care
Care
Guardianship
Commitment
CareWho
CauseAn
CenterRandolph
CenterSpringfieldILCallto
Chapter
Citizen
Citizens
Citizens
Commission
CommissionChicago
Commitment
Commitment
Commitment

Social
Commitment
Emergency
Comprehensive
Contents
Copyright
CorporationAll
Covered
Covered
Decemberso
Decides?

Call
Decisions
Decisions
Department
Department
Department
Department
Department
Department
Department
Department
DepartmentSecretary
Disability
Disability
Disability
Disability
Disability
Disability
Disabled
Discrimination
Discrimination
Discrimination
Discrimination
Discrimination
Discrimination
District
DivisionHowlett
EBloom
EEOC
EastSpringfieldILphoneor
EastSpringfieldILphoneoror
Elder
ElderlyAmerican
Employee
Employment
Employment
Employment
Employment
Employment
Employment
Employment
Employment

Illinois
Equal
Equal
Estate
Faculty
Federal
Fide
Fraud.

Illinois
GeneralSenior
Get
Grand
Guardians
Guide
Guide.

Age
Guide.

Commitment
HMO's
HMOs
Health
Health
Health
Health
Health
Health
Health
Hold
Hold
Judicial
Home
Hospital
Hospital
Hospital
Human
Human
Human
Human
Human
Human
Human
Human
Human
Human
I
I
I
I
IHRA
IHRA
IHRA
IHRA
IHRAit
IHRAor
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois--is
Illinois.

Any
IllinoisThe
Illinoisor
Illinoistwo
Income
Income
Income
Income

Medicare

Medicare
Institution
Institution

Voluntary
Insurance
Insurance
Insurance
Insurance
Insurance
Insurance
Insurance
Insurance
Insurance
Insurance
Insurance
Railroad
Insurance
Supplemental
Insuranceand
Insurancecovers
Insuranceis
Issues
Issues
Januaryare
Law
Law
Law
















Leading
Law



Elder
Law


Elder
Law

Age
Legal
Low-Income
Maintenance
MakersA
May
MedicaidMedicaid
MedicaidMedicareSSIor
MedicaidRSDHI
Medical
Medical
Medical
Medical
Medicare
Medicare
Medicare
Medicare
Medicare
Medicare
Medicare
Medicare
Medicare
Medicare

Resources





Elder
Medicare
Insurance
Medicare.

Medicare
MedicareFor
Medicareso
MembersUntil
NWWashingtonD.Cphone662-8690.

Illinois
Not
Not
Office930A
Older
Older
Opportunity
Opportunity
Organization
Organizations
PIA
PIA--if
PIAThis
Page
Part
Part
Part
Part
Part
Part
Part
Part
Part
Parts
Parts
Parts
Payments
PlanThis
Planning
PlanningWills
PlansGenerallyit
Policy
Problems
Program
Program
ProgramsPrescott
ProgramsServices
Protective
Protective
Public
Public
Qualified
RSDHI
RSDHI
RSDHI
RSDHI
RSDHIwhich
RSI
RSI
RSI
RSI
RSI
RSI
RSI
RSI
RSI
RSIA
RSIDisability
RSIPayments
RSIa
Railroad
Railroad
Railroad
Railroad
Railroad
Railroad
Railroad
Related
Related
RequirementIn
Research
Reserved.


Residence

The
Retirement
Retirement
Retirement
Retirement
Retirement
Retirement
Retirement
Retirement
RetirementSurvivorsand
Rights
Rights
Rights
Rights
Rights
Rights
Rights
RightsIf
RightsState
Rightshe
SSI
SSI
SSI
SSI
SSI
SSI
SSI
SSI.

United
SSIThusa
SSIa
SSIit
SSP
SSP.

Contact
Secretary
Securities
Securities
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security
Security

Retirement
Seniority
ServicesCapitol
ServicesSenior
Servicesemployment
Serving
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
Social
SouthChicagoILphone353-2713.




L&amp;LA
SouthSpringfieldILphoneCall
SouthSpringfieldILphoneTDDfor
Specified
State
State
State
State
State
State
StateDepartment
StateLincoln
States
States
States
Street
Street
Street
Supplemental
Supplemental
Surrogate
Survivors
Survivors
Survivors
System
System
System
Disability
SystemThe
Systemfederal
Systems
TTYoffers
TowerSecond
United
United
WestChicagoILphoneTDDorCollege
Will
Will
Power
Wills
You
Your
________________________



Power
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
ability
able
able
able
able
able
about
about
about
about
about
about
about
about
about
about
above
above
abreast
absence
abuseneglectand
accept
access
accompanied
accordance
according
account
account
account--usually
accountOther
accused
acknowledged
act.

Age
actFor
acta
action
action
action
action
actions:

Tenured
active
active
activity
actually
actually
acute
added
additional
additional
addressed
addresses
adequately.
Occupational
administered
administered
administered
administered
administration
admission
admission
admission
admission
admission
admission
admission
admission
admissionPeople
admit
admitted
admitted
admitted
admitted
admitted
admitted
admitted
adopt
adult
adult
adult
adultsand
advance
advancing
adversely
advertisements
advice
advise
affect
after
after
after
against
against
against
against
age
age
age
age
age
age
age
age
age
age
age
age
age
age
age
age
age
age-based
age-based
age-based
age-based
age-based
ageAll
ageAlsomany
ageAs
ageFor
agePostponing
ageThe
ageThe
ageThis
ageas
agebut
agecan
agefor
agehowevera
agencies
agenciesUnder
agent
agent
agent
agent
agentdescribe
agereceives
ages
agewho
aggrieved
aging
agoalmost
agree
aidsand
airplane
alcohol
aliveor
all
all
all
all
allA
allow
also
also
also
alternative
am
ambulance
amendments
amount
amount
amount
amount
amount
amount
amount
amount
amount
amount
amount
amountA
amounts
amountsCost-of-living
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
an
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
andalthough
andpercent
another
another
anti-discrimination
any
any
any
any
any
any
any
any
any
any
any
any
anyone
appear
applicant
applicant
applicant
applicant
applicant's
applicantThese
applicants
applicants
applicantsRSDHI
application
application
applicationThe
applies
apply
apply
apply
apply
apply
appoint
appointed
appointed
appointed
appropriate
appropriate
appropriate
approximately
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are

Spousal
area
area
area
areaIf
areas
areas
areas
arrangements
arrangements
array
artificially
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
asserting
assets
assets
assetsA
assetsMedicare
assistance
assumed
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
at
atpercent
attending
attending
atto
attorney
attorney
attorney
attorney
attorney
attorney
attorney
attorney
attorney
attorney
attorney
authority
authority
authorized
automatically
automatically
available
available
available
average
avoided
awarding
aware
based
based
based
based
based
based
based
based
bases
basic
basic
basic
basic
basis
basis
basis
basisThe
bathingwalkingor
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
beFor
became
became
because
because
because
because
because
become
become
becomes
becomes
becomes
becomes
becomes
becomes
becoming
been
before
before
before
before
before
before
before
before
before
before
before
beforeand
beganis
beginEach
beginning
begins
being
beliefunder
believe
believes
believes
benefit
benefit
benefit
benefit
benefit
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits.

Disability
benefits.

Medicare
benefits.

Most
benefits.

Some
benefits.

Supplemental
benefits.

To
benefitsAnyone
benefitsAnyone
benefitsIn
benefitsMost
benefitsThe
benefitsThis
benefitsa
benefitsbut
benefitsunemployment
benefitsup
benefitsworker's
beor
best
best
bestor
better
between
between
between
betweenpercent
beyond
billions
bills
blind
blindMost
blindness
bona
booka
borrows
both
both
both
bothThe
branch
branch
bring
bring
bring
broad
built
burden
burden
business
businessor
but
but
but
but
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
by
calculating
called
called
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
can
cannot
capacity
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
care
Eyeglasseshearing
care)
Prescription
care.

In
care.

Witness
careA
careIf
careIllinois
careIllinois
careIncluded
careand
carecertified
caremore
careor
cares
carries
case
case
casesdisabled
casethe
catch-all
category
causea
causes
certain
certain
certain
certain
certain
certain
certificate
certified
change
changes.

Living
changing
chapters
charge
charge
charge
charge
charge
charge.
Contact
check
checks
checkups
child
child
child's
chose
circumstances.

A
citizens
citizensmany
civil
claims
class
classifying
clients
clinical
close
closely
closely
comfort
commit
commitment
commitmentthe
committed
communicating
companies
companiesor
compensation
compensation
competence
competent
competentAnother
complete
completing
complex
complex
complex
complexAlthough
complexprimarily
complicated
comprehensive
comprehensive
compulsory
compulsory
compulsory
compulsory
concerned
concerning
concerns
concerns
condition
condition
condition
condition
condition
confused
confusing
confusingeven
consequences
consumer
contain
contains
contains
continuation
continuation
continue
continue
continuous
continuous
contracts
contradictoryat
controversial
conversion
conversion
cost
cost
costs
costs
costs
counsel
counter
county
court
court
court
court
court
courtAnyone
courtwhether
cover
cover
cover
cover
coverage
coverage
coverage
coverage
coverage
coverage
coverage
coverage
coverageEmployers
coverageIn
coverageSome
coveragebut
covered
covered
covered
covered
covered
covered
covered
covered
covered
covering
create
create
create
create
create
created
creates
creation
currently
daily
danger
date
date
dated
day
day-shift
days
days.

Judicial
death
death
death
death
death
death
Benefits
deathor
decides
decision
decision
decision
decision

A
decisionThe
decisions
decisions
decisions
decisions
decisions
decisions
decisions
decisions
decisions.

Guardianship
decisionsA
decisionsIt
decisionsThe
decisionsThese
decisionsor
decisionthe
declarant
declarant
declarant
declarant
declarant
declarant's
declarant's
declarant's
declarantAt
declarantI
declaration
declaration
declaration
declaration
declarationand
declare
deduct
deem
deemed
defense
define
defined
degreesare
delaying
delaying
delays
dental
dependencythe
dependent
dependents
depending
deprive
deprive
describe
described
descriptions
designed
designed
designed
designed
designed
desired
desires
despite
detailed
determine
determined
determined
determining
determining
diagnosed
did
did
did
die
different
different
different
differs
direct
direction
directions
directly
directly
directly
director
director
directorAny
disabilities
disabilitiesMedicare
disability
disability
disability
disability
disability
disability
disability
disability
disability
disabled
disabled
disabled
disabled
disabled
disabled
disabled
disabledAlthough
disabledThe
disabledand
discharge
discharge
dischargeUnder
discharged
discharged
dischargedPersons
discriminating
discrimination
discrimination
discrimination
discrimination
discrimination
discrimination
discrimination
discrimination
discrimination
discrimination
discriminationAs
discriminationBoth
discriminationthe
discriminatory
discriminatory
discussed
discussed
divisionscalled
divorced
do
do
do
do
do
do
do
do
doctor
doctor
doctor
document
document
documents
documents
documentstheir
does
does
does
does
does
dollar
dollars
domestic
done
drafted
drafted
draftedliving
drafting
drastic
draw
draws
drug
drugs
Routine
during
dying
dying
each
each
each
each
each
earlierat
earned
earnings.

Railroad
effect
effective.

The
either
elder
elder
elderly
elderly
elderly
elderly
elderly
elderly
elderly
elderly
elderly
elderlyblindand
elderlyblindand
elderlyblindor
elementary
eligibility
eligibility
eligibility
eligibility
eligibility
eligibilityResidence
eligible
eligible
eligible
eligible
eligible
eligible
eligible
eligible
emergency
emergency
employee
employee
employee
employee
employees
employees
employees
employees.

Any
employeesand
employer
employer
employer
employer
employer
employer
employer
employer
employer
employer
employer
employer
employer's
employer's
employer.

Health
employment
employment
employment
employment
employment
employment
employment
employment
employment
employment
employmentAn
employmentConsequentlyemployers
employmentThe
employmentincludes
employmentmeans
engage
engage
enormous
enroll
enrolled
entire
entirely
entitle
entitled
entitled
entitled
entitled
entitled
entitled.

When
entitlements.

Retirement
equal
equipmentUnlike
equivalent
errors
especially
estate
estateor
estimate
evade
even
ever
every
every
evidence
evidence
evolving
exactly
exactly
examination
examinationThe
examinationVoluntary
examinations
examined
exampleMedicare
examplean
exampleemployers
exampleif
examplethe
except
exception
exception
exceptions
exceptions
exceptions
excessive
executive
exercising
Dentures
existence
existing
existsthe
expectancies
expected
expenses
expired
exploitation.

To
expression
extremely
facility
facility
facility
facility
facilityThe
facilityThis
facing
fact
factors
facts
factsUpon
faculty
faculty
failure
familiarity
familiesThe
familiesguardianship
family
family
family
family
family
family
far
fastest-growing
federal
federal
federal
federal
federal
federal
federal
federal
federal
federal
federal
federal
federal
federal
federal--with
federalstateand
feels
felt
few
fewer
fide
fight
file
file
file
file
file
filed
filedSome
files
files
filing
filing
filing
filled
final
financed
financial
financial
financial
financial
financial
financially
finds
fired
fired
firefighters
first
fit
five
five
five
five
focused
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for

Custodial
force
forceInvoluntary
forfeit
form
form
formal
formally
forms
formula
formwhich
forth
forth
free
free
free
free
free
friend
fringe
from
from
from
from
from
from
from
from
from
from
from
from
from
from
from
from
from
from
from
from
full
full
full
full-time
fullor
fully
fully
fully
functions
funded
future
future
gainful
gainful
gains
general
general
get
get
get
give
give
good
governed
government
government
government
government
government's
graduateor
grandchild
group
group)
That
groupBecause
guarantee
guardian
guardian
guardian
guardian--usually
guardianIt
guardiana
guardianif
guardianship
guardianship
guardianship
guardianshipany
had
had
handle
happen
has
has
has
has
has
has
has
has
has
has
has
has
has
has
has
has
has
has
has
have
have
have
have
have
have
have
have
have
have
have
have
have
have
have
haveand
he
he
he
he
he
he
he
he
he
he
he
he
he
he
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
health
healthprobateestate
hearing
hearing
hearing
held
help
help
help
help
help
helpful
helpful
her
her
her
her
her
her
her
her
her
her
her
her
her
her
her
her
her
herself
herself
herselfor
high-level
higher
higher
higher
higher
higher
him
him
himself
himself
himself
hire
hired
hiringfiringpromotionor
hiringrecruitmentpaypromotiontransferdischargediscipline
his
his
his
his
his
his
his
his
his
his
his
his
his
his
his
histories
historyUnfortunatelyincidents
home
home
home
home
honored
hospice
hospital
hospital
hospital
hospital
hospital
hospitalization
hospitalsdisqualifies
hours
how
how
how
how
howwhenand
hurting
if
if
if
if
if
if
if
if
if
if
if
if
if
ifnot
ignored
ill
ill
illegal
illinpatient
illmeans
illness
illness
illnessesTreatment
illnessskilled
imminent
impairment
impermissible
important
important
important
important
improved
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
incapable
incapable
incapacitated
incapacitated
incapacitatedUnlike
incapacity
include
includes
including
income
income
income
income
income
income
income
income
income
income.
A
incomebut
incomes
increases
increases
increasing
increasingly
incurable
incurable
independent
indistinguishable
individual
individual
individual
individual
individual
individual
individual
individual
individual
individuals
individuals
individuals
individuals
industry
industryOriginallythis
ineligible
inform
informally
informally
information
information
information
information
information
information
informed
informed
initial
initiates
initiating
inits
injurydiseaseor
inpatient
inquire
instances
institution
institution
institutions
institutionsuch
instrument
instrumentI
insurance
insurance
insurance
insurance
insurance
insurance
insurance
insurance
insurance
insurance
insuranceand
insuranceor
insured
insured
insured
insured
insured
integrated
integration
intended
intended
intended
intended
intended
intended
intended
intention
interest
interest
interested
interests
interplay
intestate
into
into
into
into
into
investmentsHoweverfor
invoke
involuntarily
involuntarilyThe
involuntary
involuntary
irreversible
irreversible
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
isAny
issue
it
it
it
it
it
it
its
its
its
its
its
its
itself
job
job
job
job
job
job
job
job
That
jobsAnother
join
judge
judged
judicial
judicial
keep
kind
kind
kind
kinds
knowledge
known
known
known
known
known
labor
labor
largest
last
law
law
law
law
law
law
law
law
lawThe
laws
laws
laws
laws
lawsuit
lawsuit
lawyer
lawyers
lawyers
lawyers
lawyers
lawyersIllinois
learn
learning
learningThis
least
least
least
leastyears
leastyears
led
legal
legal
legal
legal
legal
legal
legal
legal
legally
less
less
level
levelThe
levelThese
levels
levied
life
life-sustaining
likely
limitation
limitationa
limitations
limited
limited
limited
limitingsegregatingor
linked
live
living
living
living
living
living
living
living
living
living
living
living
living
living
living
living
living
local
local
long
long
long
longer
longer
longer
longer
longer
look
losing
made
made
made
made
made
made
maintenance
major
major
make
make
make
make
make
make
make
make
make
make
make
make
make
maker
making
making
making
manage
management
managers.
Good
mandatory
many
many
many
many
many
many
many
many
many
manyRSI
married
match
matter
maximum
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
me
me
me
mean
means--one
measure
medical
medical
medical
medical
medical
medical
medical
medical
medical
medical
medical
medical
medical
medical
medically
medically
medically
medicationsustenanceor
member
member
member--may
members
members
members
mental
mental
mental
mental
mental
mental
mentally
mentally
met
mid-level
military
millions
mindI
mindwillfully
moment
money
monthSocial
monthly
monthly
monthly
monthly
monthly
monthly
months
months
more
more
more
more
more
most
most
most
most
most
most
most
motive
much
much
much
much
much
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
my
my
my
my
my
my
my
my
my
my
my
my
name
name
name
name
namea
names
narrow
narrowly
national
nationwide
naturally
necessary
necessary
necessary
necessary
necessary
necessary
necessitated
need
need
need
needBecause
needThe
neededThe
needs
needs
needs.

Elder
needssuch
neither
net
never
new
new
no
no
no
no
non-railroad
non-terminal
non-willful
nonprofit
normal
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
notice
notice
now
number
number
number
nursing
nursing
obtain
occasionally
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
The
of(ADEAalso
of(monthyearIbeing
ofFor
ofa
ofancestryarrest
offer
office
ofgenerally
often
old
old
old
old
older
older
older
older
older
olderbe
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
one
one
one
one
one
one
one
one
one
one
one's
one's
one-half
one-time
only
only
only
only
only
only
only
only
only
only
onlyA
operation
opportunities
opportunities
opt
option
option
option
optional
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
order
order
order
order
order
order
order
order
order
organizationSelf-employed
organizationsemployers
organizationsemployersand
organizationsmost
orif
originracereligionsexor
orto
other
other
other
other
other
other
other
other
other
other
other
other
other
othersA
othersThe
otherwise
otherwise
out
out
out
outpatient
over
over
own
own
own
pacemore
paid
pamphletPartners
pamphletSenior
pamphletsEstate
pamphletsUnderstanding
paperwork
parallel
part-time
particular
passed
past
pathology
patient
patient
patient
patient
patient
patient's
pay
pay
pay
paycheck
paying
paymentsbecause
pays
paythe
pensionsannuitiesretirementdisability
pensionsinsurancesavingsand
people
people
people
people
people
people
people
people
people
people
people
people
people
people
people
people.

Voluntary
peopleas
percent
percentage
performance
performing
period
period
period
periodic
periodically
periodthe
permanent
permissible
permissible.
Executives
permit
permitted
permitted
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person
person's
person's
person's
person's
person's
person's
person's
person's
personUsually
personal
personal
personal
personally
personally
persons
persons
personsCommitment
personsincluding
personthe
personyears
petition
petition
petition
petition
petition
petition
petition
petition
petition
petition
petition
petition
petition
petitioner
petitioning
phone252-2518.

Contact
physical
physical
physical
physical
physical
physically
physician
physician
physician
physician
physician
physicianscertificateswill
pilots.
Bona
plan
plan
plan
planning
plans
point
point
policies
policies
policies
policies
poor
popular
popular
populationbut
portion
portion
possible
postponed.
If
potential
potential
potential
poverty
poverty
power
power
power
power
power
power
power
power
power
power
power
powers
practice
practice
practicebecause
practices
premium
preponderance
prescribe
presence
presence
presence
prevent
previouslybut
primary
principal
principal
principal
principal
principal
principal
principal
prison
private
private
private
private
private
privileges
problems
procedure
procedure
procedures
procedures
procedures
proceduresI
proceduresit
proceed
process
processLiving
processingpaymentand
profession.

All
professional
program
program
program
program
program
program
program
program
program
program
program
program
programproviding
programs
programs
programs
programs
programs
programs
programs
programs
programs
programs
programs
programs
programs
programs.

Medicare
programsMost
programsan
prohibit
prohibited
prohibitedIHRA
prohibiting
prohibits
prohibits
prolong
prolongs
promote
property
property.

For
propertyand
proposed
proposed
protect
protect
protected
protected
protectionEach
protective
provide
provide
provide
provided
provider
providerPeople
provides
provides
provides
provides
provides
proving
proving
provisions
provisions
psychiatric
psychologistand
public
public
publications.

The
purpose
purpose
purposes
purposes
qualifications

The
qualified
qualified
qualified
qualified
qualified
That
qualifies
qualifiesPart
qualify
qualify
qualifying
quite
railroad
railroad
railroad
railroad
railroad
railroad
railroad
railroad
rapid
rapidlyAs
rapidlyit
rate
rather
reaching
reaching
reaching
reason
reasonably
reasons
reasons
receipt
receive
receive
receive
receive
receive
receive
receive
receive
receive
receive
receives
receives
receiving
recently
recentlyADEA
recognize
recognized
recommend
record
recordcitizenshipcolordisabilitymarital
reduced
reduced
reduced
reduction
refer
referred
refusal.

Signed

CityCounty
refuse
refuse
refused
regarding
regarding
regarding
regarding
regardless
regulations
rehabilitation
rejected
related
related
related
relationship
relationship
relationshipespecially
relatives
release.

Social
relevant
relied
relief
religious
rely
remain
remarried
Full
replace
replace
replaced
representation
representative
request
request
request.

Emergency
requested
require
required
required
requirements
residents
residesThe
resourcesMany
responded
responsible
responsible
restored
resume
retire
retired
retired
retireesand
retirement
retirement
retirement
retirement
retirement
retirement
retirement
retirement
retirementdisabilityand
retires
review
reviewed
right
right
right
right
rightsNo
rightsan
rightsand
rise.

Seniors
rises.

Family
risessociety
risk
role
routine
routine
rulean
rules
rules
rules
rules
rules
rulesAn
run
safety
salaried
same
same
saw
saysThe
school
secondary
seek
senior
senior
seniority
seniors
seniors
seniors
seniors
seniors
seniors.

Illinois
seniors.
RSDHI
sensitive
separate
separate
separately
serviceand
services
services
services
services
services

In
servicesIf
servicesnecessary
servicesoutpatient
serving
set
set
set
sets
seven
several
severitythat
shall
shall
she
she
she
she
she
she
she
she
she
she
she
she
she
she
she
short
should
should
should
should
should
should
should
should
should
should
should
show
show

That
sign
sign
signature
signed
signed
signed
signing
signs
similar
similar
similar
simply
simultaneously.

Both
situationsan
skilled
small
smoothhoweverwhich
so
so
so
soWhen
social
sole
some
some
some
some
some
someone
someone
someone
someone
sometimes
soon
sought
sought
sound
sound
source
source
source
sources
space
special
specializationElder
specialty
specifically
specifically
specifically
specificallytaking
specify
spelling
spousal
spouse
spouse
spouse
spouseschildrenand
standard
standardsThe
start
started
starting
state
state
state
state
state
state
state
state
state
state-administered
stateone
states
statusADEA
statusnational
statutes
stay
staying
steps
still
still
stopped
stress
studentor
subjected
substantial
substantial
substantial
succession
such
such
such
such
such
such
such
such
such
such
sufficient
suggested
suggested
suitable
summary
supersede
supplement
supplement
supplement
supplement
surgical
surrogate
surrogate
surrogate
surrogate
surrogate
surviving
surviving
survivors
survivors.

Generallya
system
system
system
system
systemsBecause
take
take
takes
takes
taking
taxes
taxes
taxesSSI
technology
technology
ten
ten
ten
ten
tend
tenured
tenured
term
term
terminal
terminal
terminal
terminally
terminally
termination.

Any
terms
tests


Insurance
than
than
than
than
than
thanand
thanmonthsThe
thanyears
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
their
their
their
their
their
their
their
their
their
their
their
their
their
their
their
their
them
them
them
Nursing
themAlsoit
themGovernments
themIt
themselves.

The
themselvesBecause
themthey
therapyspeech
therefore
these
these
these
these
these
these
these
they
they
they
they
they
they
they
they
they
they
they
third
this
this
this
this
this
this
this
this
this
this
this
thisday
those
those
those
those
three
three
three
three
three
through
time
time
time
time
time
timeFailure
timeThe
timesThis
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
todayAs
todaysAfter
toll-freefor
toll-freefor
traditional
traditional
traditional
training
treatment
treatment
treatment
treatment
treatmentand
trustscivil
trustwhich
turn
turnor
two
two
two
two
two
two
two
two
two
two
types
types
unable
unable
unable
unable
unable
unable
unable
unable
unable
unable
under
under
under
under
under
under
under
under
under
under
understanding
understanding
understanding
unfavorable
unique
unique
unless
unmarriedand
until
up
up.

Illinois
upon
upon
use
use
use
use
use
use
used
used
useful
using
usually
usually
value
varies
various
varying
very
very
very
very
veterans
victim
victim
victimized
violating
violation
violation
violation.

Relationship
visit
vocational
voluntarily
voluntarily
voluntary
voluntary
voluntary
voluntary
wage
wait
want
wants
wants.



Declaration

This
ward
ward
ward
ward's
wardor
was
was
was
was
was
was
was
was
was
was
was
was
way
way
ways
welfare
well
well
well-being
well-being
well-defined
were
were
were
what
what
what
what
what
what
what
what
when
when
where
where
whether
which
which
which
which
which
which
while
while
who
who
who
who
who
who
who
who
who
who
who
who
who
who
who
who
who
who
who
whoin
whose
whose
whose
why
why
wide
widow
widower
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
will
willAlthough
willa
willful
wills
wills
wills
wills
wills
wills
wise
wishMany
wishes
wishes"Terminally
wishes.

Living
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
with
withdrawnand
withheld
within
within
within
within
within
within
withindays
withindays
withinhours
without
without
witness
witnesses
work
work
work
work
work
work
work
work
work.
The
workThe
workand
worked
worked
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker
worker's
worker's
worker's
worker's
worker's
worker's
workers
workers
workers
workers
workers
workers
workers
workers
workersEmployers
workersThe
workershoweverhave
working.

RSDHI
workmembership
workplacethe
workself-employmentfarm
would
would
would
write
writer
writingand
written
written
year
year
year.

Medicare
yearThe
years
years
years
years
years
years
years
years
years
years
young
younger
younger
younger
Isyears