








Small



All

A

A

A

A

A

A

A

A

As

Illinois

In

Sincebusinesses

The
&copy1995-1996
WEBLOCATOR
(SCOREWest
(not
(or
10022.



L&amp;LA
10022.

The
53rd
53rd
A
Agreement
American
Arts
Arts
Assistance­ChicagoWest
Assistance­SpringfieldWest
Attorney
Attorneys






Small
AttorneysIllinois
AttorneysIllinois
AttorneysIllinois
AttorneysIllinois
Avenue11th
AvenueSpringfieldILphone492-4416.

Small
BookHow
BuildingThird
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Business
Capitol
Center
CenterAdams
CenterAdams
Charitable
CodeUnder
Codea
Commission
Contents
Copyright
Corporation
Corporation
Corporation
Corporation
Franchise
General
Corporation
Nonprofit
CorporationAll
Corporations
Corporations.

Illinois
Corps
DearbornChicagoILtoll-free829-3676.

Service
Department
Department
Department
Department
Department
Development
Division
Division
Division
Domestic
EastNew
EastNew
EastSpringfieldILphone785-6310.

Small
EastSpringfieldILphonefor
Employer's
Executives
Federal
First
First
FloorSpringfieldILphoneorNorth
Form
Form
Franchise
GeneralFranchises
Guide
Guide
Guide
Guide

General
Guide.

Tax
Guide.
The
Home
Identification
Identification
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois.

Contact
Illinoismore
Information
Information
InsuranceSouth
Internal
Internal
Internal
Internal
Internal
Issues
Issues

Name
JeffersonSpringfieldILtoll-freeorWest
Labor
LaborDivision
Law
Law
















Leading
Law



Small
Law


There
Law

Sole
LawLeading
LawLeading
LawLeading
LawLeading
Lawyers
Lawyers
Liability
Liability
Madison
MadisonChicagoILphone353-4528.

How
Michigan
Nolo
Nolo
Nonprofit
Not-for-Profit
Numbers
Numbers
Licenses

Resources





Small
Organizing
Organizing
Packet.

Internal
Page
Partnership
Partnership
Partnership
Partnership
Partnership
Partnership

Corporation
Subchapter
Partnership
Limited
Partnership
Limited
Press
Press
Proprietorship
Proprietorship
Partnership

General
RandolphChicagoILphone814-5258.

Illinois
Registration
Registration
Tax
Research
Reserved.


Retired
Revenue
Revenue
Revenue
Revenue
Revenue
Revenue
Revenue.

Licenses
RevenueIn
RevenueWest
Rights
S
S
S
S
S
S
S
S
SSwith
Sales
Secretary
Secretary
Secretary
Secretary
Service
Service
Service

A
ServiceForms
ServicesHowlett
ServicesSouth
Small
Solicitations

Franchise
Springfielda
State
State
State
StateDepartment
Stateand
Stop
Stop
Street
Street
Street
Street
StreetChicagoILphone353-7724.

Small
StreetChicagoILphoneto
Subchapter
Subchapter
Subchapter
Tax
Trade
Trust
Unemployment
VLAPublicationsOne
VLAPublicationsOne
Volunteer
Volunteer
Write
YorkNY
YorkNY
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
able
accountA
acquire
activities

A
acts
actsand
address
address
advantage
affect
affectedAlsoa
after
agent
agree
agree
agreeThese
agreement
agreement
agreement
agreement
agreement
agreementA
agreementA
aliens
One
all
all
all
also
also
also
also
also
also
also
always
amount
amount
an
an
an
an
an
an
an
an
an
an
an
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
and
annuallyThere
another
another
any
any
any
anyand
applicable
application
application
application
apply
apply
appropriate
appropriate
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
are
arise
arising
arrangement
artificial
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
as
assets
assigned
assignedHoweverthe
assigning
assignment
assignment
assumed
assumed
assumed
assumed
assurances
at
at
at
at
at
attorney
attorneys.

The
attributable
available
available
available
availablesuch
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
be
become
becomes
becoming
been
before
before
beginning
being
being
beneficiaries
beneficiariesmay
benefit
benefits
benefits
benefits
benefits
benefits
benefits
benefits
benefits
best
between
between
between
between
board
bookletsA
both
brief
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
business
businessA
businessA
businessAs
businessBusiness
businessFor
businessHoweverunlike
businessPersons
businessThat
businessThe
businessThe
businessand
businessease
businesses
businesses
businesses
businesses.

Resources
Contact
businesseswhether
businessneedsidentitysizebudgetand
businessperson
businesspersons
but
but
by
by
by
by
by
by
by
by
by
by
by
by
by
can
can
can
can
can
can
can
can
cancel
cancellation
cannot
cannot
capitalCorporations
casesUnlike
causessuch
ceases
certain
certain
certificate
certificate
certificate
certificate
certificate
certificate
certification
change
changeA
chapterissues
charge
charged
charged
charged
charitable
checking
choice
chosen
circumstancesIf
class
clerk
clerkthe
collect
common
common
company
company
compensation
compiles
complete
complete
complex.
A
compliance
complicated
complicated
comprehensive
concern
concerns

Typicallythere
conditions
conductliabilitiesand
conducts
consecutive
consent
considered
consulted.
The
contains
continue
continue
continuedthe
continuity
continuity--when
contractspay
contributions
control
control
control
control
control
control
control
control
controlpartners
controls
controls
corporate
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation
corporation's
corporation's
corporationAfter
corporationHoweverowners
corporationManagement
corporations
corporations
corporations

The
corporations.

The
corporations.

The
corporations.

The
corporationsFinallyprofits
corporationsThe
corporationsTo
county
county
county
county
creation
creation
creditors
creditors
death
death
death
deathretirement
debts
debts
debts
debts
debts
debts
debts
debts
debts
debts
debts
debts
debts
debts.

Because
decide
decide
deduct
deducted
deducted
deductibleother
deducting
deducting
departing
departure
departure
depend
depend
depends
derives
detail
detail
determine
diesthe
diesthe
difference
different
directorswho
discussed
discusseda
discussedis
discussion
disputes
dissolution
dissolveit
dissolves
distributing
dividends
dividends
dividendsthese
does
doing
double
drawbackBusiness
drawbackOther
drawbacks
drawbacks
drawbacks
drawbacks
drawbacks
drawbacksThe
each
easy
election
employeeor
employees
employees
employeesEach
employeesbut
employeeshoweveronly
employer
end
engage
engage
enjoys
entitled
entitled
entitled
entitled
entity
equivalent
establishA
established
every
exampleif
exchange
exclusive
exist--and
existence
expenses

Partnership
expenses.

In
expenses.

Unlike
experienced
express
fact
factorsThe
fair
family-owned
federal
federalstateor
fee
feeNotice
feeThe
file
file
filed
filed
filed
files
filing
filing
filing
filing
financesideasand
financial
financial
financial
financial
first
floorChicagoILtoll-freeCall
follow
following
following
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
for
form
form
form
formal
format
formation
formationHoweverstate
formatssuch
formed
former
former
former
former
forms
forms
forth
found
found
franchise
franchise
franchiseunlike
free
free
free
from
from
from
from
from
from
from
from
from
from
from
from
from
full
fundingThere
further
furtherance
general
general
general
general
general
general
general
general
general
general
general
general
general
general
general
general
general
generally
generally
generally
generally
give
good
goods
goods
governs
had
handbook
handled
handled
handling
handling
has
has
has
has
has
has
has
have
have
have
have
have
have
have
have
have
have
have
having
having
he
he
healthdentaland
healthdentaland
healthdentaland
her
her
her
her
his
his
his
his
how
how
identification
identification
identification
identification
if
impact
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
include
include
include
include
include
include
include
include:

No
included
included
included
included
income
income
incorporate
incorporateBefore
incorporatedA
incorporatedall
incorporation
incorporationapplications
incurIncomeexpensesand
incurred
indefinitely
individual
individual
individual
individual
individual
individual
individual
individualsWhile
information
initial
institutions
insurance
insurance
insurance
insurance
insurance
insurancebankingor
interest
interest
interest
interest
interestThe
interestor
into
invested
invests
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
is
issues
issues
issues
issues
issues.

Name
issuesA
it
its
its
its
its
its
its
its
its
its
kitStarting
lack
later
law
law
law
lawShareholders
lawif
laws
laws
leading
least
legal
legal
legal
legal
less
liabilities
liabilities
liabilities
liabilities
liabilities
liabilities
liability
liability
liability
liability
liability
liability
liability
liability.

General
liabilityProfits
liabilitydoes
liable
liable
liable
liable
liable
liable
licenses
licenses
licenses.

Sole
licensesA
licensesif
life
life
life
like
like
like
like
like
limit
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limited
limitedIllinois
listings
loadThe
loans.

A
local
losses
losses
lossesThis
lower
lower
lower
made
maintain
make
make
manage
management
management
management
manages
manner.

Nonprofit
many
many
many
many
market
matters
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
may
meet
meet
meets
mentioned
mentionedthere
metCertain
method
minimize
minimize
modified
modified
more
more
more
more
more
more
more
more
more
most
most
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
must
name
name
name
name
name
name
name
nameA
nameRequirements
nameThere
nameand
namepartners
natural
need
needsan
negligence
negligence
new
newspaper
no
no
nonprofit
nonprofit
nonprofit
nonprofita
nonresident
nonvoting
not
not
not
not
not
not
not
not
not
not
not
not
not
not
not
number
number
number
number.

A
numberA
numberBoth
numberThis
numbers
numbers
numbers
numbersand
numbersother
obtain
obtain
obtain
obtain
obtain
obtain
obtained
obtaining
obtaining
occupation
occurring.

Limited
occurs
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
office
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
on
once
one
one
one
one
one
one
one
one
only
only
only
only
operate
operated
operating
operating
operation
option
option
option
option
option
option
option
option.

The
options
options
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
or
order
order
order
order
order
organization
organization
organizationA
organizationOne
organizations
organizationsAt
organize
organizeThe
other
other
other
other
other
other
other
other
other
other
out
outlinedincluding
over
over
owed
own
own
owned
owner
owner
owner
owner
owner
owner
owner
owner
owner
owner
owner's
owners
owners
owners
ownersA
ownerscontrol
ownersuch
ownmanageand
ownsmanagesand
packetNew
paidthe
participate
participate
particular
partiesIn
partiesin
partner
partner
partner
partner
partner
partner
partner
partner
partner
partner
partner
partner
partner
partner

Limited
partner's
partner's
partner's
partner's
partner's
partner's
partnerA
partnerAddressing
partnerThe
partnerThe
partnerThis
partneran
partnerin
partneror
partners
partners
partners
partners
partners
partners
partners
partners
partners
partners--general
partners.
The
partnersA
partnersThe
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership
partnership.

Corporation
partnershipA
partnershipAs
partnershipHowevereach
partnershipHoweverin
partnershipThe
partnershipThe
partnershipas
partnerships
partnerships
partnerships
partnerships
partnerships)
Shareholders
partnershipsA
partnershipsgenerallimitedand
partnershipthe
partnershipthere
partnershipwhen
partnersincome
partnersincome
partnersindividual
partnersindividual
partnerspersonal
partnerunless
party
party
pay
paying
paying
pays
pays
permits
permitted
permitted
permittinglicensingand
person
person
person
person
person
person
person
personFor
personal
personal
personal
personal
personal
personally
personally
personally
persons
persons
persons
personthat
place
possible
potential
prevent
previously
previously
previously
previouslythere
principal
principal
profits
profits
profits
profits
profits
profits
profits
profits
profitsexpenseslossesand
proof
proper
propertyBy
proprietor
proprietor
proprietor
proprietors
proprietors
proprietors
proprietorship
proprietorship
proprietorship
proprietorship
proprietorship
proprietorship
proprietorship
proprietorshipBesides
proprietorshipa
protecting
protectionand
provided
provided
publication
published
purchasesenter
purpose
purposes
purposesShareholders
purposesa
railroad.

The
raise
rate
rate
rate
ratewhich
ratewhich
ratewhich
reach
receive
receive
receive
receive
receivedThe
receives
receives
receiving
receiving
recordsand
reduction
referral
regard
regard
regardless
register
register
register
register
register
registered
registered
registered
registering
registering
registering
registration
regulated
regulatory
relationship
relatively
remains
renewalIn
renewed
renewed
reported
representativeis
required
required
requirement
requirements
requirements
requirements
requirements
requirements
requirements
requirements
requirements
requirements
requirements
requirements
requirementsthey
requires
resale
resource
respects
respectsthe
responsibilities
responsibilitiesPartners
responsibilitiesPartnerships
responsibilitiesThe
responsibility
responsibility
responsible
responsible
responsible
restrictions
retail
retailer's
return
return

A
returnIllinois
returns
returns
returns
returns
returns
returns
returns.

There
rewards
right
right
rightsdutiesand
same
same
same
section
security
security
seek
selected
selected
sell
sell
selling
sells
sells
sendingplusshipping
sendingplusshipping
separate
service
services
servicesFranchises
set
set-upand
several
several
several
several
share
share
shareholder
shareholders
shareholders
shareholders
shareholders
shareholdersAlsoa
shareholdersIncomeexpensesand
shareholdersThere
shareholdersWhen
shareholderstax
shares
shares
shares
shares
shares.

The
sharing
she
she
should
similar
similar
simplest
small
social
social
soldtransferredor
soldtransferredor
sole
sole
sole
sole
sole
sole
sole
sole
sole
sole
sole
sole
sole
sole
sole
specific
specific
specific
specific
specifically
start
start
start-up
state
stateand
states
status
statusEven
statusan
statutory
stock
stock

After
stockholder
stocks
submit
submits
such
such
such
sue
sued.

Corporations
summarize
summary
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax
tax-exempt
tax-exempt
taxation
taxationThe
taxed
taxed
taxed
taxed

Subchapter
taxes
taxesand
taxpayer
taxpayer
taxpayer
than
than
than
than
than
than
than
than
than
thanshareholders
Shareholders
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
that
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
their
their
their
their
their
themselvesBenefits
themselvesBenefits
there
there
these
these
this
this
this
this
this
three
three
through
time
time-consuming
timely
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
treated
treated
treated
treated
treated
treatment
treatment
treatmentThe
two
two
two
two
two
types
types
types
types
types
types
under
under
under
unemployment
unless
up
upon
upon
upon
use
use
useIn
valid
value
value
various
venture
ventureA
ventureFranchises
venturesA
voting
way
ways
week
weeksAfter
well
well
what
when
where
whether
whether
which
which
which
while
who
wholesale
will
will
wishes
with
with
with
with
with
with
with
with
with
with
with
with
withdrawal
without
without
work
would
would
written
wrongful
wrongful
years
yearsA