

ACURatingsDescriptions
"family
"practicalan
$22.6
billion
$500-per
12-year
136-286,
AugustACU
227-204,
March(A
ABORTION
ABORTIONGreenwood
ABORTIONSAdoption
ACTPassage
ACTPassage
ACURatingsK
AMENDMENTBarton
AND
Act
Act
Act
Actthe
Administration's
Agency
Air
Appropriations
Arts
BAILOUTSanders
BROADCASTINGHoekstra
BUDGET
BUDGET
Barton
Bosnia
Broadcastingthereby
CITY
CUTSAdoption
CUTSAdoption
China
ChinaApprovedJuneACU
City
Clause
Clean
Clean
Clinton
Congress
Congress
havingdays
Conservative
Corporation
for
Cosmetic
CubaThe
Cuban
DEFENSESSpratt
DESECRATIONPassage
Delaney
Department
EXEMPTIONBonilla
Education
Association's
Endowment
Endowment
Environmental
Europe
join
Exchange
Stabilization
FOR
FUNDING
FUNDSPassage
Federal
FoodDrugand
File.
(includes
Fund
Fund
GOP-sponsored
resolution
Health
Home
House
House
House
House
House
House
House
Humanities
LIBERTY
LIMITSPassage
LOBBYISTSSkaggs
Labor
Medicare
Mexican
pesoApprovedJulyACU
Mexico
NATOApprovedFebruaryACU
National
National
OF
OVERHAULAdoption
PENSION
POLICYSmith
Page
ParenthoodApprovedAugustACU
Planned
Protection
Public
Public
REGULATIONStokes
RESOLUTIONNeumann
RESTRICTIONSClinger
REVITALIZATIONPassage
Rule
Rule
Rule
Rule
Rule
RuleFYBUDGET
RuleMEXICO
RuleTERM
SECURITY
SPENDING
Secretary
Security
Self-Executable
Senate
Service
Stenholm
TAX
Title
U.N.
peace-keeping
U.NPopulation
U.Ncommandreduce
U.S.
ground
U.Said
U.Scontribution
U.Scourt
U.Sembargo
U.SflagApprovedJuneACU
U.Sfunding
U.Snationals
U.SterritoryApprovedFebruaryACU
U.Sterritoryreplacing
U.Stroops
Union
VETOPassage
VOTESBALANCED
Votes
Download
VotesRatingsDescriptions
WashingtonD.Cproperty
Water
X
Zip
]





a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
constitutional
a
constitutional
a
defense
a
lowering
abortion
abortion
abortionApprovedNovemberACU
supported
abortions
abortions
abortionsin
activities
activity
additional
after
after
against
against
against
agencies
all
all
allow
allow
allow
also
alternative
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendment
amendmentACU
amendmentBALANCED
amendmentBOSNIAPassage
amendmentENVIRONMENTAL
amendmentFEDERAL
amendmentLINE-ITEM
amendmentNEA/NEH
amendmentPUBLIC
amendmentRAISING
amendmentWELFARE
an
and
and
and
and
and
and
and
and
and
and
and
annual
anti-missile
any
any
any
any
any
any
array
as
as
as
the
at
authority
or
balance
balance
balance
ballistic
ban
based
be
because
been
been
before
being
below
benefitApprovedFebruaryACU
benefits
bill
bill
bill
bill
bill
bill
bill
bill
bill
bill
bill
bill
bill
bill's
bill's
billAmerican
billCUBAN
billMISSILE
billNEA
billThe
billThis
billWELFARE
birth
budget
budget
budget
budget
bulk
by
by
by
bybillion
bybillion
bybillionApprovedNovemberACU
byor
byrather
campaigns
cancel
capital
cases
certain
certify
chamberRejected
child
codify
coercive
combat-readinessweapons
communist
confiscated
congressional
consideration
consideration
consideration
of
constitutional
constitutional
amendment
could
countries
countries
credit
creditthe
criteria
ApprovedSeptemberACU
currencyThe
current
curtail
cut
cut
cutting
cuttingbillion
days
debt
decisions
defense
defenses
deficit
deployas
deployment
deployment
deployment
descriptions
desecration
direct
directly
distributed
do
do
double-weightedLOBBYING
double-weightedTAX
each
effort
efforts
eligibilitylimit
eliminate
elimination
enactmentwith
encourage
endangeredto
require
enforcing
entire
entities
entity
entity
environmental
establish
except
exemption
expenditures
expiredRejectedJulyACU
face
federal
federal
federal
federal
federal
fetus
file
final
fiscal
fiscal
RejectedNovemberACU
fiscalRejected
five
five
five
floor
floor
floor
floor
consideration
foodApprovedJuly
ACU
for
for
for
for
for
for
for
for
for
for
for
for
force
RejectedDecemberACU
foreign
foreign
foreign
foreign
foreign
former
freeze
from
from
from
from
from
from
from
from
encouraging
frompercent
fund
fund
funding
funds
funds
funds
gains
give
government
government
grant
grants
grants
had
has
has
have
have
have
been
help
higher
if
implementation
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
in
increase
increase
indirectly
performs
individual
intended
investment
is
is
is
it
with
joint
joint
later
lawsand
lawsincluding
sections
lease
legislative
proposalRejectedNovemberACU
levels
life
lifetime
limit
limit
limita
litigation
in
lobby
lobbyor
loopholes
majority
majority
majority
make
managers
members
military
minimum
missiles
modernization
money
money
money
more
mother
no
non-Social
not
o
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
of
Defense
of
Octobereffectively
of
amendments
of
missile
offset
on
on
on
on
on
on
Cuba
operate
operation
operationsand
opposed
opposed
opposed
opposed
opposed
opposition
or
or
or
or
or
or
or
or
or
or
or
or
order
organizations
outlays
outlays
over
over
part
partial
partially
delivers
participate
partyor
pass
pass
passage
pastmonths
peace-keeping
pension
percent
performing
performing
person
pesticides
place
planningprojects
point
policy,
which
political
present
president
president
president
certifies
president's
ability
priority
private
program
prohibit
prohibit
prohibit
prohibit
prohibit
prohibiting
recipients
prohibits
projected
promote
properties
propertiesApprovedSeptemberACU
proposals,
including
proposalsApprovedAprilACU
propose
propose
propose
provide
provide
provide
provide
providemillion
for
provision
provisions
provisions
provisions
prohibiting
public
public
public
raise
rapeincestor
rate
ratificationThe
amendment
ratings
receive
receiving
regarding
relations
replaced
require
required
rescind
resolution
resolution
resolutionMEXICO
resolutionThis
restoring
restrict
revoke
saving
savingsRejectedMayACU
serious
service
servicesApprovedMarchACU
supported
seven
short-range
should
simple
soRejectedAugustACU
social
social
soon
spending
spending
spending
spending
spent
states
states
flexibility
stipulating
strike
strike
strike
substitute
substitute
suit
support
support
support
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
supported
the
targeted
tax
tax
tax
taxand
taxes
taxes
taxes,
engage
taxesbeginning
taxpayersmillion
ten
terminated
than
than
thanby
that
that
that
that
that
that
that
purchase
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
the
Interior
the
National
the
amendmentFLAG
the
amendmentNATIONAL
the
billLATE-TERM
the
costs
the
previous
the
requirement
their
their
authorizations
there
have
they
they
those
threatApprovedJanuary[On
three-fifths
through
through
through
tighten
times
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
to
change
to
impose
topercentand
trade
and
troops
two
two-thirds
under
under
unless
urging
use
used
using
using
public
variety
various
vehicleACU
violate
vote
vote
vote.)







HOUSE
votethe
voting
waive
waived
war
was
was
welfare
welfare
when
which
which
which
would
who
whose
with
withhold
within
would
would
wouldas
years
years
years
yearsby
reducing