



Producci&oacute;n
&aacute;rea
&aacute;reas
&aacute;reas
&eacute;xito
&uacute;ltimos
(&#147;re-entryPor
136
millones
15%.
A
1995
fue
1995,
fueron
40%
de
AGUA
AGUA
Barrancas
BarrancasMendoza.
<img
src="../../../../images/BARRA.GIFalign="bottomwidth="520"
height
<img
src="../../../../images/YPF3D2.GIFalt="YPF
Barrosaubicado
Brecha
Chihuido
Chilecomplet&oacutesu
primer
Concepci&oacute;nen
Cuenca
Cuenca
Cuenca
Cuenca
Neuquina.
Los
DE
DE
DE
DE
DE
FOTOalign="bottomwidth="579"
height="183">
En
FOTOalign="bottomwidthheightEquipos
Filo
IMAGENalign="bottomwidthheight="76">
Otro
INJECCION
INJECCION
Jorgedonde
LOGOalign="bottom"
borderwidthheight="52">



Mendozapermiten
Moradoyacimiento
Negra
se
Negra-Lomitasdonde
Negra-Lomitasincrement&oacute;
las
Neuqu&eacute;nEnel
Neuqu&eacute;nen
Argentinahasta
NeuquinaEl
Neuquinadonde
resultaron
Norteprovincia
Nuevos
PETROLEOalign="bottomwidth="224"
height<imgsrc="../../../../images/EQUIPOS.JPGalt="EQUIPOS
Petr&oacute;leo



<body
Rinc&oacute;n
San
Sierra
Sierra
Sierra
Sierra
Verdese
YPF
YPF
YPF
YPF
YPF.
&#160;<img
src="../../../../images/BRECHAVE.JPG"
alt="PLANTA
YPFEnse
a
a
a
a
a
a
a
a
a
fines
a&ntilde;o
a&ntilde;o.
Estos
a&ntilde;osla
abre
acelerar
actividad
actividadDesde
agua
agua
agua
agua
al
al
incremento
algunos
algunos
anual
area
de
as&iacutetambi&eacute;n
asociadas
a
aumento
aunque
avanzada
avanzadaEn
background="../../../../images/YPFFON.JPG"
bgcolor="#FFFFFFtextlink="#0000FFvlink="#000080"
alink="#800040">
&#160;
<img
barriles
barriles
barrilesSe
barrileso
cabo
cantidad
casosaumentar
casquete
clave
comienzos
comoeste
con
con
con
conificaci&oacute;n
consecutivo
continuo
contribuyeron
convencionalesAdem&aacute;s,
la
corto
costos
razonables.Chihuido
creci&oacutea
crudo
crudo
crudo
cualeseran
cuarto
a&ntilde;o
cumplir
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
Mendozalos
de
Neuqu&eacute;n.
En
de
agua
de
aguapara
de
desarrollounm&aacute;s
de
gas
de
gascomo
de
perforaci&oacute;n
de
perforaci&oacute;n
de
petr&oacute;leo
de
petr&oacute;leo
de
pozos
de
pozos
de
producci&oacute;nla
de
recuperaci&oacute;n
de
reinyecci&oacute;n
de
reinyecci&oacute;n
deel
del
del
del
del
del
Golfo
delgadolos
desarrollo
desarrollo
desde
dise&ntilde;o
durantecontraequipos
enEnla
eficaz
egreso
ejecuci&oacute;n
ejecut&oacuteun
ejemploel
ejemploen
ejemploen
Chihuido
ejercicioLa
ejerciciolas
reservas
el
el
el
el
el
el
el
el
el
elde
embargola
conversi&oacute;n
empresa
empresa
empresa
empresa
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
funcionamiento
en
varios
enAproximadamente
encorresponden
ense
eny
es
es
ese
especialmente
esperadosSin
espesor
est&aacute;n
estos
pozos
estrategia
excelente
existentes
existentes
exitoso
exitoso
exitosos
extra&iacute;da
extracci&oacute;n
de
factor
favorables
filtra
fines
fue
fue
fueron
gas
gas
gas-liftaumentando
simult&aacute;neamente
gasPor
generados
horizontal
horizontales
horizontales
rinden
importante
y
incorpor&oacutereservas
pormillones
incorporaci&oacute;n
incorporadas
increment&oacuteunena
incrementar
incrementos
inferiores
iniciaron
inyecci&oacute;n
inyeccion
inyeccion
inyectandobarriles
inyectores
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
evaluaci&oacute;n
la
producci&oacute;n
la
producci&oacute;n
la
producci&oacute;n
la
producci&oacute;n
la
producci&oacute;n.
Enel
laproduccion
las
las
las
las
las
las
localizados
los
los
los
los
los
los
los
los
los
los
Saucesen
los
costos
los
reservorios
los
reservorios
losmillones
luego
m&aacute;s
elevado
mantenimiento
mantenimientoTambi&eacute;n
maximizar
mediano
mejorar
mejorar
moderada
niveles
nuevas
nuevos
obtenidos
obtuvo
oleoducto
Estenssoro-Pedralsdonde
oleoducto
transport&oacutebarriles
operados
operativos
oportunidades
otros
yacimientos
para
para
controlar
pasaran
perforaci&oacute;n
perforaci&oacute;n
perforaci&oacute;n
perforaci&oacute;n
perforaci&oacute;n
permiti&oacuteque
permitieron
permitiran
petr&oacute;leo
petr&oacute;leo
petroleo
petroleo

La
planta
por
por
por
por
por
por
d&iacute;ade
por
d&iacute;ay
pozos
pozos
pozos
pozos
pozos
pozos
pozos
pozos
presi&oacute;npermiti&oacute;
estabilizar
producci&oacute;n
producci&oacute;n
producci&oacute;n
producci&oacute;n
producci&oacute;nEste
crecimiento
producci&oacute;ny
produccion
produccion
producidos
producir
productividad
de
productores
programa
programa
programa
programa
programas
programas
programas
programas
promedioYPF
prospectivasExcluyendo
provincia
proyecto
puesta
que
que
que
que
que
que
que
que
que
contribuy&oacutea
r&eacute;gimen
radio
recuperables
recuperacion
secundaria
reduciendo
refleja
reglamentaciones
gubernamentales
reingreso
reinyecci&oacute;n
reinyecta
relativamente
rendimiento
rendimiento
rentable
representan
reservas
reservas
reservas
reservas
reservas
reservas
respuesta
resultados
resultados
riesgo.
Tambi&eacute;n
se
se
se
se
completaron
se
llev&oacutea
sea
secundaria
significativa.
<img
sistema
sobre
src="../../../../images/ZUPCRUDE.GIF"
alt="PRODUCCION
src="../../../../images/ZUPSECRE.GIF"
alt="TEXTO
su
sucede
sumabanmillones
superior
tambi&eacute;n
tasa
termin&oacutepozos
terminaronpozos
horizontalesfundamentalmente
tiene
tres
tuvoequipos
un
un
intenso
una
una
una
una
unde
participaci&oacute;ny
unm&aacute;s
v&iacute;a
va
vendi&oacute;
durante
venteo
verific&oacuteas&iacuteel
verticales
y
y
y
y
y
y
y
y
y
de
y
mediocomo
yacimiento
yacimientos
yacimientos
yacimientosPor
yen