



Programa
(&#147;workoversDada
(reservorios27%
menos
1996



<body
Comodoro
Cuenca
DE
DESARROLLO
Desarrollo
Golfo
Huincul,
en
JorgeSe
LOGOalign="bottom"
borderwidthheight



NeuquinaYPF
Oc&eacute;ano
Atl&aacute;nticose
PARAalign="bottomwidth="330"
height="18">
Enla
Plaza
Rivadavia
Rivadaviaen
San
actividad
al
aproximadamentpozos
background="../../../../images/YPFFON.JPG"
bgcolor="#FFFFFFtextlink="#0000FFvlink="#000080"
alink="#800040">
&#160;
<img
colocar
compa&ntilde;&iacute;a
planea
concentrar&aacuteen
cuenca
de
de
de
de
de
de
Comodoro
del
del
denuevos
denuevos
dereparaciones
dereparaciones
(&#147;workoversAdem&aacute;sense
iniciar&aacute;nproyectos
desarrollo
empresa
en
en
en
en
enLa
espera
esta
esta
esta
zona
exteriorEn
ha
habr&aacutede
invertir
inyectores.
Esta
la
la
la
la
la
la
proximidad
m&aacute;s
m&aacute;s
mercados
movilizarequipos
para
para
perforar
perforar
pozos
pozos
producci&oacute;n
programa
realizar
programado
proyectos
que
realizar&aacutemas
recuperaci&oacute;n
regi&oacute;n
regi&oacute;n
regi&oacute;n.
<img
src="../../../../images/BARRA.GIFalign="bottomwidth="520"
height="10">
<img
src="../../../../images/YPF3D2.GIFalt="YPF
se
secundaria
tambi&eacute;n
src="../../../../images/ZUP1996.GIF"
alt="PROGRAMA
y
ypozos
zonay
m&aacute;s