



Exploraci&oacute;n



<body
&aacute;reas
&aacute;reas
&aacute;reas
(UTEsEncasi
(a
(offshoreAdem&aacute;sYPF
(s&iacute;smica
(tridimensional).
YPF
(yacimientos
Aguarag&uuml;e
1996,
destinados
3-D
3-D
3-DSe
AcambucoNeuquina
AmocoMobilShellTotal
Areas
AsfaltoAunque
Bajo
Chacoparanaenseparcialmente
Constitucion
Cuenca
Cuenca
Cuenca
Cuenca
Cuenca
Cuenca
Ca&ntilde;ad&oacute;n
Cuencas
Cuencas
CuencasNuevasYPF
EsfuerzosExploratorios
ExistentesYPF
Explorar
Golfo
Golfo
Jorge
Jorge
LOGOalign="bottom"
borderwidthheight="52">



La
Latay
Loma
Mediano
Noroeste
NoroesteYPF
Noroestela
PetroleumAmpliar
RiesgoDesde
RiesgoMediante
Saladokmde
San
San
Superficie
Texas
Transitorias
Transitorias
UTEsAdem&aacute;s,
ense
UTEsEnen
Union
Uniones
Uniones
YPF
YPF
YPF
a
a
a
a
a
a
a
a&ntilde;os
actividad
ser&aacuteinferior
afuera
afuera

Enlos
ahora
al
alto
alto
ampli&oacutela
amplia
aprovechar
aproximadamentekmde
s&iacute;smica
argentinas
ascender&aacuteamillones
asociaci&oacute;n
asociadas
asociadas
aumentar
background="../../../../images/YPFFON.JPG"
bgcolor="#FFFFFFtextlink="#0000FFvlink="#000080"
alink
<img
bajo
base
cantidadsignificativa
clavesConcentrar
comparaci&oacute;n
con
con
con
conmillones
invertidos
considera
contraste
convencional
costa
costa
crecimiento
cualesaproximadamente
cuatro
cuencaYPF
cuencas
cuencas
cuencassumando
cuenta
datos
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
YPF
de
cinco
de
exploraci&oacute;n
de
exploraci&oacute;n
de
petr&oacute;leo
de&eacute;ste
deEmpresas
deEmpresasPara
dealto
dede
ellosperforados
deexploraci&oacute;n
deexploraci&oacute;n
deexploraci&oacute;n
deexploraci&oacute;n
deincorporar
dekmenCon
dekmena
dekmpara
dekmykmen
del
del
del
del
del
del
delColoradotambi&eacute;n
delde
delde
desarrolla
desarrollar&aacute;n,
fundamentalmenteen
destinar&aacute;n
diversificar
donde
dos
el
el
el
el
el
yacimiento
elde
elde
eles
elper&iacute;odoproyectos
empresa
empresa
empresas
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
producci&oacute;nLas
enYPF
enellaskmEn
enfoques
enhasta
enkmyen
es
es
esa
espera
est&aacute;n
est&aacuteexpandiendo
estas
estima
estrategia
estrategia
excelentes
experiencia
exploraci&oacute;n
exploraci&oacute;n
exploraci&oacute;n
sumaronmillonesen
exploraci&oacute;nEncuanto
exploraci&oacute;nde
explorar
exploratoria
exploratorias
exploratorios
exploratorioseny
exploratoriosrelevarkm
de
flanco
focaliz&oacutesu
fronterizaal
fue
fueron
fundada
fundamental
gas
gasEn
gastos
gastos
gastos
gastostotalesDiversificar
geol&oacute;gicos
gerenciablecoherente
ha
ha
incluyen
insumieron
inversionestotalesLa
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
perforaci&oacute;n
laNeuquinaEn
largo
largo
del
las
las
las
las
las
lasAreas
lo
local
locales
lograr
los
los
los
los
los
los
m&aacute;s
m&aacute;s
mejor
menos
menos
muchos
naturalYPF
neta
nivel
noexplotadas
nuevas
nuevas
nuevos
nuevosproyectos
occidentalTambi&eacute;n
omediano
operacionesmediante
operadas
operadora
oportunidades
oportunidades
otras
para
particip&oacuteen
participaci&oacute;n
perforaci&oacute;n
perforaci&oacute;n
perforaci&oacute;n
depozos
perforaciones
perforarpozos
petr&oacute;leo
planes
planificado
plazo
por
por
compa&ntilde;&iacute;as
pozos
pozos
principales
producci&oacute;nPosicionarse
programa
programa
flexible
programado
propios
propiosEntrelas
proyectos
proyectos
que
que
que
querealizar&aacute;n
reducir
reemplazar
refleja
relevaronkil&oacute;metros
rentable.
<img
src="../../../../images/BARRA.GIFalign="bottomwidth="520"
height="10">
<img
src="../../../../images/YPF3D2.GIFalt="YPF
reservas
reservas
reservascomprobadas
riesgo
riesgo
riesgo
riesgo
riesgoEsta
s&iacute;smica
s&iacute;smica
s&iacute;smica
convencional
se
se
se
se
serealiz&oacuteen
siempreYPF
src="../../../../images/ZUPEXP.GIF"
alt="EXPLORACIONalign="bottomwidthheight="18">
Para
sudeste
superficie
superficie
sus
sus
sus
susrecursosYPF
tiene
tiene
tienekmnetos
tieneyacimientos
todoel
total
totalse
trabajoexploratorio
tres
triplic&oacutelas
un
un
una
y
y
y
y
y
y
y
y
y
y
ya
ya
yacimientos
yacimientos
yacimientosEstas
actividades
ykmde
yuna