



Informaci&oacute;n
(informaci&oacute;n
(informaci&oacute;n
Aplicaci&oacute;n
Auditor<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Anexos<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">CuadrosBalance
Auditor<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Informaci&oacute;n
Comisi&ograve;nFiscalizadora

<img
src="../../images/BARRA.GIFalign="bottomwidth="520"
height
<img
src="../../images/YPF3D2.GIFalt="YPF
Consolidados<fontsize<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Informe
Contables<fontsize<ahref="SPNOTES5.HTMLExposiciones
ECONOMICA
Econ&oacute;mica
Estados
Evaluaci&oacute;n
FINANCIERAalign="bottomwidth="579"
height<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Memoria<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Balances
Financiera



<body
Fondos<fontsize<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Notas
Gas(Informaci&oacute;n
Generales
Generales<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Estados
LOGOalign="bottom"
borderwidthheight="52">



Neto<fontsize<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Estados
Origen
Patrimonio
Resultados<imgsrc="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><fontsize="3">Estados
auditor)"><fontsize="3"><img
auditor)"><fontsize="3">Exposici&oacute;n
background="../../images/YPFFON.JPGbgcolor="#FFFFFF"
textlink="#0000FFvlinkalink
<img
cubierta
cubierta
cubierta
de
de
de
de
de
de
de
del
del
del
del
del
el
el
el
gas
gas
infome
informe
informe
la
los
no
no
no
petr&oacute;leo
petr&oacute;leo
petroleo
por
por
por
sobre
sobre
sobre
src="../../images/TRIA2.GIFalign="bottomborderwidthheight="43"><ahref="SPNOTES5.HTMLExposiciones
src="../../images/ZFININFO.GIF"
alt="INFORMACION
y
y
y
y