



2do
$10
registrados
$11
millones
$151
millones
$17
millones
$176
millones
$368
millones
$38
millones
$47
millones
$49
millones
$61
millones
&aacute;rea
&aacute;rea
Acambucooperada
&aacute;reas
&aacute;reas
&aacute;reas
gas&iacute;feras
&eacute;xito
&uacute;ltimo
&uacute;ltimos
(&quot;EE.UU.&quotmayores
(DOWNSTREAM)
El
(Downstream
La
(IntersegmentoGas
(MAXUS)
La
(MaxusSegundotrimestreSeis
(NYSE:YPFinform&oacuteque
(Upstream
(Upstream
(aplicados
,en
Argentinaascend&iacute;a
.
IMPUESTO
1992
hastala
1992,
que
1995
La
1995
mientras
1995.
INTERESES
1995.
La
1995.
Las
1996
ascendi&oacuteamillonessuperior
1996
ascendieron
1996
creci&oacuteunamillones
1996
declin&oacutelevemente
1996
disminuy&oacuteamillones
1996
fuemillones
1996
incluye
1996
incluyen
1996
uspor
1996.
DIVIDENDOS
1996.
INDUSTRIALIZACION
34%,
depor
55%,
alcanzandomillonesconvirti&eacute;ndose
61
mil
A
ACCIONES
Activo
Activo
ActivoPASIVO
Aguada
AiresArgentinaAgostoYPF
Antonio
Aplicaci&oacute;nde
Aprueba
Argentina
alcanzaron
Argentina.
INDUSTRIALIZACION
ArgentinaEstado
Austral
S.Ay
Bolivia
Bolivia
Bolivia
Bolivia
parcialmente
BrasilEn
COMENTARIOS
COMERCIALIZACION
COMERCIALIZACION
Capital
Comercializaci&oacute;n
ascendi&oacuteamillonesdisminuyendo
Comercializaci&oacute;n
disminuy&oacutedebido
ConsolidadoMillones
ConsolidadoMillones
ConsolidadosSegundotrimestreSeismesesMillones
Corporaci&oacute;n
CorporationLa
CorrienteActivo
CorrienteCr&eacute;ditos
CorrienteCuentas
CorrienteCuentas
CorrientePasivo
CorrienteTotal
CorrienteTotal
DE
DE
DE
DE
DE
DEvsSEIS
Departamento
Diciembre
Diciembre
Directorio
Directorio
EE.UUaument&oacuteun
EE.UUu$s/mpcGas
EE.UUy
EGRESOS
El
Econ&oacute;mico
Econ&oacute;micos
Econom&iacute;a
Ecuador
Energy
Enero
Estado
Estado
Estados
Exploraci&oacute;n
Exploraci&oacute;n
Exploraci&oacute;n
Exploraci&oacute;n
Exploraci&oacute;nAmortizacionesCosto
FINANCIACI&Oacute;NRescate
FINANCIEROS
Fondos
Fuel
GANANCIAS
El
GENERADOS
General
Gobierno
Golfo
INTERES
Participaci&oacute;n
INTERNACIONAL
INVERSI&Oacute;NAdquisici&oacute;n
Indonesia.
Alde
IndonesiaEl
promedio
Industrializaci&oacute;n
Industrializaci&oacute;n
IntangiblesTotal
Internacional
Internacional
Internacionales.
En
JavaEcuadorBoliviaVenezuelaPrecio
JavaEcuadorBoliviaVenezuelaTotal
JavaVentasmbdPrecio
JavaVentasmmpcdPrecio
Javaen
Jorge.
La
JunioYPF
Junioel
KeroseneFuel
LAS
LOGOalign="bottom"
borderwidthheight="52">



La
La
La
Leonexpres&oacute;
que:
&quot;El
LimaPer&uacuteDichodel
capital
MESES
MESES
Maxus
Maxus
Maxus
Maxus
Maxus
Maxus
a
Maxus
sobre
Maxus)
En
Maxus)
La
Maxus,
que
MaxusExploraci&oacute;n
MaxusLas
MaxusOtrosFondos
MaxusSegundotrimestreSeismesesDATOS
Maxusb&aacute;sicamente
Maxusel
Maxusen
Maxusmillones
Mayo
Millones
NEGOCIOS
El
NEGOCIOS
El
NETOPasivo
Negocios
Negocios
Neuquina
Noroeste
Noroeste
OPERATIVASUtilidad
OPERATIVOSTotal
OPERATIVOSVentas
Obras
OilJet
OilLPGOtrosTotalPrecios
Operaciones
Origen
Otros
PASIVOS
Los
PATRIMONIO
POR
POR
PREFERIDAS
Como
PRODUCCION
PRODUCCION
PRODUCCION
Pampilla
Pampilla
Pampillafue
Pasivo
Pasivo
PasivoParticipaci&oacute;n
PasivoParticipaci&oacute;n
Patrimonio
Pedrito
Per&uacute;.
En
Peruano
Pesos(excluyendo
PesosInversiones
PesosJunioACTIVOActivo
PesosSegundotrimestreSeismesesExploraci&oacute;n
PesosSegundotrimestreSeismesesVentas
PesosSeismesesACTIVIDADES
Petroken
(petroqu&iacute;micaLa
Petrokensociedad
Petrokensociedad
Pichana
Presidente
Producci&oacute;n
Producci&oacute;n
creci&oacuteprincipalmente
Producci&oacute;nIndustrializaci&oacute;n
PromedioCrudou$s/b
RESULTADOS
Refiner&iacute;a
Refiner&iacute;a
Release



<body
Releasealign="bottomwidth="577"
heightResultados
Reorganizaci&oacute;n
Resultados
Consolidado
Resultados
Consolidado
S.ANells
SEGUNDO
San
San
San
ServiciosP&uacute;blicosEstimaciones
Sociedad
Sociedad
Sociedad
An&oacute;nima
Sociedadcon
Sociedadexcluyendo
SumatraNoroeste
SumatraNoroeste
Sumatraen
TENENCIA
Otros
TOTAL
TRIMESTRE
1995
EXPLORACION
TRIMESTREvs
TrimestrePress
TrimestrePress
U.Sd&oacute;lar


Buenos
Unidos
UnidosSudeste
UnidosSudeste
Upstream
Upstream(miles
UsoActivos
Venezuela
X-1,
cuyos
Y
Y
Y
Y
Y
Y
Y
YPF
YPF
YPF
YPF
YPF
YPF
YPF
YPF
YPF
YPF
YPF
YPF
YPF
alcanz&oacutea
YPFEstado
YPFEste
YPFResumen
YPFde
YPFel
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
la
a
trav&eacute;s
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
a&ntilde;o
anterior
a&ntilde;o
anteriordebido
a&ntilde;o
debido
a&ntilde;oDos
a&ntilde;oLa
a&ntilde;oreflejando
el
abiertos
abiertos
acci&oacute;npesos/acci&oacute;nun
acciones
acciones
acciones
acciones
acciones
acciones
acciones
acciones
preferidas
acciones
preferidasla
accionespreferidasDividendos
accionespreferidasPr&eacute;stamos
accionespreferidasUtilidad
aceptados
actividad
actividades
actividades
actividades
actividades
exploratorias
actividades
operativasla
actividadesde
activos
activos
acuerdo
acumulado
acumulados
adicionales
est&aacute;n
adjunta
administrativosResultado
adquisici&oacute;n
adquisici&oacute;n
ageneradospor
agotar
ahorros
ajuste
al
al
al
al
al
al
al
al
al
al
al
incremento
alas
alas
alcanzada
alcanzadas
alcanzando
alguno
amil
amil
amillones
amillones
amillones
amillones
durante
amilloneslos
amortizaciones
amortizaciones
amortizaciones
amortizaciones
anterior
anterior
anterior.
&#160;
SEIS
anterior.
Al
anterior.
En
anterior.
Los
anterior.
OTROS
anteriorEl
anteriorLos
anteriorcomo
anteriorcomo
resultado
anteriordado
que
anteriorlas
anteriorregistrandomillones
antes
antes
antes
antes
antes
aplicados
apor
aportados
por
aprob&oacuteun
argentina
argentino
estableci&oacutecon
argentinoExportacionesOtras
ascendieron
ascendieron
asumir&aacutela
atraviesa
aument&oacuteun
aumento
aumento
ausencia
ausencia
b&aacute;sicamente
background="../images/YPFFON.JPGbgcolor="#FFFFFF"
textlink="#0000FFvlinkalink="#800040">
&#160;
<img
baja
baja
bancosInversionesCr&eacute;ditos
barril
barriles
barriles
barriles
barriles
barriles
barriles
barriles
barriles
barriles
diarios
barriles
registrados
bien
bienes
bienes
bienesde
bienesde
bloque
Aguarag&uuml;ejuntamente
c&iacute;clicos
c&uacute;bicos
c&uacute;bicos
c&uacute;bicos
c&uacute;bicos
c&uacute;bicos
c&uacute;bicos
c&uacute;bicos
diarios
c&uacute;bicosrespecto
cabo
cambio
cambio
cambio.
Otros
cambioTotal
cambios
cantidad
capital
capital
capital
capital
cargas
cargas
cargo
cargo
cargos
cargos
cargos
financierosmenor
causados
cerca
cercano
certificar
cierre
ciertos
combinaci&oacute;n
comentar
comenzado
comercializaci&oacute;nGastos
comienzos
como
como
como
como
como
como
como
consecuencia
como
consecuencia
como
resultado
compa&ntilde;&iacute;a
comparaci&oacute;n
comparaci&oacute;n
comparaci&oacute;n
comparaci&oacute;n
comparaci&oacute;n
comparaci&oacute;n
comparaci&oacute;n
comparaci&oacute;n
comparados
compens&oacuteel
incremento
compens&oacutelos
compensado
compensado
compensados
compensados
compensados
competencia
completados
compra
compradoIncluye
compras
compras
compromisos
ambientales
computados
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
con
losmillones
concepto
conciliar
concordancia
condensados
condiciones
conmillones
conmillones
conmillones
en
consecuencia
consecuencia
consecuencia
consecuencia
del
consecuentemente
consideradas
consolidado
contables
contables
contables
contables
generalmente
contrato
contribuyeron
controladas
consolidadas
controladasPatrimonio
convertibles
remanentes
correspondientes
corrienteCaja
costos
costos
costos
costos
costos
costos
costos
costos
del
costosen
funci&oacute;n
costoslo
cr&eacute;ditosBienes
cr&eacute;ditosInversionesBienes
creciente
crecieron
crecieron
crecieron
crecieronalcanzando
un
crecimiento
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo
crudo(miles
crudo.
Comparado
crudo.
Los
crudo.
OTROS
crudoVentas
crudoel
crudola
crudoparcialmente
crudos&oacute;lidos
precios
crudou$s/bEstados
cual
cual
cual
m&aacute;s
cuala
cuales
cubrir
cuenca
cuenca
cuenca
cuestiones
estacionaleslo
d&iacute;a
d&iacute;a
d&iacute;a
d&iacute;a
d&iacute;a
d&iacute;a
d&oacute;larRevisado
datos
datos
datos
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
de
Exploraci&oacute;n
de
Maxustodo
de
Norteam&eacute;rica
de
Petroper&uacutela
de
bienes
de
costos
de
costos.
El
de
desarrollo.&quot;
&#160;
SEGUNDO
de
exploraci&oacute;n.
Los
de
exploraci&oacute;nLas
de
exportaci&oacute;n.
Respecto
de
la
de
la
de
los
de
mayores
de
petr&oacute;leo
de
petr&oacute;leo
de
pies
de
pies
de
recuperaci&oacute;n
de
reorganizaci&oacute;n
de
resultados
de
sus
deArgentinaPBI(a&ntilde;oIndice
deEl
deEl
deEn
deIncluye
deMaxusResultado
deMaxusResultado
deYPFResumen
dea&ntilde;os
deacciones
deal
deascendi&oacuteamillones,
comparados
deascendieron
deber&aacute;n
debi&oacuteprincipalmente
debido
debido
debido
debido
debido
a
declin&oacuteamillones
declinaci&oacute;n
los
decomo
resultado
decomparado
decon
decreci&oacuteamillones
respecto
dede
dede
dede
Industrializaci&oacute;n
dede
Otros
dedebido
dedeclin&oacuterespecto
dedemillonesla
dedemillonesla
dedicada
deel
deel
deen
comparaci&oacute;n
defondosFondos
defue
defue
defue
levemente
defueronmillones
deinclu&iacute;anmillones
deincluyeimillones
deincluyen
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
del
a&ntilde;o
del
a&ntilde;o
del
a&ntilde;o
del
a&ntilde;o
del
crudomenores
del
mismo
del
mismo
del
segundo
delSin
dela
delas
delde
delde
delos
precios
delpetr&oacute;leobdNaftasGas
deltotalizan
demil
demil
barriles
demillones
demillones
demillones
demillones
demillones
demillones
demillones
demillones
registrada
demillonesDe
demillonessuperando
depermaneciendo
depor
deprincipalmente
deque
dereflejaron
derivados
derivados
derivados
de
desarrollo
llevadas
desarrollo,
principalmente
descontar
dese
devengar
impuesto
dey
deyla
deyrespectivamente.
OTROS
dia-mbdEstados
diarios
diarios
diarios
diarios(mmpcdVenta
diariosmbdProducci&oacute;n
diariosmmpcdProducidoCompradoTotal
diferencias
entre
dificultades
disminuy&oacuteen
dividendos
dividendos
dividendos
dividendos
dividendos
dividendosde
divisi&oacute;n
donde
durante
durante
e
e
efectivade
efecto
efecto
efectuaron
egresos
registrados
egresosnetosInteresesOtros
egresosnetosInteresesOtros
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
el
gas
el
gobierno
el
incremento
el
pa&iacute;s.
Comparada
el
per&iacute;odo
el
primer
el
segundo
el
segundo
el
segundo
elde
eliminaci&oacute;n
ello
embargodesde
embargola
utilidad
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
en
1996.
La
en
comparaci&oacute;n
en
los
en
los
en
proceso
enSe
encima
encuentran
los
endebido
endebido
endeudamientoIncluidos
enen
enero
enexploraci&oacute;nGastos
enfoque
del
ensociedades
entregado
entregados
entregas
entregas
era
erogacionesdestinadas
erogacionesdestinadas
es
esLa
ese
esfuerzos
esfuerzos
esfuerzos
espera
espera
esta
operaci&oacute;n.
El
estables
respecto
estado
estados
estados
estadounidense,
Maxus
estan
estatal
este
este
este
este
este
este
excepto
excluyendo
excluyendo
exitosos
expandirse
exploraci&oacute;n
exploraci&oacute;nBalance
exploraci&oacute;nFuente1995-Ministerio
exploraci&oacute;nGastos
exploratorias
contin&uacute;an
exportaci&oacute;n
exposici&oacute;n
exposici&oacute;n
exposici&oacute;n
exposici&oacute;n
extra&iacute;dolo
fecha
financiaci&oacute;n(Disminuci&oacute;nincremento
financiera
que
financieros
financieros
financieros
financieros
financieros
financierosotros
fiscalesDividendos
fiscalesPrevisionesDeuda
fortalecieron
frente
fue
fue
fue
fueron
fueron
anunciados
ganadora
ganados
ganancia
ganancia
ganancia
ganancia
ganancia
ganancia
ganancia
ganancia
ganancia
ganancia
correspondiente
ganancia
correspondientes
ganancia
por
ganancias
ganancias
ganancias
ganancias
ganancias
ganancias
ganancias
ganancias
gananciasParticipaci&oacute;n
gananciasParticipaci&oacute;n
gananciasal
gananciasparticipaci&oacute;n
gananciasparticipaci&oacute;n
gananciasparticipaci&oacute;n
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
gas
natural
gas
natural
gasLa
gaslicuadoEE.UUu$s/bGas
gasnatural
gastos
gastos
gastos
gastos
gastos
generados
generados
generados
generados
genere
giro
gradual
ha
ha
hasta$15
millones
hastamill&oacute;n
hastaymillones
hasta
historia
iial
iimillones
ila
importante
importemillones
imposibilidad
impositiva
impositivas
impositivo
impositivo
impositivos.
Alde
impositivos.
La
impuesto
impuesto
impuesto
impuesto
impuesto
impuesto
impuesto
impuesto
impuesto
impuesto
inclu&iacute;an
intereses
incluidos
incluidos
incluye
incluyela
transferencia
incremento
incremento
incremento
incremento
incremento
incremento
incremento
incremento
incremento
incurridos
inflaci&oacute;n
inflaci&oacute;n
inflaci&oacute;n
debido
inflaci&oacute;n.
Los
inflaci&oacute;nDebido
inflaci&oacute;nfue
informaci&oacute;n
ingreso
inici&oacutela
iniciaci&oacute;n
de
inicio
intangiblesConsumo
intereses
intereses
intereses
internacionalVentas
internacionales
interno
interno
intersegmentoCorporaci&oacute;nResultado
inventarios.
Adicionalmenteen
inversi&oacute;nACTIVIDADES
inversiones
inversiones
l&iacute;nea
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
la
Refiner&iacute;a
la
disminuci&oacute;n
la
industriatambi&eacute;n
la
inflaci&oacute;n
la
mayor
la
participaci&oacute;n
la
producci&oacute;n
la
renegociaci&oacute;n
la
reorganizaci&oacute;n
la
resultante
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
las
expectativas
las
ganancias
las
ganancias
las
operaciones
lasgananciasparticipaci&oacute;n
leves
aumentos
licuadoEE.UUPrecio
licuadoEE.UUmbdProducidoCompradoTotal
licuadoNoroeste
linea
linea
linea
linea
local
local
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
los
mayores
los
per&iacute;odos
los
precios
los
precios
los
primeros
los
productos
los
vol&uacute;menes
losfondos
losmil
losmil
losmil
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losmillones
losobtenidos
lospor
lospor
miles
m&aacute;rgenes
m&aacute;rgenes
m&aacute;rgenes
obtenidos
m&aacute;s
management
management.
EXPLORACION
materiales
mayor
mayor
mayor
mayor
mayor
mayor
cargo
mayor
competencia
mayor
producci&oacute;nmientras
mayor
resultado
mayores
mayores
mayores
mayores
mayores
mayores
mayores
mayores
mayores
mayores
mayores
mayores
niveles
mayores
precios
mayores
utilidades
mayores
vol&uacute;menes
mayores
vol&uacute;menes
mayoristas
mejora
mejora
menor
cargo
menores
menores
menores
menores
menores
menores
menores
menores
menores
menores
vol&uacute;menes
menores
vol&uacute;menes
mercado
mercado
mercado
mercado
mercado
LatinoamericanoYPF
meses
meses
meses
meses
meses
meses
meses
meses
dedisminuy&oacuteamillones
mesesDATOS
mesesla
mil
mil
miles
minoritaria
minoritaria
minoritaria
minoritaria
minoritariaUtilidad
minoritariaUtilidad
mismo
mismo
mismo
mismo
mitad
mitad
monetariosdiferencias
de
muestran
natural
natural
natural
natural
natural
natural
natural
natural
natural
natural
natural(FASmillones
natural.
Las
naturalEE.UUPrecio
naturalEE.UUmillones
naturalGastos
naturalNoroeste
naturalmayores
naturalmmpcdCrudo
naturalprincipalmente
naturalu$s/mpcInversiones
negativo
negocio
negociosEliminaciones
neta
neta
neta
neta
neta
neta
neta
neta
neta
neta
neta
netaAjustes
netaUtilidad
netala
netasCompras
neto
neto
neto


Los
neto


Los
netoEstado
netoTotal
netos
netos
netos
nivelgeneralTasa
no
no
no
no
no
no
no
operativosimpuesto
nuestros
nuevas
nuevas
nuevas
nuevos
objetivo
de
obligatorio
obtenida
obtenidos
obtenidos
obtenidos
obtenidos
obtenidos
obtenidosnetosDividendos
obtuvo
oferta
operaci&oacute;n
operaciones
operacionesDepreciaci&oacute;n
operadas
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativa
operativaResultados
operativas
operativasACTIVIDADES
operativo
operativo
operativo
operativo
operativoResultado
operativoResultado
operativos
operativos
operativos
operativos
operativos.
En
operativosDepreciaci&oacute;n
operativosUtilidad
operativosexcluido
operativosinternacionales
otros
p&eacute;rdida
neta
p&eacute;rdidas
pagadosFondos
pagarPr&eacute;stamosRemuneraciones
pagarPr&eacute;stamosRemuneraciones
pagarPrevisionesDeuda
para
para
para
para
para
para
para
para
parcialmente
parcialmente
parte
parte
parte
participa
participa
en
participa
en
participaci&oacute;n
participaci&oacute;n
participaci&oacute;n
particularmente
reconfortados
partir
pasado
pasadoSi
pasivos
pasivos
per&iacute;odo
per&iacute;odo
per&iacute;odo
per&iacute;odo
per&iacute;odo<img
per&iacute;odoFondos
perdidos
perdidos
perforaci&oacute;n
perforaci&oacute;n
EXPLORACION
perforaci&oacute;n
de
perforaciones
perforaciones
permanentesOtros
permanentesOtros
pesar
pesar
pesosUtilidad
pesoun
petr&oacute;leo
petr&oacute;leo.
A
petroqu&iacute;micos
petroqu&iacute;micos.
&#160;
OTROS
petroqu&iacute;micosparcialmente
pies
pies
pies
pies
pies
pies
pies
c&uacute;bicos
pies
c&uacute;bicos
plan
podr&aacute;n
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
por
barril
por
mayores
por
mayores
poractividades
pormillones.
Los
portenenciaUtilidad
portenenciaUtilidad
potencial
potencial
pozo
pozoactualmente
pozodenominado
pozos
pozos
precio
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
precios
internacionales
preciosSin
preferidas
preferidas
preferidas
preferidasDividendos
preferidasImpuesto
preferidasTotal
preferidasTotal
preferidoImpuesto
preferidoImpuesto
preparada
previsionesAumento
previsionesOtrosnetoIncremento
primer
primer
primer
primer
primer
primer
primer
primer
trimestre
primeros
primeros
primeros
primeros
primeros
primeros
primeros
primeros
principalmente
principios
privatizaci&oacute;n
privatizaci&oacute;n
procesado
producci&oacute;n
producci&oacute;n
producci&oacute;n
producci&oacute;n
producci&oacute;n
producci&oacute;n
producci&oacute;nExploraci&oacute;n
producci&oacute;ninternacionalIndustrializaci&oacute;n
productoras
productos
productos
productos
productos
productos
productos
productos
petroqu&iacute;micos.
CORPORACION
Los
productos
refinadosTambi&eacute;n
productosCompras
programas
programas
promedio
promedio
promedio
promedio
promedio
promedio
promedio
promedio
promedio
promedio
promedioPesosnominales
propiedad
proporci&oacute;n
igual
proporci&oacute;n
igual
proveniente
proveniente
de
provisi&oacute;n
provisionados
proyecto
publicidadparcialmente
compensados
qu&iacute;micoque
fue
que
que
que
que
que
que
que
que
que
que
que
que
que
garanticen
quebranto
quebranto
impositivo
r&eacute;cord
realizados
reconocido
recuperaci&oacute;n
secundarialos
recuperar
recupero
reducci&oacute;n
reducci&oacute;n
reducci&oacute;n
reducciones
refinados
tanto
refinadosEstamos
refiner&iacute;a
permitir&aacutea
refiner&iacute;asbdVentas
refleja
en
reflejar
registrada
en
registrado
registrado
registrados
registrados
registrados
relaci&oacute;n
con
relacionados
relativamente
renovado
rentabilidad
reorganizaci&oacute;n
rescate
rescate
rescate
reservas
respectivas
respecto
respecto
respecto
respecto
respecto
respecto
respecto
respecto
responsabilidad
resultado
resultado
resultado
resultado
resultado
resultado
resultado
resultado
resultado
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultados
resultadosconsolidado
resultadosconsolidadoMillones
resultante
resultantes
retiro
s&oacute;lidas
salto
en
se
se
se
se
se
se
compensaron
se
generaron
se
obtuvieron
se
redujo
secundaria
segmento
segmento
segmento
segmento
segmentosMillones
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
segundo
trimestre
segundo
trimestre
segundo
trimestre
segundo
trimestre
segundo
trimestre
segundo
trimestre
segundotrimestre
seis
seis
seis
seis
seis
seis
seis
seis
seis
seleccionados
ser
servicio
setiembre
siendo
sigue
similares
sobre
socialesCargas
socialesCargas
sociedades
sociedadescontroladas
socios
son
src="../images/BARRA.GIFalign="bottomwidthheight="10">

<img
src="../images/YPF3D2.GIFalt="YPF
src="../images/Z2Q96.GIF"
alt="2do
su
subsidiaria
subsidiaria
subsidiarias
subsidiariasno
registr&oacutecargo
suficientes
superior
sus
sus
sus
sus
sus
operaciones
tasa
tasa
tenencia
tenencia
tenencia
tenencia
tercer
terceros
terceros
terceros
tercerosmbdVenta
testeados
testeos
tiemposel
todas
todas
todos
total
totalidad
trabajoFondos
transferencia
transporte
trav&eacute;s
trimestrales
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
trimestre
de
trimestre
deel
trimestre
del
trimestre.
En
trimestredebido
un
un
un
un
un
un
un
beneficio
un
signifivativo
una
una
una
una
una
una
una
una
una
una
compa&ntilde;&iacute;a
una
ganancia
una
subsidiaria
unen
unfueron
unfueron
uso
uso
usoGastos
usoPagos
uspara
uspor
barrilsiendo
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidad
utilidades
utilidades
utilizados
vendida
vendido
vendidoPrecios
vendidos
vendidos
vendidos.
OTROS
venta
venta
venta
venta
ventas
ventas
ventas
ventas
ventas
ventas
ventasOtros
ventasOtros
ventau$s/bOtros
ventau$s/mpcVentas
vigente
vigente
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
vol&uacute;menes
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
y
Comercializaci&oacute;n
y
Indonesia.
Luego
y
Producci&oacute;n
y
Producci&oacute;n
y
Producci&oacute;n
y
gastos
y
vol&uacute;menes
yComercializaci&oacute;nOtrosTotalIndicadores
yExploraci&oacute;n
ya
yactivos
ycomercializaci&oacute;nOtros
ydividendos
ydividendos
ymillones
ymillones
por