<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Fase 5 Interace Web</title>
  </head>
  <body style="text-align: center;">
    <h1>Fase 5 Interace Web</h1>
    <div class="formulario">
      <form class="" action="{{url_for('results')}}" method="get">
        <label for="accnmb">Palabra a Buscar &emsp;</label>
        <input type="text" id="word" name="word">
        <div class="buttons">
          <input type="submit" value="Buscar" id="submit">
        </div>
      </form>
    </div>
</html>
